Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Delete fund.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/fund.spec.ts
Due: prettier --write, eslint

Update package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
Due: prettier --write

Use api-client for action
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
Due: prettier --write, eslint

Change package dependency
  elements/lisk-codec/package.json
  elements/lisk-codec/test/add_schema.spec.ts
Due: prettier --write, eslint

:recycle: Update p2p and network communication types Use buffer type for payload data update remaining hex to binary data conversion
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/peer/outbound.ts
  elements/lisk-p2p/src/peer_pool.ts
  elements/lisk-p2p/src/types.ts
  elements/lisk-p2p/src/utils/codec.ts
  elements/lisk-validator/src/validation.ts
  framework/src/node/network/network.ts
  framework/src/node/synchronizer/base_synchronizer.ts
  framework/src/node/synchronizer/synchronizer.ts
  framework/src/node/transport/transport.ts
Due: prettier --write, eslint

:recycle: Handle P2P request 1. Update p2p request to be buffer and response to be binary 2. Update transport handle event and request schema validation
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/p2p_request.ts
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/peer/outbound.ts
  elements/lisk-p2p/src/peer_pool.ts
  elements/lisk-p2p/src/schema.ts
  elements/lisk-p2p/src/utils/codec.ts
  elements/lisk-p2p/src/utils/validate.ts
  framework/src/node/network/network.ts
  framework/src/node/synchronizer/schema.ts
  framework/src/node/transport/schemas.ts
  framework/src/node/transport/transport.ts
Due: prettier --write, eslint

:recycle: Update transport payload schema validation tranport payload data will be binary, so the static schema validation should check for valid binary
  elements/lisk-validator/src/formats.ts
  framework-plugins/lisk-framework-monitor-plugin/src/monitor_plugin.ts
  framework/src/node/network/network.ts
  framework/src/node/transport/schemas.ts
  framework/src/node/transport/transport.ts
  framework/src/types.ts
Due: prettier --write, eslint

:recycle: Update pending encoding and decoding Add missing schemas to encode and decode framework events and rpc calls
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/utils/validate.ts
  framework/src/node/synchronizer/base_synchronizer.ts
  framework/src/node/synchronizer/schema.ts
  framework/src/node/synchronizer/synchronizer.ts
  framework/src/node/transport/schemas.ts
  framework/src/node/transport/transport.ts
Due: prettier --write, eslint

:recycle: Address review comments
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/types.ts
  elements/lisk-p2p/src/utils/codec.ts
  elements/lisk-p2p/src/utils/schemas.ts
  elements/lisk-p2p/src/utils/validate.ts
  elements/lisk-validator/src/formats.ts
  elements/lisk-validator/src/validation.ts
  framework/src/node/network/network.ts
  framework/src/node/node.ts
  framework/src/node/transport/schemas.ts
  framework/src/node/transport/transport.ts
Due: prettier --write, eslint

:recycle: Update plugin message communication format
  framework-plugins/lisk-framework-monitor-plugin/src/monitor_plugin.ts
  framework/src/node/network/network.ts
  framework/src/node/transport/broadcaster.ts
  framework/src/node/transport/transport.ts
Due: prettier --write, eslint

:recycle: Fix deepScan issues
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/peer/base.ts
Due: prettier --write, eslint

:recycle: Update functional and integration tests
  elements/lisk-p2p/test/functional/actions/request.ts
  elements/lisk-p2p/test/functional/actions/request_from_peer.ts
  elements/lisk-p2p/test/functional/actions/send.ts
  elements/lisk-p2p/test/functional/broadcast.ts
  elements/lisk-p2p/test/functional/custom_peer_selection.ts
  elements/lisk-p2p/test/unit/utils/validate.ts
Due: prettier --write, eslint

:recycle: Update fetchPeers to return sanitized peer list Fix p2p unit tests
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/utils/sanitize.ts
  elements/lisk-p2p/src/utils/validate.ts
  elements/lisk-p2p/test/unit/peer/base.ts
  elements/lisk-p2p/test/unit/utils/sanitize.ts
Due: prettier --write, eslint

:recycle: Address review comments Fix p2p unit tests
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/types.ts
  elements/lisk-p2p/test/unit/p2p_request.ts
  elements/lisk-p2p/test/unit/peer/base.ts
  elements/lisk-p2p/test/unit/peer/inbound.ts
  elements/lisk-p2p/test/unit/peer/outbound.ts
  elements/lisk-p2p/test/unit/peer_pool.ts
  elements/lisk-p2p/test/unit/utils/validate.ts
  elements/lisk-p2p/test/utils/peers.ts
  elements/lisk-validator/src/validation.ts
  framework/src/node/network/network.ts
Due: prettier --write, eslint

:recycle: Update framework tests Use buffer data for request and response for p2p communication: Update p2p base request type and response
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/types.ts
  framework/test/functional/network/banning/invalid_block_bytes.spec.ts
  framework/test/functional/network/banning/invalid_block_property.spec.ts
  framework/test/functional/network/banning/non_registered_event.spec.ts
  framework/test/functional/network/blocks.spec.ts
  framework/test/functional/network/transactions.spec.ts
  framework/test/functional/utils/application.ts
  framework/test/unit/node/node.spec.ts
  framework/test/unit/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.ts
  framework/test/unit/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.ts
  framework/test/unit/node/synchronizer/synchronizer.spec.ts
  framework/test/unit/node/transport/transport.spec.ts
  framework/test/unit/node/transport/transport_private.spec.ts
Due: prettier --write, eslint

:recycle: Address final review comments Move types to respective file to reduce clutter Organise base and p2p code for readability
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/p2p_request.ts
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/peer/inbound.ts
  elements/lisk-p2p/src/peer/index.ts
  elements/lisk-p2p/src/peer/outbound.ts
  elements/lisk-p2p/src/peer_pool.ts
  elements/lisk-p2p/src/types.ts
  elements/lisk-p2p/src/utils/schemas.ts
  elements/lisk-p2p/src/utils/validate.ts
  elements/lisk-p2p/test/unit/p2p_request.ts
  elements/lisk-p2p/test/unit/peer/base.ts
  elements/lisk-p2p/test/unit/peer/inbound.ts
  elements/lisk-p2p/test/unit/peer/outbound.ts
Due: prettier --write, eslint

:recycle: Update p2p and transport schema Validate transactionIds for uniqueness
  elements/lisk-p2p/src/utils/schemas.ts
  framework/src/node/transport/schemas.ts
  framework/src/node/transport/transport.ts
  framework/src/types.ts
Due: prettier --write, eslint

:recycle: Update failing p2p tests
  elements/lisk-p2p/test/unit/utils/validate.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  protocol-specs/package.json
  sdk/package.json
  yarn.lock
Due: prettier --write

:seedling: Add faucet UI
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/public/index.html
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
  framework-plugins/lisk-framework-faucet-plugin/src/ui/App.css
  framework-plugins/lisk-framework-faucet-plugin/src/ui/App.tsx
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.module.scss
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.tsx
  framework-plugins/lisk-framework-faucet-plugin/src/ui/illustration.svg
  framework-plugins/lisk-framework-faucet-plugin/src/ui/index.css
  framework-plugins/lisk-framework-faucet-plugin/src/ui/index.scss
  framework-plugins/lisk-framework-faucet-plugin/src/ui/index.tsx
  framework-plugins/lisk-framework-faucet-plugin/src/ui/logo.svg
  yarn.lock
Due: prettier --write, eslint

:recycle: Fix client typescript for frontend
  elements/lisk-client/src/index.ts
Due: prettier --write, eslint

:seedling: Add recaptcha code
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.tsx
Due: none

:recycle: Fix variable name and format
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.module.scss
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.tsx
  framework-plugins/lisk-framework-faucet-plugin/src/ui/index.scss
Due: none

:recycle: Handle ping/pong message Update inbound and outbound ping/pong message handling Update packet schema and make all props as optional Update transactions schema and remove minIteams
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/peer/inbound.ts
  elements/lisk-p2p/src/peer/outbound.ts
  elements/lisk-p2p/src/utils/schemas.ts
  elements/lisk-p2p/test/unit/peer/inbound.ts
  elements/lisk-p2p/test/unit/peer/outbound.ts
  elements/lisk-p2p/test/unit/utils/validate.ts
  framework/src/node/transport/schemas.ts
Due: prettier --write, eslint

:recycle: Handle error for rpc request
  elements/lisk-p2p/src/peer/inbound.ts
Due: prettier --write, eslint

🌱 Inject config from server to UI
  framework-plugins/lisk-framework-faucet-plugin/public/index.html
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/defaults/config.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/types.ts
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.tsx
Due: prettier --write, eslint

♻️ Update snapshot
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/__snapshots__/faucet_plugin.spec.ts.snap
Due: none

:arrow_up: Bump version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

♻️ Update src uri of config
  framework-plugins/lisk-framework-faucet-plugin/public/index.html
Due: none

💅 Fix format and remove unused prop
  framework-plugins/lisk-framework-faucet-plugin/public/index.html
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.tsx
Due: none

:recycle: Update channel communication for block and transaction publish transaction announcement and block info after decoding in transport layer
  framework/src/constants.ts
  framework/src/node/network/network.ts
  framework/src/node/transport/transport.ts
Due: prettier --write, eslint

Remove unnecessary utils
  framework-plugins/lisk-framework-forger-plugin/test/functional/forger_info/event_track.spec.ts
  framework-plugins/lisk-framework-forger-plugin/test/functional/forger_info/forger_info_sync.spec.ts
  framework-plugins/lisk-framework-forger-plugin/test/functional/forging_info.spec.ts
  framework-plugins/lisk-framework-forger-plugin/test/functional/voters.spec.ts
  framework-plugins/lisk-framework-forger-plugin/test/utils/application.ts
  framework-plugins/lisk-framework-forger-plugin/test/utils/genesis_block.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/accounts.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/blocks.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/delegates.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/forgers.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/forging.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/forging_info.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/node.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/peers.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/transactions.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/utils/application.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/fixtures/genesis_block.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/functional/save_new_block.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/integration/db.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/utils/application.ts
Due: prettier --write, eslint

:recycle: Update state store mock implementation Remove duplicate state store implementation from lisk-bft and fix tests
  elements/lisk-bft/test/protocol_specs/bft_finality_manager_protocol_specs.spec.ts
  elements/lisk-bft/test/protocol_specs/bft_invalid_block_headers_protocol_specs.spec.ts
  elements/lisk-bft/test/unit/bft.spec.ts
  elements/lisk-bft/test/unit/finality_manager.spec.ts
  elements/lisk-bft/test/utils/state_store_mock.ts
  elements/lisk-chain/src/testing/mocks/state_store_mock.ts
  elements/lisk-chain/test/unit/testing/mocks/state_store_mock.spec.ts
Due: prettier --write, eslint

Add axon dependency
  framework-plugins/lisk-framework-faucet-plugin/package.json
Due: prettier --write

Update config.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/defaults/config.ts
Due: prettier --write, eslint

Update types.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/types.ts
Due: prettier --write, eslint

:recycle: Remove duplicat state store mock Re-export state store mock from chain
  framework/src/testing/create_contexts.ts
  framework/src/testing/mocks/index.ts
  framework/src/testing/mocks/state_store_mock.ts
  framework/test/unit/modules/dpos/transaction_assets/pom_transaction_asset.spec.ts
Due: prettier --write, eslint

Add captcha check to fundTokens
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
