Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Simplify Commit List sorting logic (#8365)
  framework/src/engine/consensus/certificate_generation/commit_list.ts
  framework/src/engine/consensus/certificate_generation/commit_pool.ts
Due: prettier --write, eslint

Fix standby validator bft weight (#8374)
  framework/src/modules/pos/module.ts
  framework/src/modules/pos/utils.ts
  framework/test/unit/modules/pos/module.spec.ts
Due: prettier --write, eslint

Add 2 missing test cases for `CommitPool.verifyAggregateCommit()`
  framework/test/unit/engine/consensus/certificate_generation/commit_pool.spec.ts
Due: prettier --write, eslint

Minor improvements of commit pool test suite
  framework/src/engine/consensus/certificate_generation/commit_pool.ts
  framework/test/unit/engine/consensus/certificate_generation/commit_pool.spec.ts
Due: prettier --write, eslint

🐛 Use entry.substorePrefix
  framework/src/modules/interoperability/base_state_recovery.ts
Due: prettier --write, eslint

Use entry.substorePrefix (#8380)
  framework/src/modules/interoperability/base_state_recovery.ts
Due: prettier --write, eslint

Add 2 missing test cases for `CommitPool.verifyAggregateCommit()` (#8377)
  framework/src/engine/consensus/certificate_generation/commit_pool.ts
  framework/test/unit/engine/consensus/certificate_generation/commit_pool.spec.ts
Due: prettier --write, eslint

🔥 Remove unnecessary files and folder
  config/devnet/config.json
  config/devnet/genesis_block.json
  sdk/src/index.ts
  sdk/src/samples/config_devnet.json
  sdk/src/samples/genesis_block_devnet.json
  sdk/src/samples/index.ts
Due: prettier --write, eslint

✅ Add test files
  framework/test/fixtures/config/devnet/config.json
  framework/test/fixtures/config/devnet/genesis_block.json
Due: prettier --write

✅ Add test files to lisk-chain
  elements/lisk-chain/test/fixtures/genesis_block.json
Due: prettier --write

Remove unnecessary files and folder (#8383)
  config/devnet/config.json
  config/devnet/genesis_block.json
  elements/lisk-chain/test/fixtures/genesis_block.json
  framework/test/fixtures/config/devnet/config.json
  framework/test/fixtures/config/devnet/genesis_block.json
  sdk/src/index.ts
  sdk/src/samples/config_devnet.json
  sdk/src/samples/genesis_block_devnet.json
  sdk/src/samples/index.ts
Due: prettier --write, eslint

⬆️ Bump version 6.0.0-beta.0
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-chain-connector-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  protocol-specs/package.json
  sdk/package.json
  yarn.lock
Due: prettier --write

⬆️ Bump nodejs version in .nvmrc
  .nvmrc
Due: none

♻️ Update yarn.lock file
  yarn.lock
Due: none

⚙️ Update codeQL config
  .github/workflows/code_ql.yaml
Due: none

Bump nodejs version (#8385)
  .github/workflows/code_ql.yaml
  .nvmrc
  yarn.lock
Due: none

🌱 Add cross chain transfer scripts
  examples/interop/pos-mainchain-fast/config/scripts/transfer_lsk_sidechain_one.ts
  examples/interop/pos-mainchain-fast/config/scripts/transfer_lsk_sidechain_two.ts
  examples/interop/pos-sidechain-example-one/config/scripts/transfer_lsk_mainchain.ts
  examples/interop/pos-sidechain-example-two/config/scripts/transfer_lsk_mainchain.ts
  examples/interop/pos-sidechain-example-two/config/scripts/transfer_sidechain_one.ts
Due: prettier --write, eslint

♻️ Update interoperability genesis assets and bump sdk version
  examples/interop/pos-mainchain-fast/config/custom_config_node_one.json
  examples/interop/pos-mainchain-fast/config/custom_config_node_two.json
  examples/interop/pos-mainchain-fast/config/default/config.json
  examples/interop/pos-mainchain-fast/config/default/genesis_assets.json
  examples/interop/pos-mainchain-fast/config/default/genesis_block.blob
  examples/interop/pos-mainchain-fast/package.json
  examples/interop/pos-sidechain-example-one/config/default/config.json
  examples/interop/pos-sidechain-example-one/config/default/genesis_assets.json
  examples/interop/pos-sidechain-example-one/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-one/config/scripts/transfer_sidechain_two.ts
  examples/interop/pos-sidechain-example-two/config/default/config.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_assets.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-two/config/scripts/transfer_lsk_mainchain.ts
  examples/interop/pos-sidechain-example-two/package.json
Due: prettier --write, eslint

🌱 Add support for cross chain transfers on example apps
  examples/interop/README.md
  examples/interop/pos-mainchain-fast/config/custom_config_node_one.json
  examples/interop/pos-mainchain-fast/config/custom_config_node_two.json
  examples/interop/pos-mainchain-fast/config/default/config.json
  examples/interop/pos-mainchain-fast/sidechain_config/default
  examples/interop/pos-sidechain-example-one/config/default/config.json
  examples/interop/pos-sidechain-example-two/config/default/config.json
Due: prettier --write

⚙️ Add configurations for multiple side/mainchain nodes
  examples/interop/README.md
  examples/interop/pos-mainchain-fast/config/custom_config_node_one.json
  examples/interop/pos-mainchain-fast/config/custom_config_node_two.json
  examples/interop/pos-mainchain-fast/config/mainchain_node_one.sh
  examples/interop/pos-mainchain-fast/config/mainchain_node_two.sh
  examples/interop/pos-mainchain-fast/config/scripts/sidechain_registration.ts
  examples/interop/pos-mainchain-fast/src/pm2.json
  examples/interop/pos-sidechain-example-one/config/default/config.json
  examples/interop/pos-sidechain-example-one/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-one/config/scripts/mainchain_registration.ts
  examples/interop/pos-sidechain-example-two/config/default/config.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_assets.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-two/config/scripts/mainchain_registration.ts
  examples/interop/run_sidechains.json
Due: prettier --write, eslint

🌱 Add second sidechain example
  examples/interop/simulate_2_side_1_main_chains.json
Due: prettier --write

♻️ Bump version of SDK and update genesis-block
  examples/interop/pos-mainchain-fast/config/default/genesis_block.blob
  examples/interop/pos-mainchain-fast/package.json
  examples/interop/pos-sidechain-example-one/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-one/package.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-two/package.json
Due: prettier --write

⬆️ Bump sdk version
  examples/interop/pos-mainchain-fast/config/default/config.json
  examples/interop/pos-mainchain-fast/config/default/genesis_block.blob
  examples/interop/pos-mainchain-fast/package.json
  examples/interop/pos-sidechain-example-one/config/default/config.json
  examples/interop/pos-sidechain-example-one/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-one/package.json
  examples/interop/pos-sidechain-example-two/config/default/config.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-two/package.json
Due: prettier --write

⬆️ Bump sdk version and update genesis-blocks
  examples/interop/README.md
  examples/interop/pos-mainchain-fast/package.json
  examples/interop/pos-sidechain-example-one/package.json
  examples/interop/pos-sidechain-example-two/package.json
Due: prettier --write

Add scripts and updated README
  examples/interop/README.md
  examples/interop/monitor
  examples/interop/start_example
Due: prettier --write

♻️ Store storeValue with each inclusionProof
  examples/interop/pos-mainchain-fast/config/scripts/recover_lsk_plugin.ts
Due: prettier --write, eslint

♻️ Update recover LSK script
  examples/interop/pos-mainchain-fast/config/scripts/recover_lsk_plugin.ts
Due: prettier --write, eslint

💅🏻Rename sidechain one to pos-sidechain-example-one
  examples/interop/simulate_2_side_1_main_chains.json
Due: prettier --write

⚙️ Add configurations for multiple side/mainchain nodes
  examples/interop/simulate_2_side_1_main_chains.json
Due: prettier --write

🌱 Add recovery plugin script
  examples/interop/pos-mainchain-fast/config/scripts/recover_lsk_plugin.ts
Due: prettier --write, eslint

♻️ Resolve merge conflicts and update genesis block
  examples/interop/pos-mainchain-fast/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-one/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-two/config/default/genesis_block.blob
Due: none

🌱 Add cross chain transfer scripts
  examples/interop/pos-sidechain-example-two/config/scripts/transfer_sidechain_one.ts
Due: prettier --write, eslint

♻️ Update interoperability genesis assets and bump sdk version
  examples/interop/pos-sidechain-example-two/config/scripts/transfer_sidechain_one.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
