Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

:seedling: Add standard event data schema
  framework/src/engine/endpoint/system.ts
Due: prettier --write, eslint

♻️ Update genesisBlock with interoperability assets - add data for ownChainDataSubstore and registeredNamesSubstore - Update chainID to 04000000 and tokenID to 0400000000000000
  examples/pos-mainchain/config/default/config.json
  examples/pos-mainchain/config/default/genesis_assets.json
  examples/pos-mainchain/config/default/genesis_block.blob
  test/src/scenarios/modules/token/token.ts
Due: prettier --write, eslint

:bug: Fix min fee computation to take additional fee into consideration
  elements/lisk-transactions/src/fee.ts
  elements/lisk-transactions/test/__snapshots__/fee.spec.ts.snap
  elements/lisk-transactions/test/fee.spec.ts
Due: prettier --write, eslint

:recycle: Update genesis block
  examples/pos-mainchain/config/default/genesis_block.blob
Due: none

Update genesisBlock with interoperability assets (#8100)
  examples/pos-mainchain/config/default/config.json
  examples/pos-mainchain/config/default/genesis_assets.json
  examples/pos-mainchain/config/default/genesis_block.blob
  test/src/scenarios/modules/token/token.ts
Due: prettier --write, eslint

:bug: Fix the range in itit
  framework/src/engine/generator/generator.ts
  framework/test/unit/engine/generator/generator.spec.ts
Due: prettier --write, eslint

Add standard event data schema (#8099)
  framework/src/engine/endpoint/system.ts
Due: prettier --write, eslint

Fix min fee computation to take additional fee into consideration (#8101)
  elements/lisk-transactions/src/fee.ts
  elements/lisk-transactions/test/__snapshots__/fee.spec.ts.snap
  elements/lisk-transactions/test/fee.spec.ts
Due: prettier --write, eslint

Fix engine igniter process left behind (#8097)
  framework/src/application.ts
  framework/test/unit/application.spec.ts
Due: prettier --write, eslint

:recycle: Add comment for the initialization
  framework/src/engine/generator/generator.ts
Due: prettier --write, eslint

Remove unnecessary encoding in message recovery (#8092)
  framework/src/modules/interoperability/mainchain/commands/recover_message.ts
Due: prettier --write, eslint

Fix range of single commit generation in init (#8095)
  framework/src/engine/consensus/consensus.ts
  framework/src/engine/generator/generator.ts
  framework/src/engine/generator/types.ts
  framework/test/unit/engine/engine.spec.ts
  framework/test/unit/engine/generator/generator.spec.ts
Due: prettier --write, eslint

Update genesis_assets.json and the blob file
  examples/pos-mainchain/config/default/genesis_assets.json
  examples/pos-mainchain/config/default/genesis_block.blob
Due: prettier --write

⬆️ Bump version 6.0.0-alpha.13
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
  elements/lisk-api-client/package.json
  elements/lisk-client/package.json
  elements/lisk-elements/package.json
  elements/lisk-transactions/package.json
  framework-plugins/lisk-framework-chain-connector-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

:bug: Fix dashbaord for sdk v6
  elements/lisk-api-client/src/node.ts
  elements/lisk-api-client/src/types.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/NodeInfoDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallEndpointWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/RecentEventWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/SendTransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/TransactionWidget.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/TransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/types.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
  framework/src/engine/engine.ts
  framework/src/engine/generator/generator.ts
Due: prettier --write, eslint

:bug: Fix test
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, eslint

test
  elements/lisk-api-client/test/unit/node.spec.ts
  elements/lisk-api-client/test/utils/transaction.ts
Due: prettier --write, eslint

🐛 Call fee endpoint init function and load config - Add test to check if init for method and endpoint is called
  framework/src/modules/fee/module.ts
  framework/test/unit/modules/fee/module.spec.ts
Due: prettier --write, eslint

Call fee endpoint init function and load config (#8110)
  framework/src/modules/fee/module.ts
  framework/test/unit/modules/fee/module.spec.ts
Due: prettier --write, eslint

Add a flag to immediately send a transaction created using transaction:create
  commander/src/bootstrapping/commands/transaction/create.ts
  commander/test/bootstrapping/commands/transaction/create.spec.ts
Due: prettier --write, eslint

Simplify transaction:create command
  commander/src/bootstrapping/commands/transaction/create.ts
Due: prettier --write, eslint

Create and send a transaction using 1 CLI command (#8111)
  commander/src/bootstrapping/commands/transaction/create.ts
  commander/test/bootstrapping/commands/transaction/create.spec.ts
Due: prettier --write, eslint

:recycle: Fix endpoint error handling
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Fix dashbaord for sdk v6 (#8106)
  elements/lisk-api-client/src/node.ts
  elements/lisk-api-client/src/types.ts
  elements/lisk-api-client/test/unit/node.spec.ts
  elements/lisk-api-client/test/utils/transaction.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/NodeInfoDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallEndpointWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/RecentEventWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/SendTransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/TransactionWidget.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/TransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/types.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
  framework/src/engine/engine.ts
  framework/src/engine/generator/generator.ts
Due: prettier --write, eslint

:bug: Fix generator not to sign if BLS key is not registered
  framework/src/engine/generator/endpoint.ts
  framework/src/engine/generator/generator.ts
  framework/src/engine/generator/types.ts
  framework/test/unit/engine/generator/endpoint.spec.ts
  framework/test/unit/engine/generator/generator.spec.ts
Due: prettier --write, eslint

Fix generator not to sign if BLS key is not registered (#8116)
  framework/src/engine/generator/endpoint.ts
  framework/src/engine/generator/generator.ts
  framework/src/engine/generator/types.ts
  framework/test/unit/engine/generator/endpoint.spec.ts
  framework/test/unit/engine/generator/generator.spec.ts
Due: prettier --write, eslint

:arrow_up: Update lisk-db
  commander/package.json
  elements/lisk-chain/package.json
  elements/lisk-elements/package.json
  framework/package.json
  framework/src/abi_handler/abi_handler.ts
  framework/src/controller/channels/in_memory_channel.ts
  framework/src/genesis_block.ts
  framework/src/state_machine/prefixed_state_read_writer.ts
  framework/src/testing/block_processing_env.ts
  framework/src/testing/in_memory_prefixed_state.ts
  framework/test/unit/controller/channels/in_memory_channel.spec.ts
  sdk/package.json
  templates/.npmrc.tmpl
  yarn.lock
Due: prettier --write, eslint

:nail_care: Increase timeout for build
  .github/workflows/pr.yaml
Due: none

:bug: Fix integration
  framework/test/integration/controller/in_memory_channel.spec.ts
Due: prettier --write, eslint

fix
  .github/workflows/pr.yaml
Due: none

update timeout
  .github/workflows/pr.yaml
Due: none

:arrow_up: Update lisk-db
  .github/workflows/pr.yaml
  commander/package.json
  elements/lisk-chain/package.json
  elements/lisk-elements/package.json
  framework/package.json
  sdk/package.json
  templates/.npmrc.tmpl
  yarn.lock
Due: prettier --write

:white_check_mark: Add missing tests and update comments
  framework/src/abi_handler/abi_handler.ts
  framework/test/unit/abi_handler/abi_handler.spec.ts
Due: prettier --write, eslint

:white_check_mark: Add missing tests and update comments
  framework/src/genesis_block.ts
  framework/test/unit/genesis_block.spec.ts
Due: prettier --write, eslint

Update lisk-db (#8120)
  commander/package.json
  elements/lisk-chain/package.json
  elements/lisk-elements/package.json
  framework/package.json
  framework/src/abi_handler/abi_handler.ts
  framework/src/controller/channels/in_memory_channel.ts
  framework/src/genesis_block.ts
  framework/src/state_machine/prefixed_state_read_writer.ts
  framework/src/testing/block_processing_env.ts
  framework/src/testing/in_memory_prefixed_state.ts
  framework/test/integration/controller/in_memory_channel.spec.ts
  framework/test/unit/abi_handler/abi_handler.spec.ts
  framework/test/unit/controller/channels/in_memory_channel.spec.ts
  framework/test/unit/genesis_block.spec.ts
  sdk/package.json
  yarn.lock
Due: prettier --write, eslint

⬆️ Bump version 6.0.0-alpha.14
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-elements/package.json
  elements/lisk-transaction-pool/package.json
  framework-plugins/lisk-framework-chain-connector-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

:bug: Add initialization for pos
  framework/src/modules/pos/module.ts
Due: prettier --write, eslint

Add initialization for pos (#8123)
  framework/src/modules/pos/module.ts
Due: prettier --write, eslint

Revert "⬆️ Bump version 6.0.0-alpha.14"
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-elements/package.json
  elements/lisk-transaction-pool/package.json
  framework-plugins/lisk-framework-chain-connector-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

Make genesis with pre-set to a separate file
  examples/pos-mainchain/config/default/genesis_assets_with_preset.json
  examples/pos-mainchain/config/default/genesis_block.blob
  examples/pos-mainchain/config/default/genesis_block_with_preset.blob
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
