Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

:recycle: Add comment on rightSiblingInfo
  elements/lisk-tree/src/merkle_tree/utils.ts
Due: prettier --write, eslint

:bug: Add parent hash check
  elements/lisk-tree/src/merkle_tree/utils.ts
Due: prettier --write, eslint

:recycle: Fix binary search index
  elements/lisk-tree/src/merkle_tree/utils.ts
Due: prettier --write, eslint

:sparkles: Implement JSON RPC over HTTP
  framework/src/constants.ts
  framework/src/controller/bus.ts
  framework/src/controller/http/http_server.ts
  framework/src/schema/application_config_schema.ts
  framework/src/types.ts
  framework/test/functional/utils/application.ts
  framework/test/unit/controller/http/http_server.spec.ts
Due: prettier --write, eslint

:nail_care: Merge development branch into feature branch
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/data_access/data_access.ts
  elements/lisk-chain/test/integration/data_access/blocks.spec.ts
  elements/lisk-chain/test/unit/data_access/data_access.spec.ts
  framework/src/application.ts
  framework/src/node/consensus/network_endpoint.ts
  framework/src/node/consensus/schema.ts
  framework/src/node/consensus/synchronizer/base_synchronizer.ts
  framework/src/node/node.ts
  framework/src/testing/app_env.ts
  framework/test/unit/node/consensus/endpoint.spec.ts
  framework/test/unit/node/consensus/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.ts
  framework/test/unit/node/consensus/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.ts
Due: prettier --write, eslint

:recycle: Update http server to handle CORS Add http functional test
  framework/package.json
  framework/src/controller/http/http_server.ts
  framework/src/schema/application_config_schema.ts
  framework/test/functional/http/http_server.spec.ts
  framework/test/unit/controller/http/http_server.spec.ts
Due: prettier --write, eslint

:recycle: Update test snapshot and fix rpc type
  framework/src/controller/http/http_server.ts
  framework/src/types.ts
  framework/test/unit/__snapshots__/application.spec.ts.snap
  framework/test/unit/schema/__snapshots__/application_config_schema.spec.ts.snap
Due: prettier --write, eslint

:recycle: Remove required rpc mode
  framework/src/controller/bus.ts
  framework/src/schema/application_config_schema.ts
  framework/test/unit/schema/__snapshots__/application_config_schema.spec.ts.snap
Due: prettier --write, eslint

:art: Update code structure to follow same pattern
  elements/lisk-tree/src/sparse_merkle_tree/sparse_merkle_tree.ts
  elements/lisk-tree/src/sparse_merkle_tree/utils.ts
Due: prettier --write, eslint

:art: Update validate return type to be more accurate
  elements/lisk-cryptography/src/keys.ts
  elements/lisk-cryptography/test/keys.spec.ts
Due: prettier --write, eslint

:wastebasket: Update code to remove deprecated functions
  elements/lisk-cryptography/src/keys.ts
Due: prettier --write, eslint

:art: Update usage of deprecated functions
  commander/src/bootstrapping/commands/account/create.ts
  commander/src/bootstrapping/commands/account/show.ts
  commander/src/bootstrapping/commands/account/validate.ts
  commander/test/bootstrapping/commands/account/create.spec.ts
  commander/test/bootstrapping/commands/account/show.spec.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.tsx
Due: prettier --write, eslint

:art: Update code to not call db.set twice
  elements/lisk-tree/src/sparse_merkle_tree/sparse_merkle_tree.ts
Due: prettier --write, eslint

wip
  framework-plugins/lisk-framework-dashboard-plugin/src/plugin/types.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/types.ts
  framework/src/application.ts
  framework/src/controller/child_process_loader.ts
  framework/src/controller/controller.ts
  framework/src/index.ts
  framework/src/plugins/base_plugin.ts
  framework/src/types.ts
  framework/test/unit/application.spec.ts
  framework/test/unit/controller/controller.spec.ts
  framework/test/unit/plugins/base_plugin.spec.ts
Due: prettier --write, eslint

wip2
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/__snapshots__/faucet_plugin.spec.ts.snap
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/auth.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/faucet_plugin.spec.ts
  framework/src/application.ts
  framework/src/controller/child_process_loader.ts
  framework/src/controller/controller.ts
  framework/src/plugins/base_plugin.ts
  framework/test/functional/utils/hello_plugin.ts
  framework/test/unit/application.spec.ts
  framework/test/unit/controller/controller.spec.ts
  framework/test/unit/plugins/base_plugin.spec.ts
Due: prettier --write, eslint

Fix format
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/auth.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/faucet_plugin.spec.ts
  framework/src/application.ts
  framework/src/controller/child_process_loader.ts
  framework/src/controller/controller.ts
  framework/src/plugins/base_plugin.ts
  framework/test/functional/utils/hello_plugin.ts
  framework/test/unit/application.spec.ts
  framework/test/unit/controller/controller.spec.ts
  framework/test/unit/plugins/base_plugin.spec.ts
Due: prettier --write, eslint

Update tests
  framework-plugins/lisk-framework-dashboard-plugin/src/plugin/dashboard_plugin.ts
  framework-plugins/lisk-framework-dashboard-plugin/test/unit/plugin/__snapshots__/dashboard_plugin.spec.ts.snap
  framework-plugins/lisk-framework-dashboard-plugin/test/unit/plugin/dashboard_plugin.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/auth.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/faucet_plugin.spec.ts
  framework-plugins/lisk-framework-forger-plugin/src/forger_plugin.ts
  framework-plugins/lisk-framework-forger-plugin/test/utils/application.ts
  framework-plugins/lisk-framework-http-api-plugin/src/http_api_plugin.ts
  framework-plugins/lisk-framework-monitor-plugin/src/monitor_plugin.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/blocks.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/forks.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/network.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/subscribe_event.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/transaction.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/src/report_misbehavior_plugin.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/integration/cleanup_job.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/auth.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/send_pom_transaction.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/subscribe_event.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/utils/application.ts
  framework/test/functional/http/http_server.spec.ts
  framework/test/functional/ws/ws_server.spec.ts
  framework/test/unit/plugins/base_plugin.spec.ts
Due: prettier --write, eslint

Apply feedback
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/auth.spec.ts
  framework/src/application.ts
  framework/src/controller/child_process_loader.ts
  framework/src/controller/controller.ts
  framework/src/plugins/base_plugin.ts
  framework/src/types.ts
Due: prettier --write, eslint

:art: Update code as per feedback
  elements/lisk-tree/src/sparse_merkle_tree/sparse_merkle_tree.ts
Due: prettier --write, eslint

New approach
  framework-plugins/lisk-framework-forger-plugin/test/utils/application.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/send_pom_transaction.spec.ts
  framework/src/application.ts
  framework/src/controller/child_process_loader.ts
  framework/src/controller/controller.ts
  framework/src/plugins/base_plugin.ts
  framework/src/system_dirs.ts
  framework/src/types.ts
  framework/test/unit/application.spec.ts
  framework/test/unit/controller/controller.spec.ts
  framework/test/unit/plugins/base_plugin.spec.ts
Due: prettier --write, eslint

Fix format
  framework-plugins/lisk-framework-forger-plugin/test/utils/application.ts
  framework/src/application.ts
  framework/src/controller/controller.ts
  framework/src/plugins/base_plugin.ts
  framework/src/types.ts
  framework/test/unit/application.spec.ts
  framework/test/unit/plugins/base_plugin.spec.ts
Due: prettier --write, eslint

:sparkles: Add string decoding protocol-specs for lisk-codec
  protocol-specs/generator_outputs/lisk_codec/string_decodings.json
  protocol-specs/generators/lisk_codec/index.js
  protocol-specs/generators/lisk_codec/types_generators/index.js
  protocol-specs/generators/lisk_codec/types_generators/strings.js
Due: prettier --write, eslint

:art: Update existing non-macthing protocol-sepcs
  protocol-specs/generator_outputs/lisk_codec/nested_array_encoding.json
  protocol-specs/generator_outputs/lisk_codec/peer_info_sample_encoding.json
Due: prettier --write

:sparkles: Add updated version of JSON-stringify to use consistent approach
  protocol-specs/generators/base_generator.js
  protocol-specs/utils/index.js
Due: prettier --write, eslint

:sparkles: Add decoding protocol-specs for all lisk-codec specs
  protocol-specs/generator_outputs/lisk_codec/account_decodings.json
  protocol-specs/generator_outputs/lisk_codec/arrays_decodings.json
  protocol-specs/generator_outputs/lisk_codec/block_asset_decodings.json
  protocol-specs/generator_outputs/lisk_codec/block_decodings.json
  protocol-specs/generator_outputs/lisk_codec/block_header_decodings.json
  protocol-specs/generator_outputs/lisk_codec/boolean_decodings.json
  protocol-specs/generator_outputs/lisk_codec/bytes_decodings.json
  protocol-specs/generator_outputs/lisk_codec/cart_sample_decodings.json
  protocol-specs/generator_outputs/lisk_codec/cart_sample_encodings.json
  protocol-specs/generator_outputs/lisk_codec/genesis_block_decodings.json
  protocol-specs/generator_outputs/lisk_codec/nested_array_decodings.json
  protocol-specs/generator_outputs/lisk_codec/nested_array_encodings.json
  protocol-specs/generator_outputs/lisk_codec/number_decodings.json
  protocol-specs/generator_outputs/lisk_codec/objects_decodings.json
  protocol-specs/generator_outputs/lisk_codec/peer_info_sample_decodings.json
  protocol-specs/generator_outputs/lisk_codec/peer_info_sample_encodings.json
  protocol-specs/generator_outputs/lisk_codec/string_decodings.json
  protocol-specs/generator_outputs/lisk_codec/transaction_decodings.json
Due: prettier --write

:art: Update protocol-specs output to use consistant hex strings
  protocol-specs/generator_outputs/lisk_codec/account_encodings.json
  protocol-specs/generator_outputs/lisk_codec/block_asset_encodings.json
  protocol-specs/generator_outputs/lisk_codec/block_encodings.json
  protocol-specs/generator_outputs/lisk_codec/block_header_encodings.json
  protocol-specs/generator_outputs/lisk_codec/bytes_encodings.json
  protocol-specs/generator_outputs/lisk_codec/genesis_block_encodings.json
  protocol-specs/generator_outputs/lisk_codec/objects_encodings.json
  protocol-specs/generator_outputs/lisk_codec/transaction_encodings.json
  protocol-specs/generator_outputs/transaction_merkle_root/transaction_merkle_root.json
Due: prettier --write

:art: Update all lisk-codec specs to use consistent pattern
  protocol-specs/generators/lisk_codec/index.js
  protocol-specs/generators/lisk_codec/proto_files/arrays.proto
  protocol-specs/generators/lisk_codec/types_generators/account.js
  protocol-specs/generators/lisk_codec/types_generators/arrays.js
  protocol-specs/generators/lisk_codec/types_generators/block.js
  protocol-specs/generators/lisk_codec/types_generators/block_asset.js
  protocol-specs/generators/lisk_codec/types_generators/block_header.js
  protocol-specs/generators/lisk_codec/types_generators/booleans.js
  protocol-specs/generators/lisk_codec/types_generators/bytes.js
  protocol-specs/generators/lisk_codec/types_generators/cart_sample.js
  protocol-specs/generators/lisk_codec/types_generators/genesis_block_asset.js
  protocol-specs/generators/lisk_codec/types_generators/index.js
  protocol-specs/generators/lisk_codec/types_generators/nested_array.js
  protocol-specs/generators/lisk_codec/types_generators/nestest_array.js
  protocol-specs/generators/lisk_codec/types_generators/numbers.js
  protocol-specs/generators/lisk_codec/types_generators/objects.js
  protocol-specs/generators/lisk_codec/types_generators/peer_sample.js
  protocol-specs/generators/lisk_codec/types_generators/strings.js
  protocol-specs/generators/lisk_codec/types_generators/transaction.js
Due: prettier --write, eslint

:art: Update all generators to use consistent buffer and bigint pattern
  protocol-specs/generators/address_generation/index.js
  protocol-specs/generators/dpos_delegate_shuffling/index.js
  protocol-specs/generators/dpos_delegate_shuffling/sample_generator.js
  protocol-specs/generators/dpos_forger_selection/index.js
  protocol-specs/generators/dpos_forger_selection/sample_generator.js
  protocol-specs/generators/dpos_random_seed_generation/index.js
  protocol-specs/generators/lisk_codec/types_generators/account.js
  protocol-specs/generators/lisk_codec/types_generators/arrays.js
  protocol-specs/generators/lisk_codec/types_generators/block.js
  protocol-specs/generators/lisk_codec/types_generators/block_asset.js
  protocol-specs/generators/lisk_codec/types_generators/block_header.js
  protocol-specs/generators/lisk_codec/types_generators/booleans.js
  protocol-specs/generators/lisk_codec/types_generators/bytes.js
  protocol-specs/generators/lisk_codec/types_generators/cart_sample.js
  protocol-specs/generators/lisk_codec/types_generators/genesis_block_asset.js
  protocol-specs/generators/lisk_codec/types_generators/nestest_array.js
  protocol-specs/generators/lisk_codec/types_generators/numbers.js
  protocol-specs/generators/lisk_codec/types_generators/objects.js
  protocol-specs/generators/lisk_codec/types_generators/peer_sample.js
  protocol-specs/generators/lisk_codec/types_generators/strings.js
  protocol-specs/generators/lisk_codec/types_generators/transaction.js
  protocol-specs/generators/multisignature_registration/index.js
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
  protocol-specs/generators/transaction_merkle_root_for_blocks/index.js
  protocol-specs/generators/transaction_network_id_and_change_order/index.js
  protocol-specs/generators/unlocking_transaction/index.js
  protocol-specs/generators/vote_transaction/index.js
Due: prettier --write, eslint

:rewind: Revert changes to an unwanted protocol-spec file
  protocol-specs/generator_outputs/transaction_merkle_root/transaction_merkle_root.json
Due: prettier --write

:art: Update writer/reader tests to not use protocol-specs
  elements/lisk-codec/test/bytes.spec.ts
  elements/lisk-codec/test/string.spec.ts
Due: prettier --write, eslint

:rotating_light: Fix linter warnings
  protocol-specs/generators/multisignature_registration/index.js
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
  protocol-specs/generators/transaction_merkle_root_for_blocks/index.js
  protocol-specs/generators/transaction_network_id_and_change_order/index.js
  protocol-specs/generators/unlocking_transaction/index.js
  protocol-specs/generators/vote_transaction/index.js
Due: prettier --write, eslint

:white_check_mark: Update lisk-codec tests to use consitent approach
  elements/lisk-codec/package.json
  elements/lisk-codec/test/add_schema.spec.ts
  elements/lisk-codec/test/decode.spec.ts
  elements/lisk-codec/test/decode_json.spec.ts
  elements/lisk-codec/test/encode.spec.ts
  elements/lisk-codec/test/encode_json.spec.ts
  elements/lisk-codec/test/fromJSON.spec.ts
  elements/lisk-codec/test/from_json.spec.ts
  elements/lisk-codec/test/toJSON.spec.ts
  elements/lisk-codec/test/to_json.spec.ts
  elements/lisk-codec/test/utils.ts
Due: prettier --write, eslint

:art: Update select height to be dynamic
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/SelectInput.tsx
Due: none

:bug: Update the code text area to have correct scrollbar design
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/Input.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widget/Widget.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/styles/_constants.scss
Due: none

:art: Fix recent events styles
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/RecentEventWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/Widgets.module.scss
Due: none

:art: Update widget styles
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/Widgets.module.scss
Due: none

:art: Update script name
  package.json
  sdk/README.md
Due: prettier --write

:pencil: Update readme with clean:reset reference
  package.json
  sdk/README.md
Due: prettier --write
