Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

:bug: Update message dialog hide issue
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/SendTransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/providers/MessageDialogProvider.tsx
Due: none

Update action getnodeinfo
  framework/src/node/node.ts
Due: prettier --write, eslint

Update test
  framework-plugins/lisk-framework-http-api-plugin/test/functional/node.spec.ts
Due: prettier --write, eslint

:bug: Fix grid module flex overflow
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/Grid.module.scss
Due: none

:art: Add support for custom class to Text component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Text/index.tsx
Due: none

:bug: Update CopiableText to allow wrapping and one line for the text
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/CopiableText.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/index.tsx
Due: none

:art: Update the alignment of the text areas
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/Input.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextAreaInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:art: Add copyright notice to dashboard
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:arrow_down: Temporally disable P2P unstable test
  elements/lisk-p2p/test/functional/actions/request.spec.ts
  elements/lisk-p2p/test/functional/blacklist_whitelist_fixed_peers.spec.ts
Due: prettier --write, eslint

:bug: Handle future block forging scenario
  framework/src/node/forger/forger.ts
Due: prettier --write, eslint

:recycle: Add unit test for future genesis block timestamp
  framework/test/unit/node/forger/forger.spec.ts
Due: prettier --write, eslint

:recycle: Update log message and test
  framework/src/node/forger/forger.ts
  framework/test/unit/node/forger/forger.spec.ts
Due: prettier --write, eslint

:art: Update CopiableText and Table to work together
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/CopiableText.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/BlockWidget.tsx
Due: none

:art: Update formating for style files
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/Grid.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Text/index.tsx
Due: none

:bug: Fix merge conflict on version
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/src/plugin/dashboard_plugin.ts
  yarn.lock
Due: prettier --write, eslint

:recycle: Update log level to debug
  framework/src/node/forger/forger.ts
Due: prettier --write, eslint

Add ticker component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Ticker/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Apply format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Ticker/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:arrow_up: Bump version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
  yarn.lock
Due: prettier --write

Use dynamic refresh time
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Ticker/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/test/unit/plugin/dashboard_plugin.spec.ts
Due: prettier --write, eslint

Update test
  framework-plugins/lisk-framework-dashboard-plugin/test/unit/plugin/__snapshots__/dashboard_plugin.spec.ts.snap
Due: none

:bug: Fix unstable application url fetch
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
Due: prettier --write, eslint

:bug: Fix dashboard styles - Update copiableText not to propagate the event - Fix not to show the scrollbar on grid - Fix z index for dialog - Remove console
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/Grid.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialog/Dialog.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:recycle: Make config retrieval more readable
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
Due: prettier --write, eslint

:recycle: Remove non-existing style prop and fix dialog background color
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialog/Dialog.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/styles/_constants.scss
Due: none

:recycle: Fix table header width on Safari
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/BlockWidget.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/TransactionWidget.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/TransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/styles/_constants.scss
Due: none

:recycle: Fix dialog width to design size
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialog/Dialog.module.scss
Due: none

:sparkles: Update action call to handle specific actions
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:seedling: Make application name configurable
  framework-plugins/lisk-framework-dashboard-plugin/src/plugin/dashboard_plugin.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/plugin/defaults/config.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
Due: prettier --write, eslint

:bug: Fix JSON display
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialog/Dialog.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/Input.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextAreaInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/json-format-hightlight.d.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/SendTransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  yarn.lock
Due: prettier --write, eslint

:nail_care: Remove unused dependency and apply format
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextAreaInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  yarn.lock
Due: prettier --write

:recycle: Make config called once
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
Due: prettier --write, eslint

:nail_care: Fix JSON color
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextAreaInput.tsx
Due: none

:nail_care: Format code
  framework-plugins/lisk-framework-dashboard-plugin/src/plugin/defaults/config.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
Due: prettier --write, eslint

:reclcyle: Add JSON feedback and fix line height
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextAreaInput.tsx
Due: none

:recycle: Filter last 100 events
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:art: Pretty print the json data
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/RecentEventWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/Widgets.module.scss
Due: none

:recycle: Update format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/RecentEventWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:bug: Fix data sending and displaying
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/MyAccountWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/TransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/types.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
Due: prettier --write, eslint

:nail_care: Apply format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/TransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
Due: prettier --write, eslint
