Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

:bug: Fix genesis account sorting
  elements/lisk-chain/src/validate.ts
  elements/lisk-chain/test/unit/process.spec.ts
Due: prettier --write, eslint

Update error to show hex key
  elements/lisk-db/src/errors.ts
  framework-plugins/lisk-framework-http-api-plugin/src/controllers/accounts.ts
Due: prettier --write, eslint

Add util functions to parse binary logs
  elements/lisk-db/src/utils.ts
Due: prettier --write, eslint

Allow configuring the transaction pool through config
  framework/src/node/node.ts
  framework/src/schema/application_config_schema.ts
  framework/src/types.ts
Due: prettier --write, eslint

:bug: Fix file log to write bigint and buffer as string
  framework/src/logger/logger.ts
Due: prettier --write, eslint

Update test snapshots
  framework/test/unit/__snapshots__/application.spec.ts.snap
  framework/test/unit/schema/__snapshots__/application_schema.spec.ts.snap
Due: none

Fix fixtures
  framework/test/fixtures/node.ts
Due: prettier --write, eslint

:bug: Update genesis block and add prebuild step
  sdk/package.json
  sdk/src/samples/genesis_block_devnet.json
Due: prettier --write

Call getSlotNumber with seconds instead of ms
  framework/src/node/node.ts
Due: prettier --write, eslint

:bug: Fix account not being published when deleting block
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/data_access/data_access.ts
  elements/lisk-chain/src/data_access/storage.ts
  elements/lisk-chain/test/integration/data_access/blocks.spec.ts
Due: prettier --write, eslint

:bug: Fix PoM not to deduct amount more than minimum remaining balance white_check_mark: Add test
  framework/src/modules/dpos/transaction_assets/pom_transaction_asset.ts
  framework/src/modules/token/token_module.ts
  framework/test/unit/modules/dpos/transaction_assets/pom_transaction_asset.spec.ts
Due: prettier --write, eslint

:seedling: Remove special handling for bootstrap period
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/test/unit/chain.spec.ts
  framework/src/modules/dpos/dpos_module.ts
  framework/src/node/processor/processor.ts
  framework/src/types.ts
  framework/test/unit/modules/dpos/dpos_module.spec.ts
Due: prettier --write, eslint

:white_check_mark: Fix test expectation and add genesis block handling for vote weight
  framework-plugins/lisk-framework-forger-plugin/test/functional/__snapshots__/forging_info.spec.ts.snap
  framework/src/modules/dpos/dpos_module.ts
  framework/test/integration/node/processor/delete_block.spec.ts
Due: prettier --write, eslint

Update swagger block response
  framework-plugins/lisk-framework-http-api-plugin/swagger.yml
Due: none

Fix formatting
  framework-plugins/lisk-framework-http-api-plugin/swagger.yml
Due: none

✅ Test to check if whitelisted peers are always allowed to connect back
  elements/lisk-p2p/test/functional/blacklist_whitelist_fixed_peers.ts
Due: prettier --write, eslint

✅ Add test to check if banned peer is never allowed to connect back
  elements/lisk-p2p/test/functional/actions/peer_banning.ts
Due: prettier --write, eslint

Remove timestamp from call to getSlotNumber in node.ts
  framework/src/node/node.ts
Due: prettier --write, eslint

✅ Add tests for previousPeers
  elements/lisk-p2p/test/unit/p2p.ts
  framework/test/unit/node/network/network.spec.ts
Due: prettier --write, eslint

Update getSlotNumber function to be more readable
  elements/lisk-chain/src/slots.ts
Due: prettier --write, eslint

Update framework/test/unit/modules/dpos/transaction_assets/pom_transaction_asset.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/pom_transaction_asset.spec.ts
Due: prettier --write, eslint

:recycle: Update params to be optional when calling reducer
  framework/src/modules/dpos/transaction_assets/pom_transaction_asset.ts
  framework/src/node/processor/processor.ts
  framework/src/types.ts
Due: prettier --write, eslint

:recycle: Fix test setup
  framework/test/unit/modules/dpos/transaction_assets/pom_transaction_asset.spec.ts
Due: prettier --write, eslint

✅ Fix an unstable test After decoding an invalid random string it sometimes produces a valid decoded object. So now we are just mocking decode to throw error to make sure it fails
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/test/unit/peer/base.ts
Due: prettier --write, eslint

:pencil: Update the swagger spec to make it validated"
  framework-plugins/lisk-framework-http-api-plugin/swagger.yml
Due: none

:recycle: Rename variable
  framework/src/modules/dpos/dpos_module.ts
Due: prettier --write, eslint

♻️ Use fixed invalidBytes to fail on codec.decode
  elements/lisk-p2p/test/unit/peer/base.ts
  framework/test/functional/network/banning/invalid_block_bytes.spec.ts
Due: prettier --write, eslint

:bug: Fix transaction id to be hex string
  framework/src/modules/sequence/sequence_module.ts
  framework/test/unit/modules/sequence/sequence_module.spec.ts
Due: prettier --write, eslint

:recycle: Fix typo
  framework/test/integration/node/processor/process_block.spec.ts
Due: prettier --write, eslint

:books: Update READMEs to reflect current implementation
  commander/README.md
  commander/package.json
  framework-plugins/lisk-framework-forger-plugin/README.md
  framework-plugins/lisk-framework-http-api-plugin/README.md
  framework/src/controller/README.md
  framework/src/modules/README.md
  framework/src/plugins/README.md
  sdk/README.md
Due: prettier --write

:nail_care: Update jest version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-codec/test/__snapshots__/add_schema.spec.ts.snap
  elements/lisk-cryptography/package.json
  elements/lisk-db/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework/package.json
  framework/test/unit/plugins/base_plugin.spec.ts
  package.json
  protocol-specs/package.json
  sdk/package.json
  yarn.lock
Due: prettier --write, eslint

Add Jenkinsfile.audit
  Jenkinsfile.audit
Due: none

♻️ Add missing peerStatusMessageRate to config in test/utils/peers
  elements/lisk-p2p/test/utils/peers.ts
Due: prettier --write, eslint

:bug: Remove update snapshot from script
  package.json
Due: prettier --write

♻️ use _peerStatusMessageRate as constant and add a counter for postNodeInfo messages - Fix message rate tests - Add scenario to test 10 penalty score
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/test/functional/message_rate.ts
Due: prettier --write, eslint

Apply suggestions from code review
  framework/src/controller/README.md
  framework/src/modules/README.md
  framework/src/plugins/README.md
  sdk/README.md
Due: prettier --write

Update elements/lisk-chain/src/state_store/account_store.ts
  elements/lisk-chain/src/state_store/account_store.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
