Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

♻️ Introduce CommitList and add tests
  framework/src/node/consensus/certificate_generation/commit_list.ts
  framework/src/node/consensus/certificate_generation/commit_pool.ts
  framework/src/node/consensus/network_endpoint.ts
  framework/test/unit/node/consensus/certificate_generation/commit_pool.spec.ts
Due: prettier --write, eslint

♻️ Fix tests and lint issues
  framework/src/node/consensus/certificate_generation/commit_list.ts
  framework/src/node/consensus/certificate_generation/commit_pool.ts
  framework/test/unit/node/consensus/certificate_generation/commit_pool.spec.ts
Due: prettier --write, eslint

Compare serialized bytes
  framework/src/node/processor/processor.ts
Due: prettier --write, eslint

💅 Rename exist -> exists
  framework/src/node/consensus/certificate_generation/commit_list.ts
  framework/src/node/consensus/certificate_generation/commit_pool.ts
  framework/test/unit/node/consensus/certificate_generation/commit_pool.spec.ts
Due: prettier --write, eslint

✅ Add unit tests for CommitList
  framework/test/unit/node/consensus/certificate_generation/commit_list.spec.ts
Due: prettier --write, eslint

♻️ Return empty array when no commits from getByHeight - 💅 Rename commitMessages->postSingleCommitMessages
  framework/src/node/consensus/certificate_generation/commit_list.ts
  framework/src/node/consensus/certificate_generation/commit_pool.ts
  framework/src/node/consensus/certificate_generation/constants.ts
  framework/test/unit/node/consensus/certificate_generation/commit_pool.spec.ts
Due: prettier --write, eslint

Pass config to node
  framework/src/node/node.ts
Due: prettier --write, eslint

Add fix height check
  framework/src/node/processor/processor.ts
Due: prettier --write, eslint

Fix format
  framework/src/node/processor/processor.ts
Due: prettier --write, eslint

:seedling: Update jenkins structure and update package JSON
  .jenkins/Jenkinsfile.audit
  .jenkins/Jenkinsfile.dev-publish
  .jenkins/Jenkinsfile.publish
  .jenkins/Jenkinsfile.test
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-db/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  templates/package.json.tmpl
Due: prettier --write

:recycle: Remove unnecessary stash
  .jenkins/Jenkinsfile.dev-publish
  .jenkins/Jenkinsfile.publish
  commander/package.json
Due: prettier --write

:recycle: Update file name
  .jenkins/Jenkinsfile.dev-publish
  .jenkins/Jenkinsfile.publish
Due: none

:recycle: Fix jenkins syntax
  .jenkins/Jenkinsfile.publish
Due: none

:seedling: Add publish script for release
  scripts/publish.sh
Due: none

Make publish.sh non interactive, fix potential issues
  scripts/publish.sh
Due: none

publish.sh: use nvm if present
  scripts/publish.sh
Due: none

publish.sh: fail on ARM64 arch
  scripts/publish.sh
Due: none

Make scripts/publish.sh executable
  scripts/publish.sh
Due: none

publish.sh: clean up on exit
  scripts/publish.sh
Due: none

💅 Remove commit keyword from commit_list functions
  framework/src/node/consensus/certificate_generation/commit_list.ts
  framework/src/node/consensus/certificate_generation/commit_pool.ts
  framework/test/unit/node/consensus/certificate_generation/commit_list.spec.ts
  framework/test/unit/node/consensus/certificate_generation/commit_pool.spec.ts
Due: prettier --write, eslint

Update processor.spec.ts
  framework/test/unit/node/processor/processor.spec.ts
Due: prettier --write, eslint

Update synchronizer.spec.ts
  framework/test/unit/node/synchronizer/synchronizer.spec.ts
Due: prettier --write, eslint

Update processor.ts
  framework/src/node/processor/processor.ts
Due: prettier --write, eslint

Update block_processing_env.ts
  framework/src/testing/block_processing_env.ts
Due: prettier --write, eslint

Fix format
  framework/src/testing/block_processing_env.ts
  framework/test/unit/node/processor/processor.spec.ts
  framework/test/unit/node/synchronizer/synchronizer.spec.ts
Due: prettier --write, eslint

Update block_synchronization_mechanism.spec.ts
  framework/test/unit/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.ts
Due: prettier --write, eslint

Update fast_chain_switching_mechanism.spec.ts
  framework/test/unit/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.ts
Due: prettier --write, eslint

Add serialization tests
  framework/test/unit/node/processor/processor.spec.ts
Due: prettier --write, eslint

Update transfer_transaction.spec.ts
  framework/test/integration/node/processor/transfer_transaction.spec.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-client/package.json
  elements/lisk-elements/package.json
  elements/lisk-transactions/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

♻️ Add nonGossipedCommitsLocal list to handle generator commits
  framework/src/node/consensus/certificate_generation/commit_pool.ts
  framework/test/unit/node/consensus/certificate_generation/commit_pool.spec.ts
Due: prettier --write, eslint

♻️ Improve condition
  framework/src/node/consensus/certificate_generation/commit_pool.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
