Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

:white_check_mark: Add functional test delegates action
  framework/test/functional/actions/delegates.spec.ts
Due: prettier --write, eslint

:pencil2: Fix type in description
  framework-plugins/lisk-framework-http-api-plugin/swagger.yml
Due: none

:pencil2: Fix typo for an attribute
  framework-plugins/lisk-framework-http-api-plugin/swagger.yml
Due: none

Fixed the format for yml file
  framework-plugins/lisk-framework-http-api-plugin/swagger.yml
Due: none

Extend test coverage for keys module afterGenesisBlockApply()
  framework/test/unit/modules/keys/keys_module.spec.ts
Due: prettier --write, eslint

Update framework/src/application.ts
  framework/src/application.ts
Due: prettier --write, eslint

Deduct tx fee from account
  framework/src/modules/token/token_module.ts
  framework/test/unit/modules/token/token_module.spec.ts
Due: prettier --write, eslint

Add test case for transaction from account with only optional signatures in keys module
  framework/test/unit/modules/keys/keys_module.spec.ts
Due: prettier --write, eslint

:bug: Fix to allow signature of transaction to be empty string
  framework-plugins/lisk-framework-http-api-plugin/src/controllers/transactions.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/transactions.spec.ts
Due: prettier --write, eslint

:seedling: Remove validation of delegate username against old lisk address format
  framework/src/modules/dpos/utils.ts
  framework/test/unit/modules/dpos/transaction_assets/register_transaction_asset.spec.ts
Due: prettier --write, eslint

Use state store get
  framework/src/modules/token/token_module.ts
Due: prettier --write, eslint

:bug: Catch error on decode error and apply penalty
  elements/lisk-p2p/package.json
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/utils/validate.ts
  elements/lisk-p2p/test/unit/peer/base.ts
Due: prettier --write, eslint

:bug: Fix transaction validation process
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/index.ts
  elements/lisk-chain/src/schema.ts
  elements/lisk-chain/src/transaction.ts
  elements/lisk-chain/test/unit/chain.spec.ts
  elements/lisk-chain/test/unit/process.spec.ts
  framework/src/modules/token/token_module.ts
  framework/src/node/node.ts
  framework/src/node/processor/processor.ts
  framework/test/functional/actions/__snapshots__/application.spec.ts.snap
  framework/test/functional/network/banning/invalid_block_property.spec.ts
  framework/test/unit/modules/token/token_module.spec.ts
  framework/test/unit/node/processor/processor.spec.ts
  framework/test/unit/node/synchronizer/block_synchronization_mechanism/block_synchronization_mechanism.spec.ts
  framework/test/unit/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.ts
  framework/test/unit/node/synchronizer/synchronizer.spec.ts
Due: prettier --write, eslint

:recycle: Move validation logic to the transaction class
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/transaction.ts
Due: prettier --write, eslint

:recycle: Rename senderID to senderAddress
  elements/lisk-chain/src/transaction.ts
  elements/lisk-chain/test/unit/transactions.spec.ts
  framework-plugins/lisk-framework-forger-plugin/test/functional/voters.spec.ts
  framework/src/modules/dpos/transaction_assets/pom_transaction_asset.ts
  framework/src/modules/dpos/transaction_assets/register_transaction_asset.ts
  framework/src/modules/dpos/transaction_assets/unlock_transaction_asset.ts
  framework/src/modules/dpos/transaction_assets/vote_transaction_asset.ts
  framework/src/modules/keys/keys_module.ts
  framework/src/modules/keys/register_asset.ts
  framework/src/modules/token/token_module.ts
  framework/src/modules/token/transfer_asset.ts
  framework/src/node/processor/processor.ts
  framework/src/types.ts
  framework/test/unit/modules/dpos/transaction_assets/pom_transaction_asset.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/register_transaction_asset.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/unlock_transaction_asset.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/vote_transaction_asset.spec.ts
  framework/test/unit/modules/keys/register_asset.spec.ts
  framework/test/unit/modules/token/transfer_asset.spec.ts
Due: prettier --write, eslint

:fire: Remove unused baseFee
  framework/src/modules/base_asset.ts
  framework/src/modules/dpos/constants.ts
  framework/src/modules/dpos/transaction_assets/register_transaction_asset.ts
  framework/test/unit/modules/dpos/transaction_assets/pom_transaction_asset.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/register_transaction_asset.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/unlock_transaction_asset.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/vote_transaction_asset.spec.ts
Due: prettier --write, eslint

:recycle: Move encode/decode to util function
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/peer_pool.ts
  elements/lisk-p2p/src/utils/codec.ts
Due: prettier --write, eslint

Replace networkId with networkIdentifier in the code
  elements/lisk-p2p/src/constants.ts
  elements/lisk-p2p/src/peer/outbound.ts
  elements/lisk-p2p/src/peer_server/peer_server.ts
  elements/lisk-p2p/src/schema.ts
  elements/lisk-p2p/src/types.ts
  elements/lisk-p2p/src/utils/validate.ts
  framework-plugins/lisk-framework-http-api-plugin/src/controllers/peers.ts
  framework-plugins/lisk-framework-http-api-plugin/swagger.yml
  framework/src/node/network/network.ts
  framework/src/node/node.ts
  protocol-specs/generator_outputs/lisk_codec/peer_info_sample_encoding.json
  protocol-specs/generators/lisk_codec/proto_files/peer_sample.proto
  protocol-specs/generators/lisk_codec/types_generators/peer_sample.js
Due: prettier --write, eslint

Replace networkId with networkIdentifier in the tests
  elements/lisk-codec/test/decode.spec.ts
  elements/lisk-codec/test/decode_json.spec.ts
  elements/lisk-p2p/test/functional/actions/apply_node_info.ts
  elements/lisk-p2p/test/functional/events/connection_create.ts
  elements/lisk-p2p/test/integration/discovery.ts
  elements/lisk-p2p/test/integration/peer_discovery_threshold.ts
  elements/lisk-p2p/test/integration/penalty_malformed_peerinfo.ts
  elements/lisk-p2p/test/integration/penalty_malformed_peerinfo_list.ts
  elements/lisk-p2p/test/unit/p2p.ts
  elements/lisk-p2p/test/unit/peer/base.ts
  elements/lisk-p2p/test/unit/peer/inbound.ts
  elements/lisk-p2p/test/unit/peer/outbound.ts
  elements/lisk-p2p/test/unit/peer_pool.ts
  elements/lisk-p2p/test/unit/peer_server/peer_server.ts
  elements/lisk-p2p/test/unit/utils/select.ts
  elements/lisk-p2p/test/unit/utils/validate.ts
  elements/lisk-p2p/test/utils/network_setup.ts
  elements/lisk-p2p/test/utils/peers.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/node.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/utils/peers.ts
  framework/test/functional/actions/application.spec.ts
  framework/test/functional/network/banning/invalid_block_bytes.spec.ts
  framework/test/functional/network/banning/invalid_block_property.spec.ts
  framework/test/functional/network/blocks.spec.ts
  framework/test/functional/network/transactions.spec.ts
  framework/test/functional/utils/probe.ts
  framework/test/unit/node/network/network.spec.ts
Due: prettier --write, eslint

Fix swagger file formatting issues
  framework-plugins/lisk-framework-http-api-plugin/swagger.yml
Due: none

:arrow_up: Bump Version
  commander/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  framework/package.json
  sdk/package-lock.json
  sdk/package.json
Due: prettier --write

:bug: Fix username validation for registered accounts
  framework/src/modules/dpos/transaction_assets/register_transaction_asset.ts
Due: prettier --write, eslint

Add meta count to forgers api
  framework-plugins/lisk-framework-http-api-plugin/src/controllers/forgers.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/forgers.spec.ts
Due: prettier --write, eslint

Improve balance error message
  framework/src/modules/token/transfer_asset.ts
Due: prettier --write, eslint

Update transfer_asset unit test
  framework/src/modules/token/transfer_asset.ts
  framework/test/unit/modules/token/transfer_asset.spec.ts
Due: prettier --write, eslint

Update token module balance error message
  framework/src/modules/token/token_module.ts
  framework/test/unit/modules/token/token_module.spec.ts
Due: prettier --write, eslint

:white_check_mark: Fix integration test expectation
  framework/test/integration/node/processor/transaction_order.spec.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  commander/test/_global_hooks.ts
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-constants/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-db/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework/package.json
  protocol-specs/package.json
  sdk/package.json
  yarn.lock
Due: prettier --write, eslint

:bug: Fix state store scope to match the module
  framework/src/modules/dpos/data_access.ts
  framework/src/modules/dpos/delegates.ts
  framework/src/modules/dpos/dpos_module.ts
  framework/src/modules/dpos/transaction_assets/pom_transaction_asset.ts
  framework/src/modules/dpos/transaction_assets/register_transaction_asset.ts
  framework/src/modules/dpos/transaction_assets/unlock_transaction_asset.ts
  framework/src/modules/dpos/transaction_assets/vote_transaction_asset.ts
  framework/src/modules/keys/register_asset.ts
  framework/src/modules/sequence/sequence_module.ts
  framework/src/modules/token/token_module.ts
  framework/src/modules/token/transfer_asset.ts
  framework/src/node/processor/pipeline.ts
  framework/src/node/processor/processor.ts
  framework/src/types.ts
  framework/test/integration/node/processor/process_block.spec.ts
  framework/test/unit/node/processor/processor.spec.ts
Due: prettier --write, eslint

Update get block by height api error catch
  framework-plugins/lisk-framework-http-api-plugin/src/controllers/blocks.ts
  framework-plugins/lisk-framework-http-api-plugin/src/middlewares/errors.ts
Due: prettier --write, eslint

:recycle: Remove outdated TODO and FIXME comments
  elements/lisk-db/src/kv_store.ts
  elements/lisk-db/test/kv_store.spec.ts
  elements/lisk-p2p/src/types.ts
  elements/lisk-p2p/src/utils/select.ts
  elements/lisk-p2p/test/functional/actions/send.ts
  elements/lisk-p2p/test/functional/custom_peer_selection.ts
  framework-plugins/lisk-framework-forger-plugin/src/forger_plugin.ts
  framework-plugins/lisk-framework-forger-plugin/test/utils/application.ts
  framework/src/application.ts
  framework/src/controller/bus.ts
  framework/src/controller/controller.ts
  framework/src/node/node.ts
  framework/src/node/processor/processor.ts
  framework/src/node/synchronizer/block_synchronization_mechanism.ts
  framework/src/node/synchronizer/fast_chain_switching_mechanism.ts
  framework/src/node/synchronizer/synchronizer.ts
  framework/src/node/transport/transport.ts
  framework/src/schema/application_config_schema.ts
  framework/test/integration/node/forger/transaction_pool.spec.ts
  framework/test/integration/node/genesis_block.spec.ts
  framework/test/integration/node/processor/delete_block.spec.ts
  framework/test/integration/node/processor/transaction_order.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/vote_transaction_asset.spec.ts
  framework/test/unit/node/synchronizer/fast_chain_switching_mechanism/fast_chain_switching_mechanism.spec.ts
  protocol-specs/generator_outputs/bft_processing/bft_invalid_block_headers.json
  protocol-specs/generators/base_generator.js
  protocol-specs/generators/bft_processing/index.js
Due: prettier --write, eslint

:bug: Add validation for unique unlock objects
  framework/src/modules/dpos/transaction_assets/unlock_transaction_asset.ts
Due: prettier --write, eslint

:rewind: Revert adding unique unlocks which is a valid case
  framework/src/modules/dpos/transaction_assets/unlock_transaction_asset.ts
Due: prettier --write, eslint

Update get block tests
  framework-plugins/lisk-framework-http-api-plugin/src/controllers/blocks.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/blocks.spec.ts
Due: prettier --write, eslint

:seedling: Export packages from lisk-sdk, lisk-elements and lisk-client
  elements/README.md
  elements/lisk-client/README.md
  elements/lisk-client/package.json
  elements/lisk-client/src/index.ts
  elements/lisk-client/test/index.spec.ts
  elements/lisk-constants/.eslintignore
  elements/lisk-constants/.eslintrc.js
  elements/lisk-constants/.npmignore
  elements/lisk-constants/.npmrc
  elements/lisk-constants/.prettierignore
  elements/lisk-constants/.prettierrc.json
  elements/lisk-constants/LICENSE
  elements/lisk-constants/README.md
  elements/lisk-constants/jest.config.js
  elements/lisk-constants/package.json
  elements/lisk-constants/scripts
  elements/lisk-constants/src/index.ts
  elements/lisk-constants/test/.eslintrc.js
  elements/lisk-constants/test/_setup.js
  elements/lisk-constants/test/index.spec.ts
  elements/lisk-constants/test/tsconfig.json
  elements/lisk-constants/tsconfig.json
  elements/lisk-elements/README.md
  elements/lisk-elements/package.json
  elements/lisk-elements/src/index.ts
  elements/lisk-elements/test/__snapshots__/index.spec.ts.snap
  elements/lisk-elements/test/index.spec.ts
  elements/lisk-p2p/test/config/jest.config.base.js
  sdk/package.json
  sdk/src/index.ts
  templates/jest.config.js.tmpl
  yarn.lock
Due: prettier --write, eslint

:recycle: Update multi signature signing Allow users to sign with same passphrase more than once
  elements/lisk-transactions/src/sign.ts
  elements/lisk-transactions/test/sign.spec.ts
Due: prettier --write, eslint

:recycle: Fix function call
  framework/test/integration/node/forger/transaction_pool.spec.ts
Due: prettier --write, eslint

:nail_care: Update yarn lock
  yarn.lock
Due: none

:white_check_mark: Add missing snapshot
  elements/lisk-client/test/__snapshots__/index.spec.ts.snap
Due: none

:arrow_back: Revert test environment setup
  templates/jest.config.js.tmpl
Due: none
