Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update utils.ts
  elements/lisk-cryptography/src/utils.ts
Due: prettier --write, eslint

Update constants.ts
  elements/lisk-cryptography/src/constants.ts
Due: prettier --write, eslint

Update encrypt.ts
  elements/lisk-cryptography/src/encrypt.ts
Due: prettier --write, eslint

Draft
  elements/lisk-cryptography/src/constants.ts
  elements/lisk-cryptography/src/encrypt.ts
  elements/lisk-cryptography/src/utils.ts
  elements/lisk-cryptography/test/encrypt.spec.ts
Due: prettier --write, eslint

Implement encryptAES256GCMWithPassword and decryptAES256GCMWithPassword with argon2
  elements/lisk-cryptography/src/encrypt.ts
Due: prettier --write, eslint

Add hash-wasm
  elements/lisk-cryptography/package.json
  yarn.lock
Due: prettier --write

Update encrypt.spec.ts
  elements/lisk-cryptography/test/encrypt.spec.ts
Due: prettier --write, eslint

♻️ Fix yarn lock
  yarn.lock
Due: none

Update convert.ts
  elements/lisk-cryptography/src/convert.ts
Due: prettier --write, eslint

💅 Fix yarn.lock formatting issue
  yarn.lock
Due: none

Update endpoint.ts
  framework/src/engine/generator/endpoint.ts
Due: prettier --write, eslint

Update generator.ts
  framework/src/engine/generator/generator.ts
Due: prettier --write, eslint

Update block_processing_env.ts
  framework/src/testing/block_processing_env.ts
Due: prettier --write, eslint

Update config.ts
  framework/src/testing/fixtures/config.ts
Due: prettier --write, eslint

Update README.md
  sdk/README.md
Due: prettier --write

Fix duplication
  sdk/README.md
Due: prettier --write

🐛 Update stateStore to use DB iterateOptions
  elements/lisk-chain/src/state_store/state_store.ts
  framework/src/engine/bft/api.ts
  framework/src/engine/bft/bft_params.ts
  framework/src/engine/bft/utils.ts
Due: prettier --write, eslint

✅ Update state store unit tests
  elements/lisk-chain/test/unit/state_store/state_store.spec.ts
Due: prettier --write, eslint

Remove additional note
  sdk/README.md
Due: prettier --write

Remove colon
  sdk/README.md
Due: prettier --write

💅 Fix format issue
  protocol-specs/package.json
Due: prettier --write

♻️ Update yarn.lock
  yarn.lock
Due: none

Update convert.spec.ts
  elements/lisk-cryptography/test/convert.spec.ts
Due: prettier --write, eslint

Update endpoint.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/endpoint.ts
Due: prettier --write, eslint

🐛 Fix getMetaData response
  elements/lisk-api-client/src/api_client.ts
  elements/lisk-api-client/test/api_client.spec.ts
Due: prettier --write, eslint

🐛 Fix socketPath for IPC api
  elements/lisk-api-client/src/ipc_channel.ts
Due: prettier --write, eslint

Update endpoint.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/src/endpoint.ts
Due: prettier --write, eslint

Update commons.ts
  commander/src/utils/commons.ts
Due: prettier --write, eslint

Update decrypt.ts
  commander/src/bootstrapping/commands/passphrase/decrypt.ts
Due: prettier --write, eslint

Update auth.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/auth.spec.ts
Due: prettier --write, eslint

Update create.ts
  commander/src/bootstrapping/commands/genesis-block/create.ts
Due: prettier --write, eslint

Update config.ts
  commander/src/bootstrapping/commands/forging/config.ts
Due: prettier --write, eslint

Fix bug
  elements/lisk-cryptography/src/encrypt.ts
  elements/lisk-cryptography/src/utils.ts
  elements/lisk-cryptography/test/encrypt.spec.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
