Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

:bug: Add command registrations to token and interoperability modules
  framework/src/application.ts
  framework/src/modules/interoperability/base_state_recovery.ts
  framework/src/modules/interoperability/mainchain/module.ts
  framework/src/modules/interoperability/sidechain/commands/state_recovery.ts
  framework/src/modules/interoperability/sidechain/module.ts
  framework/src/modules/token/module.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
  yarn.lock
Due: prettier --write

Update dependency: typescript@4.9.3
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  examples/pos-mainchain/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
  test/package.json
  yarn.lock
Due: prettier --write

:nail_care: Update lintstaged
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/.lintstagedrc.json
  examples/pos-mainchain/.lintstagedrc.json
  yarn.lock
Due: prettier --write

:recycle: Update yarn
  package.json
  yarn.lock
Due: prettier --write

:nail_care: Update ts tools
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  yarn.lock
Due: prettier --write

:nail_care: Apply format
  commander/test/bootstrapping/commands/endpoint/invoke.spec.ts
  elements/lisk-cryptography/test/nacl/nacl.spec.ts
  elements/lisk-p2p/src/peer_server/peer_server.ts
  elements/lisk-transaction-pool/test/unit/transaction_list.spec.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
  elements/lisk-transactions/src/fee.ts
  examples/pos-mainchain/.eslintrc.js
  framework/.eslintrc.js
  framework/src/controller/channels/ipc_channel.ts
  framework/src/engine/endpoint/chain.ts
  framework/src/modules/interoperability/base_state_recovery.ts
Due: prettier --write, eslint

:recycle: Fix snapshot
  commander/test/bootstrapping/commands/start.spec.ts
  framework-plugins/lisk-framework-dashboard-plugin/test/unit/plugin/__snapshots__/dashboard_plugin.spec.ts.snap
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/__snapshots__/faucet_plugin.spec.ts.snap
  framework/test/integration/node/__snapshots__/genesis_block.spec.ts.snap
Due: prettier --write, eslint

:white_check_mark: Fix unit test
  framework/test/unit/controller/controller.spec.ts
Due: prettier --write, eslint

:white_check_mark: Fix engine failing unit test
  framework/test/unit/engine/engine.spec.ts
Due: prettier --write, eslint

:recycle: Fix open handles
  framework/package.json
  framework/test/unit/engine/rpc/rpc_server.spec.ts
Due: prettier --write, eslint

:recycle: Remove open handles
  framework/test/unit/engine/legacy/legacy_chain_handler.spec.ts
Due: prettier --write, eslint

:recycle: Remove open handles
  framework/test/unit/engine/engine.spec.ts
Due: prettier --write, eslint

Implement passphrase create command
  commander/src/bootstrapping/commands/passphrase/create.ts
  commander/src/commands/passphrase/create.ts
  commander/src/index.ts
  commander/test/bootstrapping/commands/passphrase/create.spec.ts
  examples/pos-mainchain/src/commands/passphrase/create.ts
Due: prettier --write, eslint

Fix plugin template
  commander/src/bootstrapping/templates/lisk-template-ts/templates/plugin/src/app/plugins/plugin.ts
Due: prettier --write, eslint

Update endpoint name
  framework/src/modules/pos/endpoint.ts
  framework/src/modules/pos/module.ts
  framework/src/modules/pos/schemas.ts
  framework/src/modules/pos/types.ts
  framework/test/unit/modules/pos/endpoint.spec.ts
Due: prettier --write, eslint

🐛 Fix unstake height
  framework/src/modules/pos/commands/stake.ts
  framework/test/unit/modules/pos/commands/stake.spec.ts
Due: prettier --write, eslint

Fix name per feedback
  framework/src/modules/pos/schemas.ts
Due: prettier --write, eslint

Update input & import per feedback
  commander/src/bootstrapping/templates/lisk-template-ts/templates/plugin/src/app/plugins/plugin.ts
Due: prettier --write, eslint

Fix lint
  commander/test/bootstrapping/commands/passphrase/create.spec.ts
Due: prettier --write, eslint

♻️ Fix imports and types
  framework-plugins/lisk-framework-chain-connector-plugin/src/chain_connector_plugin.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/types.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/utils.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/endpoint.spec.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/plugin.spec.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/utils.spec.ts
  framework/src/index.ts
  framework/src/modules/interoperability/index.ts
Due: prettier --write, eslint

Update name for pos_getLockedRewards (#7842)
  framework/src/modules/pos/endpoint.ts
  framework/src/modules/pos/module.ts
  framework/src/modules/pos/schemas.ts
  framework/src/modules/pos/types.ts
  framework/test/unit/modules/pos/endpoint.spec.ts
Due: prettier --write, eslint

🐛 Allow multisig update
  framework/src/modules/auth/commands/register_multisignature.ts
  framework/test/unit/modules/auth/register_multisignature.spec.ts
Due: prettier --write, eslint

♻️ Export ccmSchema
  framework-plugins/lisk-framework-chain-connector-plugin/src/chain_connector_plugin.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/schemas.ts
  framework/src/index.ts
  framework/src/modules/interoperability/index.ts
Due: prettier --write, eslint

:seedling: Update production packages
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-api-client/src/ipc_channel.ts
  elements/lisk-api-client/src/utils.ts
  elements/lisk-api-client/src/ws_channel.ts
  elements/lisk-api-client/test/integration/ws_channel.spec.ts
  elements/lisk-chain/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-cryptography/src/encrypt.ts
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  examples/pos-mainchain/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/src/monitor_plugin.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  framework/src/controller/ws/ws_server.ts
  package.json
  sdk/package.json
  test/package.json
  test/src/main.spec.ts
  yarn.lock
Due: prettier --write, eslint

:bug: Revert isomorphic-ws
  elements/lisk-api-client/package.json
  elements/lisk-client/scripts/build.js
  package.json
  yarn.lock
Due: prettier --write, eslint

:seedling: Update fs-extra
  commander/package.json
  elements/lisk-chain/package.json
  examples/pos-mainchain/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  package.json
  yarn.lock
Due: prettier --write

Update production packages (#7823)
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-api-client/src/ipc_channel.ts
  elements/lisk-api-client/src/utils.ts
  elements/lisk-api-client/src/ws_channel.ts
  elements/lisk-api-client/test/integration/ws_channel.spec.ts
  elements/lisk-chain/package.json
  elements/lisk-client/scripts/build.js
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-cryptography/src/encrypt.ts
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  examples/pos-mainchain/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/src/monitor_plugin.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  framework/src/controller/ws/ws_server.ts
  package.json
  sdk/package.json
  test/package.json
  test/src/main.spec.ts
  yarn.lock
Due: prettier --write, eslint

Bootstrap
  framework-plugins/lisk-framework-chain-connector-plugin/package.json
  framework-plugins/lisk-framework-chain-connector-plugin/src/chain_connector_plugin.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/constants.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/db.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/schema.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/types.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/functional/jest.config.js
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/jest.config.js
Due: prettier --write, eslint

Create package
  framework-plugins/lisk-framework-chain-connector-plugin/.eslintignore
  framework-plugins/lisk-framework-chain-connector-plugin/.eslintrc.js
  framework-plugins/lisk-framework-chain-connector-plugin/.eslintrc.test.js
  framework-plugins/lisk-framework-chain-connector-plugin/.liskrc.json
  framework-plugins/lisk-framework-chain-connector-plugin/.prettierignore
  framework-plugins/lisk-framework-chain-connector-plugin/.prettierrc.json
  framework-plugins/lisk-framework-chain-connector-plugin/jest.config.js
  framework-plugins/lisk-framework-chain-connector-plugin/package.json
  framework-plugins/lisk-framework-chain-connector-plugin/src/index.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/.eslintrc.js
  framework-plugins/lisk-framework-chain-connector-plugin/test/_setup.js
  framework-plugins/lisk-framework-chain-connector-plugin/test/tsconfig.json
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/jest.config.js
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/plugin.spec.ts
  framework-plugins/lisk-framework-chain-connector-plugin/tsconfig.json
Due: prettier --write, eslint

Update package.json
  framework-plugins/lisk-framework-chain-connector-plugin/package.json
Due: prettier --write

Update prettier
  framework-plugins/lisk-framework-chain-connector-plugin/.prettierignore
Due: none

Update config
  framework-plugins/lisk-framework-chain-connector-plugin/test/.eslintrc.js
  framework-plugins/lisk-framework-chain-connector-plugin/test/_setup.js
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/plugin.spec.ts
Due: prettier --write, eslint

Update config
  framework-plugins/lisk-framework-chain-connector-plugin/.eslintignore
  framework-plugins/lisk-framework-chain-connector-plugin/.eslintrc.js
  framework-plugins/lisk-framework-chain-connector-plugin/.eslintrc.test.js
  framework-plugins/lisk-framework-chain-connector-plugin/tsconfig.json
Due: prettier --write, eslint

update yarn lock
  yarn.lock
Due: none

♻️ Update constant and improve property assignment
  framework-plugins/lisk-framework-chain-connector-plugin/src/chain_connector_plugin.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/constants.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/plugin.spec.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
