Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

:art: Update input components to trigger value change prop and update styles
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/Input.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/SelectInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextAreaInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:nail_care: Rename directory and update table header
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/TransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/Widgets.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/index.tsx
Due: none

Update framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/index.tsx
Due: none

missing comma
  framework/src/node/node.ts
Due: prettier --write, eslint

Move integration to functional
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/test/functional/fund.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/test/integration/jest.config.js
  framework-plugins/lisk-framework-faucet-plugin/test/integration/setup.js
Due: prettier --write, eslint

:art: Update Table component to allow sticky header
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/TableBody.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/TableHeader.tsx
Due: none

:art: Add fixed column width to blocks and transactions widgets
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/TransactionWidget.tsx
Due: none

:nail_care: Revert text component changes
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Text/index.tsx
Due: none

add test app:getNodeInfo network port
  framework-plugins/lisk-framework-http-api-plugin/test/functional/node.spec.ts
Due: prettier --write, eslint

Update fund.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/test/functional/fund.spec.ts
Due: prettier --write, eslint

Add info panel component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/InfoPanel.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widget/Widget.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widget/WidgetBody.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/index.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Fix format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/InfoPanel.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widget/Widget.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Figma updated fonts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/InfoPanel.module.scss
Due: none

:seedling: Add favicon
  framework-plugins/lisk-framework-dashboard-plugin/public/favicon.ico
  framework-plugins/lisk-framework-dashboard-plugin/public/logo192.png
  framework-plugins/lisk-framework-dashboard-plugin/public/logo512.png
  framework-plugins/lisk-framework-faucet-plugin/public/favicon.ico
  framework-plugins/lisk-framework-faucet-plugin/public/logo192.png
  framework-plugins/lisk-framework-faucet-plugin/public/logo512.png
  framework-plugins/lisk-framework-faucet-plugin/public/manifest.json
Due: prettier --write

fix typo
  framework-plugins/lisk-framework-http-api-plugin/test/functional/node.spec.ts
Due: prettier --write, eslint

:recycle: Update idnex html template
  framework-plugins/lisk-framework-faucet-plugin/public/index.html
Due: none

Apply feedback
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/InfoPanel.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widget/Widget.module.scss
Due: none

Reuse text props
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/index.tsx
Due: none

Remove styling & use text component instead
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/InfoPanel.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Apply format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:art: Add alignment feature to Box component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Box/Box.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Box/index.tsx
Due: none

:art: Update SelectInput to allow passing object as selected value
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/SelectInput.tsx
Due: none

:sparkles: Add SendTransactionWidget component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/SendTransactionWidget.tsx
Due: none

:art: Update MainPage to show SendTransactionWidget
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/types.ts
Due: prettier --write, eslint

:recycle: Rename base32 functions to lisk32
  elements/lisk-cryptography/src/constants.ts
  elements/lisk-cryptography/src/keys.ts
Due: prettier --write, eslint

:white_check_mark: Update tests to use new lisk32 functions
  elements/lisk-cryptography/test/keys.spec.ts
Due: prettier --write, eslint

Update framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/SendTransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/SendTransactionWidget.tsx
Due: none

:white_check_mark: Update the usage of deprecated base32 functions in tests
  commander/src/commands/account/create.ts
  commander/src/commands/account/show.ts
  commander/test/commands/account/create.test.ts
  commander/test/commands/account/show.test.ts
  elements/lisk-client/test/lisk-cryptography/keys.spec.ts
Due: prettier --write, eslint

:lipstick: Update the formatting
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/SendTransactionWidget.tsx
Due: none

:bug: Fix jest test settings
  elements/lisk-p2p/test/functional/jest.config.js
  elements/lisk-p2p/test/integration/jest.config.js
Due: prettier --write, eslint

:recycle: Fix updated deepscan
  framework/src/controller/controller.ts
Due: prettier --write, eslint

:seedling: Add console command
  commander/src/bootstrapping/commands/console.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/src/commands/console.ts
  commander/src/commands/console.ts
  commander/src/index.ts
Due: prettier --write, eslint

:seedling: Update Jenkinsfile
  Jenkinsfile.sdk
  framework/src/testing/block_processing_env.ts
Due: prettier --write, eslint

:recycle: Fix indentation
  Jenkinsfile.sdk
Due: none

:fire: Remove unnecessary input param
  Jenkinsfile.sdk
Due: none

:seedling: Add console command tests
  commander/test/bootstrapping/commands/console.spec.ts
Due: prettier --write, eslint

:seedling: Add console command to topics
  commander/package.json
  commander/src/bootstrapping/commands/console.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package.json
Due: prettier --write, eslint

:bug: Update dependency
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package.json
Due: prettier --write

Create Account widget
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/MyAccount/index.tsx
Due: none
