Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

:recycle: Add fork and single commit endpoint metrics
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/endpoint.spec.ts
  framework/src/engine/consensus/consensus.ts
  framework/src/engine/consensus/network_endpoint.ts
Due: prettier --write, eslint

🐛 Use chainID from genesisConfig and fix ccm selection
  framework-plugins/lisk-framework-chain-connector-plugin/src/chain_connector_plugin.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/inbox_update.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/endpoint.spec.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/inbox_update.spec.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/plugin.spec.ts
Due: prettier --write, eslint

:arrow_down: Revert unnecessary changes
  framework/src/testing/block_processing_env.ts
Due: prettier --write, eslint

🌱 Add support for cross chain transfers on example apps
  examples/interop/README.md
  examples/interop/pos-mainchain-fast/config/custom_config_node_one.json
  examples/interop/pos-mainchain-fast/config/custom_config_node_two.json
  examples/interop/pos-mainchain-fast/config/default/config.json
  examples/interop/pos-mainchain-fast/sidechain_config/default
  examples/interop/pos-sidechain-example-one/config/default/config.json
  examples/interop/pos-sidechain-example-two/config/default/config.json
Due: prettier --write

🌱 Add cross chain transfer scripts
  examples/interop/pos-mainchain-fast/config/scripts/transfer_lsk_sidechain_one.ts
  examples/interop/pos-mainchain-fast/config/scripts/transfer_lsk_sidechain_two.ts
  examples/interop/pos-sidechain-example-one/config/scripts/transfer_lsk_mainchain.ts
  examples/interop/pos-sidechain-example-two/config/scripts/transfer_lsk_mainchain.ts
  examples/interop/pos-sidechain-example-two/config/scripts/transfer_sidechain_one.ts
Due: prettier --write, eslint

⚙️ Add configurations for multiple side/mainchain nodes
  examples/interop/README.md
  examples/interop/pos-mainchain-fast/config/custom_config_node_one.json
  examples/interop/pos-mainchain-fast/config/custom_config_node_two.json
  examples/interop/pos-mainchain-fast/config/mainchain_node_one.sh
  examples/interop/pos-mainchain-fast/config/mainchain_node_two.sh
  examples/interop/pos-mainchain-fast/config/scripts/sidechain_registration.ts
  examples/interop/pos-mainchain-fast/src/pm2.json
  examples/interop/pos-sidechain-example-one/config/default/config.json
  examples/interop/pos-sidechain-example-one/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-one/config/scripts/mainchain_registration.ts
  examples/interop/pos-sidechain-example-two/config/default/config.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_assets.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-two/config/scripts/mainchain_registration.ts
  examples/interop/run_sidechains.json
Due: prettier --write, eslint

♻️ Update interoperability genesis assets and bump sdk version
  examples/interop/pos-mainchain-fast/config/custom_config_node_one.json
  examples/interop/pos-mainchain-fast/config/custom_config_node_two.json
  examples/interop/pos-mainchain-fast/config/default/config.json
  examples/interop/pos-mainchain-fast/config/default/genesis_assets.json
  examples/interop/pos-mainchain-fast/config/default/genesis_block.blob
  examples/interop/pos-mainchain-fast/package.json
  examples/interop/pos-sidechain-example-one/config/default/config.json
  examples/interop/pos-sidechain-example-one/config/default/genesis_assets.json
  examples/interop/pos-sidechain-example-one/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-one/config/scripts/transfer_sidechain_two.ts
  examples/interop/pos-sidechain-example-one/package.json
  examples/interop/pos-sidechain-example-two/config/default/config.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_assets.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-two/config/scripts/transfer_lsk_mainchain.ts
  examples/interop/pos-sidechain-example-two/package.json
Due: prettier --write, eslint

Use chainID from genesisConfig and fix ccm selection (#8358)
  framework-plugins/lisk-framework-chain-connector-plugin/src/chain_connector_plugin.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/inbox_update.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/endpoint.spec.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/inbox_update.spec.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/plugin.spec.ts
Due: prettier --write, eslint

:recycle: Expose api from followers
  examples/pos-mainchain/ecosystem.config.js
Due: prettier --write, eslint

:recycle: Refactor metrics, systen endpoint and ecosystem script
  examples/pos-mainchain/ecosystem.config.js
  framework/src/engine/endpoint/system.ts
  framework/src/engine/metrics/metrics.ts
Due: prettier --write, eslint

:recycle: Update ecosystem seed folder
  examples/pos-mainchain/ecosystem.config.js
Due: prettier --write, eslint

:recycle: Update yarn.lock
  yarn.lock
Due: none

Update TypeDoc version (#8352)
  commander/package.json
  commander/typedoc.json
  elements/lisk-api-client/package.json
  elements/lisk-api-client/typedoc.json
  elements/lisk-chain/package.json
  elements/lisk-chain/typedoc.json
  elements/lisk-codec/package.json
  elements/lisk-codec/typedoc.json
  elements/lisk-cryptography/package.json
  elements/lisk-cryptography/typedoc.json
  elements/lisk-p2p/package.json
  elements/lisk-p2p/typedoc.json
  elements/lisk-passphrase/package.json
  elements/lisk-passphrase/typedoc.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transaction-pool/typedoc.json
  elements/lisk-transactions/package.json
  elements/lisk-transactions/typedoc.json
  elements/lisk-tree/package.json
  elements/lisk-tree/typedoc.json
  elements/lisk-utils/package.json
  elements/lisk-utils/typedoc.json
  elements/lisk-validator/package.json
  elements/lisk-validator/typedoc.json
  framework-plugins/lisk-framework-chain-connector-plugin/typedoc.json
  framework-plugins/lisk-framework-dashboard-plugin/typedoc.json
  framework-plugins/lisk-framework-faucet-plugin/typedoc.json
  framework-plugins/lisk-framework-forger-plugin/typedoc.json
  framework-plugins/lisk-framework-monitor-plugin/typedoc.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/typedoc.json
  framework/package.json
  framework/typedoc.json
  package.json
  typedoc.json
  yarn.lock
Due: prettier --write

:fire: Remove unused codes
  framework/benchmark/process.js
Due: prettier --write, eslint

Add metrics and fix performance of certification (#8354)
  .eslintignore
  examples/pos-mainchain/.eslintignore
  examples/pos-mainchain/config/alphanet/config.json
  examples/pos-mainchain/config/alphanet/dev-validators.json
  examples/pos-mainchain/config/alphanet/genesis_assets.json
  examples/pos-mainchain/config/alphanet/genesis_block.blob
  examples/pos-mainchain/config/alphanet/passphrase.json
  examples/pos-mainchain/ecosystem.config.js
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/endpoint.spec.ts
  framework/benchmark/process.js
  framework/package.json
  framework/src/engine/consensus/certificate_generation/commit_list.ts
  framework/src/engine/consensus/certificate_generation/commit_pool.ts
  framework/src/engine/consensus/consensus.ts
  framework/src/engine/consensus/network_endpoint.ts
  framework/src/engine/endpoint/system.ts
  framework/src/engine/engine.ts
  framework/src/engine/generator/generator.ts
  framework/src/engine/metrics/metrics.ts
  framework/src/schema/application_config_schema.ts
  framework/src/testing/fixtures/config.ts
  framework/src/types.ts
  framework/test/unit/__snapshots__/application.spec.ts.snap
  framework/test/unit/schema/__snapshots__/application_config_schema.spec.ts.snap
  yarn.lock
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  examples/interop/pos-mainchain-fast/package.json
  examples/interop/pos-sidechain-fast/package.json
  framework-plugins/lisk-framework-chain-connector-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  protocol-specs/package.json
  sdk/package.json
  yarn.lock
Due: prettier --write

:bug: Fix duplicate single commit and verification order
  framework/src/engine/consensus/certificate_generation/commit_pool.ts
  framework/test/unit/engine/consensus/certificate_generation/commit_pool.spec.ts
Due: prettier --write, eslint

Fix duplicate single commit and verification order (#8363)
  framework/src/engine/consensus/certificate_generation/commit_pool.ts
  framework/test/unit/engine/consensus/certificate_generation/commit_pool.spec.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  examples/interop/pos-mainchain-fast/package.json
  examples/interop/pos-sidechain-fast/package.json
  framework-plugins/lisk-framework-chain-connector-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  protocol-specs/package.json
  sdk/package.json
Due: prettier --write

♻️ Update interoperability genesis assets and bump sdk version
  examples/interop/pos-mainchain-fast/config/custom_config_node_one.json
  examples/interop/pos-mainchain-fast/config/custom_config_node_two.json
  examples/interop/pos-mainchain-fast/config/default/config.json
  examples/interop/pos-mainchain-fast/config/default/genesis_assets.json
  examples/interop/pos-mainchain-fast/config/default/genesis_block.blob
  examples/interop/pos-mainchain-fast/package.json
  examples/interop/pos-sidechain-example-one/config/default/config.json
  examples/interop/pos-sidechain-example-one/config/default/genesis_assets.json
  examples/interop/pos-sidechain-example-one/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-one/config/scripts/transfer_sidechain_two.ts
  examples/interop/pos-sidechain-example-two/config/default/config.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_assets.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-two/config/scripts/transfer_lsk_mainchain.ts
  examples/interop/pos-sidechain-example-two/package.json
Due: prettier --write, eslint

🐛 Register ccCommands of interoperability module as well
  framework/src/modules/interoperability/base_interoperability_module.ts
Due: prettier --write, eslint

♻️ Bump version of SDK and update genesis-block
  examples/interop/pos-mainchain-fast/config/default/genesis_block.blob
  examples/interop/pos-mainchain-fast/package.json
  examples/interop/pos-sidechain-example-one/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-one/package.json
  examples/interop/pos-sidechain-example-two/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-two/package.json
  framework/src/modules/interoperability/base_interoperability_module.ts
Due: prettier --write, eslint

Sorting Commit List without using a conditional
  framework/src/engine/consensus/certificate_generation/commit_list.ts
Due: prettier --write, eslint

Remove sort order argument when using the default sort order
  framework/src/engine/consensus/certificate_generation/commit_pool.ts
Due: prettier --write, eslint

Remove unnecessary logic from deleteByHeight()
  framework/src/engine/consensus/certificate_generation/commit_list.ts
Due: prettier --write, eslint

♻️ Update genesisBlocks
  examples/interop/pos-mainchain-fast/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-one/config/default/genesis_block.blob
  examples/interop/pos-sidechain-example-two/config/default/genesis_block.blob
Due: none

Register ccCommands of interoperability module as well (#8367)
  framework/src/modules/interoperability/base_interoperability_module.ts
Due: prettier --write, eslint

:seedling: Add endpoints for estimation
  framework/src/modules/dynamic_rewards/endpoint.ts
  framework/src/modules/dynamic_rewards/module.ts
  framework/src/modules/dynamic_rewards/types.ts
  framework/src/modules/dynamic_rewards/utils.ts
  framework/src/modules/pos/endpoint.ts
  framework/src/modules/pos/module.ts
  framework/src/modules/pos/schemas.ts
  framework/src/modules/pos/types.ts
  framework/src/modules/reward/endpoint.ts
  framework/test/unit/modules/dynamic_rewards/endpoint.spec.ts
  framework/test/unit/modules/pos/endpoint.spec.ts
Due: prettier --write, eslint

Add 2 scripts
  examples/interop/monitor
  examples/interop/start_example
Due: none

:bug: Fix standby validator bft weight
  framework/src/modules/pos/utils.ts
  framework/test/unit/modules/pos/module.spec.ts
Due: prettier --write, eslint

Add endpoints for estimation (#8368)
  framework/src/modules/dynamic_rewards/endpoint.ts
  framework/src/modules/dynamic_rewards/module.ts
  framework/src/modules/dynamic_rewards/types.ts
  framework/src/modules/dynamic_rewards/utils.ts
  framework/src/modules/pos/endpoint.ts
  framework/src/modules/pos/module.ts
  framework/src/modules/pos/schemas.ts
  framework/src/modules/pos/types.ts
  framework/src/modules/reward/endpoint.ts
  framework/test/unit/modules/dynamic_rewards/endpoint.spec.ts
  framework/test/unit/modules/pos/endpoint.spec.ts
Due: prettier --write, eslint

:bug: Fix init round condition
  framework/src/modules/pos/module.ts
Due: prettier --write, eslint
