Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

Update module_generator.ts
  commander/src/bootstrapping/generators/module_generator.ts
Due: prettier --write, eslint

Update plugin_generator.ts
  commander/src/bootstrapping/generators/plugin_generator.ts
Due: prettier --write, eslint

Add init:plugin command
  commander/src/commands/init/plugin.ts
Due: prettier --write, eslint

Add init:plugin base generator
  commander/src/bootstrapping/generators/init_plugin_generator.ts
Due: prettier --write, eslint

Add init:plugin generator
  commander/src/bootstrapping/templates/lisk-template-ts/generators/init_plugin_generator.ts
Due: prettier --write, eslint

Update index.ts
  commander/src/bootstrapping/templates/lisk-template-ts/index.ts
Due: prettier --write, eslint

Update init_plugin_generator.ts
  commander/src/bootstrapping/generators/init_plugin_generator.ts
Due: prettier --write, eslint

Update init_plugin_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/generators/init_plugin_generator.ts
Due: prettier --write, eslint

Create index.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/src/index.ts
Due: prettier --write, eslint

Create standalone plugin template
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/src/plugin.ts
Due: prettier --write, eslint

Create plugin.spec.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/test/unit/plugin.spec.ts
Due: prettier --write, eslint

Create jest.config.js
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/jest.config.js
Due: prettier --write, eslint

Create clean.sh
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/scripts/clean.sh
Due: none

Create package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
Due: prettier --write

Create _setup.js
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/test/_setup.js
Due: prettier --write, eslint

Remove unnecessary comments
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/scripts/clean.sh
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/test/_setup.js
Due: prettier --write, eslint

Create .eslintrc.js
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/.eslintrc.js
Due: prettier --write, eslint

Create .eslintignore
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/.eslintignore
Due: none

Create tsconfig.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/test/tsconfig.json
Due: prettier --write

Update plugin.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/src/plugin.ts
Due: prettier --write, eslint

Create tsconfig.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/tsconfig.json
Due: prettier --write

Create jest.config.js
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/test/unit/jest.config.js
Due: prettier --write, eslint

Update plugin.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/plugin/src/app/plugins/plugin.ts
Due: prettier --write, eslint

Remove log
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/test/_setup.js
Due: prettier --write, eslint

Update .eslintignore
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/.eslintignore
Due: none

Create .eslintrc.js
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/test/.eslintrc.js
Due: prettier --write, eslint

Create .eslintrc.test.js
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/.eslintrc.test.js
Due: prettier --write, eslint

Fix format
  commander/src/bootstrapping/generators/init_plugin_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/generators/init_plugin_generator.ts
  commander/src/commands/init/plugin.ts
Due: prettier --write, eslint

Update tsconfig.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/tsconfig.json
Due: prettier --write

Add comment for generator
  commander/src/bootstrapping/templates/lisk-template-ts/generators/init_plugin_generator.ts
Due: prettier --write, eslint

Update plugin template
  commander/src/bootstrapping/templates/lisk-template-ts/templates/plugin/src/app/plugins/plugin.ts
Due: prettier --write, eslint

Remove unneeded dependencies
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
Due: prettier --write

Update clean.sh
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/scripts/clean.sh
Due: none

Update package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
Due: prettier --write

Create .gitignore
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/.gitignore
Due: none

Create .npmrc
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/.npmrc
Due: none

Create .npmignore
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/.npmignore
Due: none
