Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

♻️ Avoid flicker on hover copiable text
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/CopiableText.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:white_check_mark: Fix failing tests
  commander/test/bootstrapping/commands/transaction/create.spec.ts
  elements/lisk-validator/src/lisk_validator.ts
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/faucet_plugin.spec.ts
  framework-plugins/lisk-framework-forger-plugin/src/defaults/default_config.ts
  framework-plugins/lisk-framework-http-api-plugin/src/controllers/transactions.ts
  framework/src/modules/dpos/transaction_assets/pom_transaction_asset.ts
Due: prettier --write, eslint

:wrench: Update test snapshot
  framework/test/unit/modules/dpos/transaction_assets/__snapshots__/pom_transaction_asset.spec.ts.snap
Due: none

:white_check_mark: Fix failing tests for http-api-plugin
  framework-plugins/lisk-framework-http-api-plugin/test/functional/delegates.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/peers.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/transactions.spec.ts
Due: prettier --write, eslint

💅 Add margin between icon and text
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/CopiableText.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:white_check_mark: Update pom transaction schema fixtures
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/integration/cleanup_job.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/send_pom_transaction.spec.ts
  framework/test/functional/actions/__snapshots__/application.spec.ts.snap
Due: prettier --write, eslint

:art: Update network size for p2p integration test
  elements/lisk-p2p/test/integration/custom_node_info.spec.ts
Due: prettier --write, eslint

:art: Update dropdown item selection logic for single and multi select
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/SelectInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/SendTransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:arrow_up: Update nodejs version
  .nvmrc
Due: none

:art: Update event handler for single select option
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/SelectInput.tsx
Due: none

💅 Add max width to Text and Icon
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/CopiableText.module.scss
Due: none

Apply feedback
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
Due: none

Apply format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
Due: none

:art: Update CallActionWidget to use SelectInput with single select option
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
Due: none

:art: Update Grid component to allow 15 columns
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/Grid.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/index.tsx
Due: none

:sparkles: Add responsive hide/show to Box component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Box/Box.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Box/index.tsx
Due: none

:art: Add new color support to Text component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Text/Text.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Text/index.tsx
Due: none

:art: Update Button to expand only on mobile devices
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Button/Button.module.scss
Due: none

:bug: Add click support to InfoPanel component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/InfoPanel/index.tsx
Due: none

:art: Update NodeInfo component to list all values
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/NodeInfoDialog.tsx
Due: none

:art: Update MainPage layout
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:sparkles: Add generate new account feature
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Update framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
Due: none

Update p2p.ts
  elements/lisk-p2p/src/p2p.ts
Due: prettier --write, eslint

Update sanitize.ts
  elements/lisk-p2p/src/utils/sanitize.ts
Due: prettier --write, eslint

Update validate.ts
  elements/lisk-p2p/src/utils/validate.ts
Due: prettier --write, eslint

Create sanitize_peer_lists.spec.ts
  elements/lisk-p2p/test/integration/sanitize_peer_lists.spec.ts
Due: prettier --write, eslint

Fix lint
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/utils/sanitize.ts
  elements/lisk-p2p/test/integration/sanitize_peer_lists.spec.ts
Due: prettier --write, eslint

Prettify json
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextAreaInput.tsx
Due: none

Update validate.ts
  elements/lisk-p2p/test/unit/utils/validate.ts
Due: prettier --write, eslint

:sparkles: Add support for event subscription for recent events widgets
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/RecentEventWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/types.ts
Due: prettier --write, eslint

Update error code
  elements/lisk-p2p/src/constants.ts
  elements/lisk-p2p/src/p2p.ts
Due: prettier --write, eslint

Fix lint
  elements/lisk-p2p/src/p2p.ts
Due: prettier --write, eslint

Rename test file
  elements/lisk-p2p/test/integration/sanitize_peer_lists.ts
Due: prettier --write, eslint

:sparkles: Add create and send transaction support
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/SendTransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/types.ts
Due: prettier --write, eslint

Update sanitize_peer_lists.ts
  elements/lisk-p2p/test/integration/sanitize_peer_lists.ts
Due: prettier --write, eslint

:sparkles: Add support for call action
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/types.ts
Due: prettier --write, eslint

:lipstick: Update small ui fixes around components
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/Grid.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Logo/Logo.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Text/Text.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Text/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialog/Dialog.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/Input.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/MyAccountWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Use codemirror for json text
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextAreaInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  yarn.lock
Due: prettier --write
