Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

:arrow_up: Bump version
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
Due: prettier --write

:arrow_up: Bump version
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
Due: prettier --write

:sparkles: Add message tag functions to lisk-cryptography
  elements/lisk-cryptography/src/index.ts
  elements/lisk-cryptography/src/message_tag.ts
  elements/lisk-cryptography/test/message_tag.spec.ts
Due: prettier --write, eslint

:art: Add constants for message tags
  elements/lisk-chain/src/constants.ts
  elements/lisk-chain/src/index.ts
  elements/lisk-transactions/src/constants.ts
Due: prettier --write, eslint

:lipstick: Update the formatting for source code
  elements/lisk-chain/src/index.ts
Due: prettier --write, eslint

:art: Update sign and verify functions to accept tag and network identifier
  elements/lisk-cryptography/src/sign.ts
Due: prettier --write, eslint

:art: Update lisk elements to use message tags
  elements/lisk-chain/src/validate.ts
  elements/lisk-chain/test/utils/block.ts
  elements/lisk-chain/test/utils/transaction.ts
  elements/lisk-client/test/lisk-cryptography/sign.spec.ts
  elements/lisk-transactions/src/sign.ts
  elements/lisk-transactions/test/__snapshots__/sign.spec.ts.snap
Due: prettier --write, eslint

:white_check_mark: Update tests for sign and verify functions
  elements/lisk-cryptography/test/sign.spec.ts
Due: prettier --write, eslint

:art: Update tagMessage to accept message as both string and buffer
  elements/lisk-cryptography/src/message_tag.ts
  elements/lisk-cryptography/test/message_tag.spec.ts
Due: prettier --write, eslint

:art: Update forger plugin to use message tags
  framework-plugins/lisk-framework-forger-plugin/test/utils/transactions.ts
Due: prettier --write, eslint

:art: Update protocol specs to use new signature pattern
  protocol-specs/generator_outputs/multisignature_registration_transaction/multisignature_registration_transaction.json
  protocol-specs/generator_outputs/proof_of_misbehavior_transaction/proof_of_misbehavior_transaction.json
  protocol-specs/generator_outputs/transaction_network_id_and_change_order/delegate_transaction_validate.json
  protocol-specs/generator_outputs/transaction_network_id_and_change_order/transfer_transaction_validate.json
  protocol-specs/generator_outputs/unlock_transaction/unlock_transaction.json
  protocol-specs/generator_outputs/vote_transaction/vote_transaction_10_upvotes.json
  protocol-specs/generators/multisignature_registration/index.js
  protocol-specs/generators/proof_of_misbehavior_transaction/index.js
  protocol-specs/generators/transaction_network_id_and_change_order/index.js
  protocol-specs/generators/unlocking_transaction/index.js
  protocol-specs/generators/vote_transaction/index.js
Due: prettier --write, eslint

:art: Update framework to use message tags
  framework/src/modules/dpos/transaction_assets/pom_transaction_asset.ts
  framework/src/modules/dpos/utils.ts
  framework/src/modules/keys/keys_module.ts
  framework/src/modules/keys/utils/verify.ts
  framework/src/node/forger/forger.ts
  framework/src/testing/create_block.ts
  framework/test/fixtures/blocks.ts
  framework/test/integration/node/processor/block_process/process_block.spec.ts
  framework/test/integration/node/processor/block_process/protocol_violation.spec.ts
  framework/test/integration/node/processor/report_misbehavior_transaction.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/pom_transaction_asset.spec.ts
  framework/test/unit/modules/keys/keys_module.spec.ts
  framework/test/unit/node/synchronizer/synchronizer.spec.ts
  framework/test/unit/node/transport/transport_private.spec.ts
  framework/test/utils/node/transaction.ts
Due: prettier --write, eslint

:art: Fix issues with framework/chain dependencies
  framework-plugins/lisk-framework-report-misbehavior-plugin/src/report_misbehavior_plugin.ts
  framework/src/modules/keys/keys_module.ts
  framework/test/integration/node/processor/report_misbehavior_transaction.spec.ts
  framework/test/unit/node/transport/transport_private.spec.ts
  framework/test/utils/node/transaction.ts
Due: prettier --write, eslint

:white_check_mark: Fix api client test snapshots
  elements/lisk-api-client/test/unit/__snapshots__/transaction.spec.ts.snap
Due: none

:white_check_mark: Fix lisk-commander tests
  commander/test/bootstrapping/commands/transaction/create.spec.ts
  commander/test/bootstrapping/commands/transaction/sign.spec.ts
Due: prettier --write, eslint

:white_check_mark: Fix framework integration tests
  framework/test/integration/node/processor/report_misbehavior_transaction.spec.ts
Due: prettier --write, eslint

:white_check_mark: Fix plugins unit tests
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/__snapshots__/send_pom_transaction.spec.ts.snap
Due: none

:heavy_plus_sign: Add bls dependencies
  elements/lisk-cryptography/package.json
  yarn.lock
Due: prettier --write

:sparkles: Add bls interfaces for selected ciphersuite
  elements/lisk-cryptography/src/bls.ts
Due: prettier --write, eslint

:white_check_mark: Add unit tests for eth2 specs
  elements/lisk-cryptography/test/bls.spec.ts
  elements/lisk-cryptography/test/bls_specs
Due: prettier --write, eslint

:wrench: Add more test specs for the bls
  elements/lisk-cryptography/test/bls_specs/aggregate/no_signatures.yml
  elements/lisk-cryptography/test/bls_specs/aggregate/one_signature_no_e2_curve.yml
  elements/lisk-cryptography/test/bls_specs/aggregate/signatures_no_e2_curve.yml
  elements/lisk-cryptography/test/bls_specs/create_agg_sig/case1.yml
  elements/lisk-cryptography/test/bls_specs/create_agg_sig/case2.yml
  elements/lisk-cryptography/test/bls_specs/pop_prove/case1.yml
  elements/lisk-cryptography/test/bls_specs/pop_prove/case2.yml
  elements/lisk-cryptography/test/bls_specs/pop_verify/case1.yml
  elements/lisk-cryptography/test/bls_specs/pop_verify/case2.yml
  elements/lisk-cryptography/test/bls_specs/pop_verify/not_matching_to_pk.yml
  elements/lisk-cryptography/test/bls_specs/pop_verify/not_valid_pk.yml
  elements/lisk-cryptography/test/bls_specs/pop_verify/pk_is_identity_point.yml
  elements/lisk-cryptography/test/bls_specs/pop_verify/pk_not_on_curve.yml
  elements/lisk-cryptography/test/bls_specs/pop_verify/tampered_proof.yml
  elements/lisk-cryptography/test/bls_specs/sign_bls/case1.yml
  elements/lisk-cryptography/test/bls_specs/sk_to_pk/case1.yml
  elements/lisk-cryptography/test/bls_specs/sk_to_pk/case2.yml
  elements/lisk-cryptography/test/bls_specs/sk_to_pk/case3.yml
  elements/lisk-cryptography/test/bls_specs/verify_bls/case1.yml
  elements/lisk-cryptography/test/bls_specs/verify_bls/case_different_message.yml
  elements/lisk-cryptography/test/bls_specs/verify_bls/different_tag.yml
  elements/lisk-cryptography/test/eth2_bls_specs
Due: none

:art: Update bls lib implementation to have popProve and popVerify
  elements/lisk-cryptography/src/bls_lib.ts
  elements/lisk-cryptography/test/bls.spec.ts
  elements/lisk-cryptography/test/bls_lib.spec.ts
Due: prettier --write, eslint

:art: Update .prettierignore to skip eth2-specs
  templates/.prettierignore.tmpl
Due: none

:see_no_evil: Add .yml and .yaml to .prettierignore
  templates/.prettierignore.tmpl
Due: none

:truck: Update few file names to describe better
  elements/lisk-cryptography/test/bls_specs/aggregate/third_signature_not_a_point_on_E2.yml
  elements/lisk-cryptography/test/bls_specs/pop_verify/pk_in_E1_but_not_in_G1.yml
Due: none

:art: Update code to ignore zero byte private key for signing
  elements/lisk-cryptography/src/bls_lib.ts
  elements/lisk-cryptography/test/bls_lib.spec.ts
Due: prettier --write, eslint

:art: Update the code and test cases with feedback
  elements/lisk-cryptography/test/bls_lib.spec.ts
  elements/lisk-cryptography/test/bls_specs/aggregate/no_signatures.yml
  elements/lisk-cryptography/test/bls_specs/pop_prove/case3.yml
Due: prettier --write, eslint

Update feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: prettier --write

Create feature_specification.md
  .github/ISSUE_TEMPLATE/feature_specification.md
Due: prettier --write

:sparkles: Add bls related cryptography functions
  elements/lisk-cryptography/src/bls.ts
  elements/lisk-cryptography/src/utils.ts
  elements/lisk-cryptography/test/bls.spec.ts
  elements/lisk-cryptography/test/bls_lib.spec.ts
  elements/lisk-cryptography/test/bls_specs/verify_agg_sig/case1.yml
  elements/lisk-cryptography/test/bls_specs/verify_bls/case_different_message.yml
  elements/lisk-cryptography/test/bls_specs/verify_bls/different_tag.yml
  elements/lisk-cryptography/test/utils.ts
Due: prettier --write, eslint

:art: Add export for bls functions
  elements/lisk-cryptography/src/index.ts
Due: prettier --write, eslint

:sparkles: Add verify weighted aggregated signature function
  elements/lisk-cryptography/src/bls.ts
Due: prettier --write, eslint

:bug: Fix faucet plugin direct usage of cryptography
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.tsx
Due: none

:arrow_up: Update sodium-native dependency in framework
  framework/package.json
  yarn.lock
Due: prettier --write

:white_check_mark: Add test case for verify weighted agg signature
  elements/lisk-cryptography/test/bls.spec.ts
  elements/lisk-cryptography/test/bls_specs/verify_weighted_agg_sig/case1.yml
  elements/lisk-cryptography/test/bls_specs/verify_weighted_agg_sig/case2.yml
Due: prettier --write, eslint

:art: Update structure for the bls lib
  elements/lisk-cryptography/package.json
  elements/lisk-cryptography/src/bls.ts
  elements/lisk-cryptography/src/bls_lib/index.ts
  elements/lisk-cryptography/src/bls_lib/lib.ts
  elements/lisk-cryptography/src/bls_lib/types.ts
  elements/lisk-cryptography/test/bls_lib/lib.spec.ts
Due: prettier --write, eslint

:art: Add blst dependency in framework
  framework/package.json
Due: prettier --write

:art: Add support for user feedback for bls not supported cases
  elements/lisk-cryptography/src/bls_lib/index.ts
  elements/lisk-cryptography/src/index.ts
Due: prettier --write, eslint

:white_check_mark: Add bls test to verify on lisk-client
  elements/lisk-client/test/lisk-cryptography/bls.spec.ts
  elements/lisk-cryptography/src/bls.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
