Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

:art: Fix Dialog component to use context instead of dynamic props
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialog/Dialog.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialog/Dialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialog/DialogBody.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialog/DialogHeader.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialog/index.tsx
Due: none

:art: Update dialog and grid components to better fit in responsive ui
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/Grid.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/MessageDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/NodeInfoDialog.tsx
Due: none

:white_check_mark: Update test to see failure on Jenkins
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/functional/save_new_block.spec.ts
Due: prettier --write, eslint

:art: Update wait time for block processing in mis-behaviour plugin tests
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/functional/save_new_block.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/integration/cleanup_job.spec.ts
Due: prettier --write, eslint

:seedling: Add base table component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/AccountRow.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/TableHeader.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/types.ts
Due: prettier --write, eslint

:bug: Fix genesis block timestamp
  framework/src/testing/create_genesis_block.ts
Due: prettier --write, eslint

add wsPort to app:getNodeInfo
  framework/src/node/node.ts
Due: prettier --write, eslint

Update package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
Due: prettier --write

Create jest.config.js
  framework-plugins/lisk-framework-faucet-plugin/test/functional/jest.config.js
Due: prettier --write, eslint

Create setup.js
  framework-plugins/lisk-framework-faucet-plugin/test/functional/setup.js
Due: prettier --write, eslint

Create faucet.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/test/functional/faucet.spec.ts
Due: prettier --write, eslint

Fix lint
  framework-plugins/lisk-framework-faucet-plugin/test/functional/faucet.spec.ts
Due: prettier --write, eslint

Update legalese
  framework-plugins/lisk-framework-faucet-plugin/test/functional/jest.config.js
  framework-plugins/lisk-framework-faucet-plugin/test/functional/setup.js
Due: prettier --write, eslint

:seedling: Add Widgets components
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/CopiableText.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/Grid.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/TableBody.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/TableHeader.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/TransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/Widgets.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/types.ts
Due: prettier --write, eslint

:white_check_mark: Update p2p message rate to decrease to lower bound for CI server
  elements/lisk-p2p/test/functional/message_rate.ts
Due: prettier --write, eslint

:art: Update the wait time longer to mitigate issue on CI server
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/functional/save_new_block.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/integration/cleanup_job.spec.ts
Due: prettier --write, eslint

:art: Update table format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/CopiableText.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/TransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/Widgets.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

nest port prop into network root prop
  framework/src/node/node.ts
Due: prettier --write, eslint

:art: Update table format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/TransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:truck: Rename component directory to CamelCase
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/TransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/AccountDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/MessageDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/NodeInfoDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/PeersInfoDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Update faucet_plugin.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
Due: prettier --write, eslint

Create setup.js
  framework-plugins/lisk-framework-faucet-plugin/test/integration/setup.js
Due: prettier --write, eslint

Create jest.config.js
  framework-plugins/lisk-framework-faucet-plugin/test/integration/jest.config.js
Due: prettier --write, eslint

Create integration.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/test/integration/integration.spec.ts
Due: prettier --write, eslint

:recycle: Update widget content to table format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/TableHeader.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Text/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/TransactionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/AccountDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/MessageDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/NodeInfoDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/PeersInfoDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:nail_care: Update table styles
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/Grid.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Grid/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Table/Table.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Widgets/TransactionWidget.tsx
Due: none

🌱 Add react-select for select input
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  yarn.lock
Due: prettier --write

🌱 Add TextInput component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/TextInput.tsx
Due: none

🌱 Add SelectInput component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/SelectInput.tsx
Due: none

🌱 Add TextAreaInput component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/TextAreaInput.tsx
Due: none

♻️ Add padding and remove hover
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/Input.module.scss
Due: none

♻️ Fix rebasing
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

♻️ Add more formatting options for select input
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/SelectInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/TextAreaInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/TextInput.tsx
Due: none

♻️ Add onChange props
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/TextAreaInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/TextInput.tsx
Due: none

🌱 Export from index
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/index.tsx
Due: none

🌱 Add Input scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/Input.module.scss
Due: none

♻️ Display sample in main page
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

♻️ Add size prop to textArea
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/Input.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Input/TextAreaInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:truck: Move components to other directory
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/Input.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/SelectInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextAreaInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/index.tsx
Due: none
