Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

:art: Update action and event usage in node
  framework/src/node/node.ts
Due: prettier --write, eslint

:art: Update plugins to use correct action and events interfaces
  framework-plugins/lisk-framework-forger-plugin/src/forger_plugin.ts
  framework-plugins/lisk-framework-http-api-plugin/src/http_api_plugin.ts
  framework-plugins/lisk-framework-monitor-plugin/src/monitor_plugin.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/src/report_misbehavior_plugin.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/auth.spec.ts
Due: prettier --write, eslint

♻️ Update defaultConfig of forger-plugin 🌱 Add /api/forging/info def in swagger
  framework-plugins/lisk-framework-forger-plugin/src/defaults/default_config.ts
  framework-plugins/lisk-framework-http-api-plugin/swagger.yml
Due: prettier --write, eslint

♻️ Update swagger.yml
  framework-plugins/lisk-framework-http-api-plugin/swagger.yml
Due: none

:bug: Add validation to check the network data before using
  framework-plugins/lisk-framework-monitor-plugin/src/monitor_plugin.ts
  framework-plugins/lisk-framework-monitor-plugin/src/schema.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/subscribe_event.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/transaction.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/src/report_misbehavior_plugin.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/src/schema.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/subscribe_event.spec.ts
Due: prettier --write, eslint

:bug: Fix APIClient events and type definitions
  elements/lisk-api-client/src/api_client.ts
  elements/lisk-api-client/src/block.ts
  elements/lisk-api-client/src/create_clients.ts
  elements/lisk-api-client/src/index.ts
  elements/lisk-api-client/src/ipc_channel.ts
  elements/lisk-api-client/src/transaction.ts
  elements/lisk-api-client/src/types.ts
  elements/lisk-api-client/src/ws_channel.ts
  elements/lisk-api-client/test/integration/ipc_channel.spec.ts
  elements/lisk-api-client/test/unit/ws_channel.spec.ts
Due: prettier --write, eslint

:white_check_mark: Fix outdated tests
  framework/test/functional/rpc-api/ipc/ipc_client.spec.ts
  framework/test/functional/rpc-api/ws/ws_client.spec.ts
Due: prettier --write, eslint

:arrow_up: Bump node.js Version
  .nvmrc
Due: none

:recycle: Update subscribe to accept generics
  elements/lisk-api-client/src/ipc_channel.ts
  elements/lisk-api-client/src/types.ts
  elements/lisk-api-client/src/ws_channel.ts
Due: prettier --write, eslint

:recycle: Add generics to subscribe
  elements/lisk-api-client/src/api_client.ts
Due: prettier --write, eslint

:fire: Remove license for crypti
  elements/README.md
  elements/lisk-api-client/README.md
  elements/lisk-bft/README.md
  elements/lisk-chain/README.md
  elements/lisk-client/README.md
  elements/lisk-codec/README.md
  elements/lisk-cryptography/README.md
  elements/lisk-db/README.md
  elements/lisk-elements/README.md
  elements/lisk-genesis/README.md
  elements/lisk-p2p/README.md
  elements/lisk-passphrase/README.md
  elements/lisk-transaction-pool/README.md
  elements/lisk-transactions/README.md
  elements/lisk-tree/README.md
  elements/lisk-utils/README.md
  elements/lisk-validator/README.md
  framework-plugins/lisk-framework-forger-plugin/README.md
  framework-plugins/lisk-framework-http-api-plugin/README.md
  framework-plugins/lisk-framework-monitor-plugin/README.md
  framework-plugins/lisk-framework-report-misbehavior-plugin/README.md
  framework/README.md
  sdk/README.md
  templates/README.md.tmpl
Due: prettier --write

:arrow_up: Update sodium-native and buffer library
  elements/lisk-client/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-cryptography/src/encrypt.ts
  elements/lisk-cryptography/src/nacl/fast.ts
  elements/lisk-cryptography/test/nacl/nacl.spec.ts
  elements/lisk-cryptography/types/sodium-native/index.d.ts
  framework/package.json
  yarn.lock
Due: prettier --write, eslint

:recycle: Fix error message expectation
  elements/lisk-chain/test/unit/process.spec.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  protocol-specs/package.json
  sdk/package.json
  templates/.npmignore.tmpl
Due: prettier --write

:bug: Fix to ignore zero amount change and add error for negative amount
  framework/src/modules/token/token_module.ts
Due: prettier --write, eslint

:bug: Fix event and action validation
  framework/src/controller/bus.ts
Due: prettier --write, eslint

:white_check_mark: Add unit test for action and event validation
  framework/test/unit/controller/bus.spec.ts
Due: prettier --write, eslint

:white_check_mark: Add test for token module, report misbehavior and combination
  framework/src/modules/dpos/transaction_assets/pom_transaction_asset.ts
  framework/src/modules/token/token_module.ts
  framework/test/fixtures/genesis_delegates.json
  framework/test/integration/node/processor/report_misbehavior_transaction.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/pom_transaction_asset.spec.ts
  framework/test/unit/modules/token/token_module.spec.ts
  framework/test/unit/node/forger/forger.spec.ts
  framework/test/utils/node/transaction.ts
Due: prettier --write, eslint

:lipstick: Fix formatting of files
  framework/src/controller/bus.ts
  framework/test/unit/controller/bus.spec.ts
Due: prettier --write, eslint

Apply suggestions from code review
  framework/src/modules/token/token_module.ts
  framework/test/unit/modules/token/token_module.spec.ts
Due: prettier --write, eslint

:bug: Fix db name on test
  framework/test/integration/node/processor/report_misbehavior_transaction.spec.ts
Due: prettier --write, eslint

:white_check_mark: Fix unit test setting
  framework/test/unit/modules/token/token_module.spec.ts
Due: prettier --write, eslint

:recycle: Add production flag on shrinkwrap
  commander/package.json
Due: prettier --write

:nail_care: Update README.md
  commander/README.md
  elements/lisk-chain/README.md
  framework-plugins/lisk-framework-forger-plugin/README.md
  framework-plugins/lisk-framework-monitor-plugin/README.md
  framework-plugins/lisk-framework-report-misbehavior-plugin/README.md
  framework/README.md
  sdk/README.md
Due: prettier --write

:recycle: Address review comments
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/README.md
Due: prettier --write

:arrow_up: Bump version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

:nail_care: Update commander build script
  commander/package.json
Due: prettier --write

:arrow_up: Bump version
  commander/README.md
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-db/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/README.md
  sdk/package.json
Due: prettier --write

:bug: Separate action and p2p endpoint
  framework/src/application.ts
  framework/src/node/network/network.ts
  framework/src/node/node.ts
  framework/src/node/transport/transport.ts
Due: prettier --write, eslint

:bug: Fix test and bus error handling
  framework/src/controller/bus.ts
  framework/test/functional/rpc-api/ipc/ipc_client.spec.ts
  framework/test/functional/rpc-api/ws/ws_client.spec.ts
Due: prettier --write, eslint

:recycle: Update to handle error in invoke
  framework/src/controller/bus.ts
Due: prettier --write, eslint

:white_check_mark: Fix functional tests
  elements/lisk-api-client/src/ipc_channel.ts
  elements/lisk-api-client/src/types.ts
  elements/lisk-api-client/src/utils.ts
  elements/lisk-api-client/src/ws_channel.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/forging.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/peers.spec.ts
  framework/src/controller/bus.ts
  framework/src/controller/channels/ipc_channel.ts
Due: prettier --write, eslint

Resolve relative root path
  framework/src/system_dirs.ts
Due: prettier --write, eslint

:bug: Fix ws channel to use isomorphic interfaces
  elements/lisk-api-client/src/ws_channel.ts
Due: prettier --write, eslint

:white_check_mark: Add e2e tests for ws client
  elements/lisk-client/cypress/ws_server.js
  elements/lisk-client/package.json
  elements/lisk-client/test/lisk-api-client/ws_client.spec.ts
Due: prettier --write, eslint

:white_check_mark: Update unit and integration tests for ws_channel
  elements/lisk-api-client/test/integration/ws_channel.spec.ts
  elements/lisk-api-client/test/unit/__mocks__/isomorphic-ws.js
  elements/lisk-api-client/test/unit/ws_channel.spec.ts
Due: prettier --write, eslint

Fix unit tests
  framework/test/unit/application.spec.ts
  framework/test/unit/controller/controller.spec.ts
  framework/test/unit/system_dirs.spec.ts
Due: prettier --write, eslint

:art: Update ws channel and its tests to fix feedback
  elements/lisk-api-client/src/ws_channel.ts
  elements/lisk-api-client/test/integration/ws_channel.spec.ts
  elements/lisk-client/package.json
Due: prettier --write, eslint

:package: Update package lock file
  yarn.lock
Due: none

:clown_face: Update the websocket mock
  elements/lisk-api-client/test/unit/__mocks__/isomorphic-ws.js
Due: prettier --write, eslint
