Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

Update command
  commander/src/bootstrapping/commands/account/create.ts
  commander/test/bootstrapping/commands/account/create.spec.ts
Due: prettier --write, eslint

:recycle: Fix logging message
  framework/src/engine/engine.ts
Due: prettier --write, eslint

:white_check_mark: Update framework plugin tests
  commander/src/bootstrapping/commands/transaction/create.ts
  commander/test/bootstrapping/commands/transaction/create.spec.ts
  commander/test/bootstrapping/commands/transaction/sign.spec.ts
  commander/test/helpers/transactions.ts
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/auth.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/faucet_plugin.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/src/controllers/blocks.ts
  framework-plugins/lisk-framework-monitor-plugin/src/controllers/network.ts
  framework-plugins/lisk-framework-monitor-plugin/src/controllers/prometheus.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/blocks.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/forks.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/network.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/prometheus.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/subscribe_event.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/transaction.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/__snapshots__/send_pom_transaction.spec.ts.snap
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/send_pom_transaction.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/subscribe_event.spec.ts
Due: prettier --write, eslint

:recycle: Fix elements test
  elements/lisk-api-client/src/codec.ts
  elements/lisk-api-client/src/node.ts
  elements/lisk-api-client/src/transaction.ts
  elements/lisk-api-client/test/api_client.spec.ts
  elements/lisk-api-client/test/unit/block.spec.ts
  elements/lisk-api-client/test/unit/node.spec.ts
  elements/lisk-api-client/test/unit/transaction.spec.ts
  elements/lisk-api-client/test/utils/transaction.ts
  elements/lisk-transactions/test/fee.spec.ts
  elements/lisk-transactions/test/sign.spec.ts
  elements/lisk-transactions/test/validate.spec.ts
Due: prettier --write, eslint

:white_check_mark: Update framework tests
  framework/src/engine/consensus/consensus.ts
  framework/src/engine/engine.ts
  framework/src/testing/block_processing_env.ts
  framework/test/unit/abi_handler/abi_client.spec.ts
  framework/test/unit/abi_handler/abi_handler.spec.ts
  framework/test/unit/abi_handler/abi_server.spec.ts
  framework/test/unit/application.spec.ts
  framework/test/unit/controller/bus.spec.ts
  framework/test/unit/controller/controller.spec.ts
  framework/test/unit/engine/consensus/consensus.spec.ts
  framework/test/unit/engine/endpoint/txpool.spec.ts
  framework/test/unit/engine/engine.spec.ts
  framework/test/unit/engine/generator/endpoint.spec.ts
  framework/test/unit/engine/generator/strategies.spec.ts
  framework/test/unit/plugins/base_plugin.spec.ts
  framework/test/utils/mocks/transaction.ts
Due: prettier --write, eslint

:fire: Remove lisk-db
  commander/package.json
  elements/lisk-chain/package.json
  elements/lisk-db/.eslintignore
  elements/lisk-db/.eslintrc.js
  elements/lisk-db/.npmignore
  elements/lisk-db/.npmrc
  elements/lisk-db/.prettierignore
  elements/lisk-db/.prettierrc.json
  elements/lisk-db/README.md
  elements/lisk-db/benchmark/databases/index.js
  elements/lisk-db/benchmark/databases/leveldb.js
  elements/lisk-db/benchmark/databases/rocksdb.js
  elements/lisk-db/benchmark/index.js
  elements/lisk-db/benchmark/tests/batch.js
  elements/lisk-db/benchmark/tests/del.js
  elements/lisk-db/benchmark/tests/fixtures.js
  elements/lisk-db/benchmark/tests/get.js
  elements/lisk-db/benchmark/tests/put.js
  elements/lisk-db/jest.config.js
  elements/lisk-db/package.json
  elements/lisk-db/scripts
  elements/lisk-db/src/errors.ts
  elements/lisk-db/src/in_memory_kv_store.ts
  elements/lisk-db/src/index.ts
  elements/lisk-db/src/kv_store.ts
  elements/lisk-db/src/types.ts
  elements/lisk-db/src/utils.ts
  elements/lisk-db/test/.eslintrc.js
  elements/lisk-db/test/_setup.js
  elements/lisk-db/test/in_memory_kv_store.spec.ts
  elements/lisk-db/test/kv_store.spec.ts
  elements/lisk-db/test/tsconfig.json
  elements/lisk-db/test/utils.spec.ts
  elements/lisk-db/tsconfig.json
  elements/lisk-elements/package.json
  framework/package.json
  sdk/package.json
  templates/.npmrc.tmpl
  yarn.lock
Due: prettier --write, eslint

:recycle: Update lisk-chain
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/constants.ts
  elements/lisk-chain/src/data_access/data_access.ts
  elements/lisk-chain/src/data_access/storage.ts
  elements/lisk-chain/src/state_store/cache_db.ts
  elements/lisk-chain/src/state_store/smt_store.ts
  elements/lisk-chain/src/state_store/types.ts
  elements/lisk-chain/src/utils/buffer_keys.ts
  elements/lisk-chain/test/integration/data_access/blocks.spec.ts
  elements/lisk-chain/test/integration/data_access/transactions.spec.ts
  elements/lisk-chain/test/unit/chain.spec.ts
  elements/lisk-chain/test/unit/data_access/data_access.spec.ts
  elements/lisk-chain/test/unit/state_store/state_store.spec.ts
Due: prettier --write, eslint

:arrow_up: Bump dependencies
  .nvmrc
  commander/package.json
  elements/lisk-chain/package.json
  elements/lisk-elements/package.json
  framework/package.json
  sdk/package.json
  yarn.lock
Due: prettier --write

Update framework/src/state_machine/prefixed_state_read_writer.ts
  framework/src/state_machine/prefixed_state_read_writer.ts
Due: prettier --write, eslint

Update test
  examples/dpos-mainchain/test/commands/account/create.spec.ts
Due: prettier --write, eslint

Add command
  commander/src/bootstrapping/commands/blskey/create.ts
  commander/src/bootstrapping/commands/blskey/index.ts
  commander/src/commands/blskey/create.ts
  commander/src/index.ts
  commander/test/bootstrapping/commands/blskey/create.spec.ts
  examples/dpos-mainchain/src/commands/blskey/create.ts
Due: prettier --write, eslint

:white_check_mark: Update unit tests
  framework-plugins/lisk-framework-forger-plugin/test/unit/db.spec.ts
  framework/test/unit/modules/auth/endpoint.spec.ts
  framework/test/unit/modules/dpos_v2/commands/vote.spec.ts
  framework/test/unit/state_machine/state_machine.spec.ts
Due: prettier --write, eslint

Make timestamp optional
  framework/src/modules/interoperability/base_interoperability_store.ts
  framework/src/modules/interoperability/mainchain/store.ts
  framework/src/modules/interoperability/sidechain/commands/mainchain_registration.ts
  framework/src/modules/interoperability/types.ts
  framework/test/unit/modules/interoperability/sidechain/commands/mainchain_registration.spec.ts
Due: prettier --write, eslint

:fire: Remove unnecessary type casting
  framework/src/engine/generator/generator.ts
Due: prettier --write, eslint

Update test & throw for missing param
  framework/src/modules/interoperability/mainchain/store.ts
  framework/test/unit/modules/interoperability/sidechain/store.spec.ts
Due: prettier --write, eslint

:bug: Fix merge conflicts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/__snapshots__/send_pom_transaction.spec.ts.snap
  framework/src/abi/abi.ts
  framework/src/abi/schema.ts
  framework/src/abi_handler/abi_handler.ts
  framework/src/engine/consensus/consensus.ts
  framework/src/modules/interoperability/base_interoperability_store.ts
  framework/src/modules/interoperability/cc_apis.ts
  framework/src/modules/interoperability/mainchain/commands/cc_update.ts
  framework/src/modules/interoperability/mainchain/commands/message_recovery.ts
  framework/src/modules/interoperability/mainchain/commands/sidechain_registration.ts
  framework/src/modules/interoperability/mainchain/commands/state_recovery.ts
  framework/src/modules/interoperability/mainchain/commands/state_recovery_init.ts
  framework/src/modules/interoperability/sidechain/commands/cc_update.ts
  framework/src/modules/interoperability/sidechain/commands/mainchain_registration.ts
  framework/src/modules/interoperability/sidechain/commands/message_recovery.ts
  framework/src/modules/interoperability/sidechain/module.ts
  framework/src/modules/interoperability/types.ts
  framework/src/modules/interoperability/utils.ts
  framework/src/state_machine/block_context.ts
  framework/src/state_machine/transaction_context.ts
  framework/src/state_machine/types.ts
  framework/src/testing/create_contexts.ts
  framework/test/unit/modules/interoperability/mainchain/commands/cc_update.spec.ts
  framework/test/unit/modules/interoperability/mainchain/commands/message_recovery.spec.ts
  framework/test/unit/modules/interoperability/mainchain/commands/sidechain_registration.spec.ts
  framework/test/unit/modules/interoperability/mainchain/commands/state_recovery.spec.ts
  framework/test/unit/modules/interoperability/mainchain/commands/state_recovery_init.spec.ts
  framework/test/unit/modules/interoperability/mainchain/store.spec.ts
  framework/test/unit/modules/interoperability/sidechain/commands/cc_update.spec.ts
  framework/test/unit/modules/interoperability/sidechain/commands/mainchain_registration.spec.ts
  framework/test/unit/modules/interoperability/sidechain/commands/message_recovery.spec.ts
  framework/test/unit/modules/interoperability/sidechain/store.spec.ts
  framework/test/unit/modules/interoperability/store.spec.ts
  framework/test/unit/modules/interoperability/utils.spec.ts
  framework/test/unit/state_machine/state_machine.spec.ts
Due: prettier --write, eslint

Apply suggestions from code review
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-monitor-plugin/src/controllers/prometheus.ts
  framework-plugins/lisk-framework-monitor-plugin/test/unit/prometheus.spec.ts
Due: prettier --write, eslint

:white_check_mark: Fix test types
  framework/test/unit/abi_handler/abi_handler.spec.ts
  framework/test/unit/engine/generator/strategies.spec.ts
Due: prettier --write, eslint

:white_check_mark: Fix random test failing
  framework/test/unit/modules/interoperability/sidechain/commands/mainchain_registration.spec.ts
Due: prettier --write, eslint

:bug: Fix merge conflicts
  framework/src/modules/interoperability/sidechain/commands/mainchain_registration.ts
Due: prettier --write, eslint

Fix dashboard plugin test snapshot
  framework-plugins/lisk-framework-dashboard-plugin/test/unit/plugin/__snapshots__/dashboard_plugin.spec.ts.snap
Due: none

Fix faucet plugin test snapshot
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/__snapshots__/faucet_plugin.spec.ts.snap
Due: none

:books: Update README and blst version
  elements/lisk-cryptography/package.json
  sdk/README.md
Due: prettier --write

⬆️ Bump version v6.0.0-alpha.0
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  examples/dpos-mainchain/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  package.json
  protocol-specs/package.json
  sdk/package.json
  templates/package.json.tmpl
Due: prettier --write

♻️ Update protocol-spec
  protocol-specs/package.json
Due: prettier --write

Add getMasterKeyFromSeed util
  elements/lisk-cryptography/src/utils.ts
Due: prettier --write, eslint

Update constants.ts
  elements/lisk-cryptography/src/constants.ts
Due: prettier --write, eslint

Add isValidPath util
  elements/lisk-cryptography/src/utils.ts
Due: prettier --write, eslint

Add bip39 to dependencies
  elements/lisk-cryptography/package.json
  yarn.lock
Due: prettier --write

Add getKeyPairFromPhraseAndPath
  elements/lisk-cryptography/src/encrypt.ts
Due: prettier --write, eslint

Add getChildKey util
  elements/lisk-cryptography/src/utils.ts
Due: prettier --write, eslint

Add unit tests
  elements/lisk-cryptography/test/encrypt.spec.ts
Due: prettier --write, eslint

Update utils.ts
  elements/lisk-cryptography/src/utils.ts
Due: prettier --write, eslint

Revert "Add bip39 to dependencies"
  elements/lisk-cryptography/package.json
  yarn.lock
Due: prettier --write

Add lisk-passphrase
  elements/lisk-cryptography/package.json
  elements/lisk-cryptography/src/encrypt.ts
  yarn.lock
Due: prettier --write, eslint

Update yarn.lock
  yarn.lock
Due: none
