Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Add `getRewardTokenID` endpoint (#7853)
  framework/src/modules/reward/constants.ts
  framework/src/modules/reward/endpoint.ts
  framework/src/modules/reward/module.ts
  framework/test/unit/modules/dynamic_rewards/module.spec.ts
  framework/test/unit/modules/reward/endpoint.spec.ts
  framework/test/unit/modules/reward/module.spec.ts
Due: prettier --write, eslint

Add `punishmentPeriod` property to all PoS endpoints that return validator account (#7854)
  framework/src/modules/pos/endpoint.ts
  framework/src/modules/pos/schemas.ts
  framework/src/modules/pos/stores/validator.ts
  framework/src/modules/pos/types.ts
  framework/test/unit/modules/pos/endpoint.spec.ts
Due: prettier --write, eslint

Remove pr restore key
  .github/actions/prepare-build/action.yml
Due: none

:recycle: Remove magic number and update test description
  framework/test/unit/engine/bft/bft_processing.spec.ts
  framework/test/unit/modules/validators/method.spec.ts
Due: prettier --write, eslint

Add code coverage (#7829)
  .eslintrc.js
  .eslintrc.test.js
  .github/actions/prepare-build/action.yml
  .github/actions/prepare-install/action.yml
  .github/workflows/pr.yaml
  codecov.yml
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/README.md
  elements/lisk-p2p/package.json
  examples/pos-mainchain/package.json
  framework/package.json
  framework/test/unit/jest.config.js
  framework/test/unit/jest.config/__snapshots__/jest.config.unit.spec.js.snap
  lerna.json
  nx.json
  package.json
  templates/jest.config.js.tmpl
Due: prettier --write, eslint

Remove genesis timestamp on slot calculation (#7857)
  examples/pos-mainchain/config/default/genesis_block.blob
  framework/src/engine/bft/method.ts
  framework/src/engine/bft/module.ts
  framework/src/engine/consensus/consensus.ts
  framework/src/modules/validators/method.ts
  framework/src/modules/validators/module.ts
  framework/src/modules/validators/stores/genesis.ts
  framework/test/unit/engine/bft/bft_processing.spec.ts
  framework/test/unit/engine/bft/method.spec.ts
  framework/test/unit/engine/bft/module.spec.ts
  framework/test/unit/modules/validators/method.spec.ts
  framework/test/unit/modules/validators/module.spec.ts
Due: prettier --write, eslint

:recycle: Fix description
  commander/src/bootstrapping/commands/generator/enable.ts
Due: prettier --write, eslint

:seedling: Add store information to metadata
  framework/src/modules/auth/module.ts
  framework/src/modules/auth/schemas.ts
  framework/src/modules/base_module.ts
  framework/src/modules/dynamic_rewards/module.ts
  framework/src/modules/fee/module.ts
  framework/src/modules/interoperability/mainchain/module.ts
  framework/src/modules/interoperability/sidechain/module.ts
  framework/src/modules/pos/module.ts
  framework/src/modules/random/module.ts
  framework/src/modules/reward/module.ts
  framework/src/modules/token/module.ts
  framework/src/modules/validators/module.ts
Due: prettier --write, eslint

Fix sidechain module metadata to use baseMetadata
  framework/src/modules/interoperability/sidechain/module.ts
Due: prettier --write, eslint

Remove unused consts
  framework-plugins/lisk-framework-chain-connector-plugin/src/constants.ts
Due: prettier --write, eslint

Remove redundant get and set operations
  framework/src/modules/auth/module.ts
Due: prettier --write, eslint

Sort optional keys only after validating that mandatory keys are sorted
  framework/src/modules/auth/commands/register_multisignature.ts
Due: prettier --write, eslint

Align test file names with SDK standard and unskip a test suite
  framework/test/unit/modules/auth/endpoint.spec.ts
  framework/test/unit/modules/auth/method.spec.ts
  framework/test/unit/modules/auth/module.spec.ts
Due: prettier --write, eslint

Tests now assert all properties of `AuthAccount` and use correct values for number of signatures
  framework/test/unit/modules/auth/module.spec.ts
  framework/test/unit/modules/auth/register_multisignature.spec.ts
Due: prettier --write, eslint

:seedling: Add CodeQL, dependency check and update test:ci to be silent
  .github/workflows/code_ql.yaml
  .github/workflows/dependency.yaml
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  examples/pos-mainchain/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  templates/package.json.tmpl
Due: prettier --write

:recycle: Add config
  .github/codeql/codeql-config.yml
  .github/workflows/code_ql.yaml
Due: none

Move get or default logic to `AuthAccountStore`
  framework/src/modules/auth/module.ts
  framework/src/modules/auth/stores/auth_account.ts
Due: prettier --write, eslint

add branch job
  .github/workflows/branch.yaml
Due: none

:fire: Remove redundant jenkins
  .jenkins/Jenkinsfile.audit
  .jenkins/Jenkinsfile.publish
Due: none

fix npm token
  .github/workflows/branch.yaml
Due: none

Auth module improvements (#7864)
  framework/src/modules/auth/commands/register_multisignature.ts
  framework/src/modules/auth/module.ts
  framework/src/modules/auth/stores/auth_account.ts
  framework/test/unit/modules/auth/endpoint.spec.ts
  framework/test/unit/modules/auth/method.spec.ts
  framework/test/unit/modules/auth/module.spec.ts
  framework/test/unit/modules/auth/register_multisignature.spec.ts
Due: prettier --write, eslint

:seedling: Update to include CCM in CCM success and processed events
  elements/lisk-chain/src/constants.ts
  framework/src/modules/interoperability/base_cross_chain_update_command.ts
  framework/src/modules/interoperability/base_interoperability_internal_methods.ts
  framework/src/modules/interoperability/events/ccm_processed.ts
  framework/src/modules/interoperability/events/ccm_send_success.ts
  framework/src/modules/interoperability/mainchain/commands/cc_update.ts
  framework/src/modules/interoperability/mainchain/commands/message_recovery.ts
  framework/src/modules/interoperability/mainchain/commands/sidechain_registration.ts
  framework/src/modules/interoperability/sidechain/commands/mainchain_registration.ts
  framework/test/unit/modules/interoperability/base_cross_chain_update_command.spec.ts
  framework/test/unit/modules/interoperability/mainchain/commands/cc_update.spec.ts
  framework/test/unit/modules/interoperability/mainchain/commands/message_recovery.spec.ts
  framework/test/unit/modules/interoperability/mainchain/commands/sidechain_registration.spec.ts
  framework/test/unit/modules/interoperability/method.spec.ts
  framework/test/unit/modules/interoperability/sidechain/commands/mainchain_registration.spec.ts
Due: prettier --write, eslint

fetch more past
  .github/workflows/branch.yaml
Due: none

Add CodeQL, dependency check and update test:ci to be silent (#7866)
  .github/codeql/codeql-config.yml
  .github/workflows/branch.yaml
  .github/workflows/code_ql.yaml
  .github/workflows/dependency.yaml
  .jenkins/Jenkinsfile.audit
  .jenkins/Jenkinsfile.publish
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  examples/pos-mainchain/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  templates/package.json.tmpl
Due: prettier --write

Update code dependencies according to PR suggestions
  framework-plugins/lisk-framework-chain-connector-plugin/src/constants.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/db.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/schemas.ts
Due: prettier --write, eslint

:recycle: Add use-status-value and rename functions and log
  commander/src/bootstrapping/commands/generator/disable.ts
  commander/src/bootstrapping/commands/generator/enable.ts
  commander/test/bootstrapping/commands/generator.spec.ts
Due: prettier --write, eslint

:recycle: Update function name and test description
  commander/src/bootstrapping/commands/generator/enable.ts
  commander/test/bootstrapping/commands/generator.spec.ts
Due: prettier --write, eslint

:fire: Remove unnecessary branch on action
  .github/workflows/branch.yaml
Due: none

:recycle: Add oclif constraitns
  commander/src/bootstrapping/commands/generator/enable.ts
  commander/test/bootstrapping/commands/generator.spec.ts
Due: prettier --write, eslint

Fix generator enable/disable commands (#7855)
  commander/src/bootstrapping/commands/base_forging.ts
  commander/src/bootstrapping/commands/base_generator.ts
  commander/src/bootstrapping/commands/generator/disable.ts
  commander/src/bootstrapping/commands/generator/enable.ts
  commander/src/bootstrapping/commands/generator/import.ts
  commander/test/bootstrapping/commands/generator.spec.ts
  framework/src/engine/generator/endpoint.ts
  framework/src/engine/generator/generator.ts
  framework/test/unit/engine/generator/endpoint.spec.ts
Due: prettier --write, eslint

Fix example
  commander/src/bootstrapping/commands/keys/create.ts
Due: prettier --write, eslint

Use context store
  framework/src/modules/dynamic_rewards/constants.ts
  framework/src/modules/dynamic_rewards/module.ts
  framework/src/modules/dynamic_rewards/stores/block_rewards.ts
  framework/test/unit/modules/dynamic_rewards/module.spec.ts
Due: prettier --write, eslint

Implement method unban validator
  framework/src/modules/pos/method.ts
  framework/test/unit/modules/pos/method.spec.ts
Due: prettier --write, eslint

Fix `isValidSignature()` endpoint response
  framework/src/modules/auth/endpoint.ts
  framework/src/modules/auth/utils.ts
  framework/test/unit/modules/auth/endpoint.spec.ts
Due: prettier --write, eslint

Store CCMs in Chain Connector Plugin (#7824)
  framework-plugins/lisk-framework-chain-connector-plugin/src/chain_connector_plugin.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/constants.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/db.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/schemas.ts
  framework-plugins/lisk-framework-chain-connector-plugin/src/types.ts
  framework-plugins/lisk-framework-chain-connector-plugin/test/unit/plugin.spec.ts
Due: prettier --write, eslint

♻️ Add util for calculating ccmID and add LIP reference
  elements/lisk-chain/src/constants.ts
  framework/src/modules/fee/cc_method.ts
  framework/src/modules/interoperability/base_cross_chain_update_command.ts
  framework/src/modules/interoperability/base_interoperability_internal_methods.ts
  framework/src/modules/interoperability/mainchain/commands/cc_update.ts
  framework/src/modules/interoperability/mainchain/commands/sidechain_registration.ts
  framework/src/modules/interoperability/sidechain/commands/mainchain_registration.ts
  framework/src/modules/interoperability/utils.ts
  framework/src/modules/token/cc_method.ts
Due: prettier --write, eslint

Replace `id` with `ccmID`, because it's always renamed outside at it's usage
  framework/src/modules/fee/cc_method.ts
  framework/src/modules/interoperability/base_cross_chain_update_command.ts
  framework/src/modules/interoperability/base_interoperability_internal_methods.ts
  framework/src/modules/interoperability/mainchain/commands/cc_update.ts
  framework/src/modules/interoperability/mainchain/commands/message_recovery.ts
  framework/src/modules/interoperability/mainchain/commands/sidechain_registration.ts
  framework/src/modules/interoperability/sidechain/commands/mainchain_registration.ts
  framework/src/modules/interoperability/utils.ts
  framework/src/modules/token/cc_method.ts
  framework/test/unit/modules/interoperability/base_cross_chain_update_command.spec.ts
Due: prettier --write, eslint

Add store expectation
  framework/test/unit/modules/validators/method.spec.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
