Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

:recycle: Update to use snake case for file name and allow expect camel case for the names
  commander/src/bootstrapping/templates/lisk-template-ts/generators/asset_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/generators/module_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/generators/plugin_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/src/app/modules.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/src/app/plugins.ts
  commander/src/commands/generate/asset.ts
  commander/src/commands/generate/module.ts
  commander/src/commands/generate/plugin.ts
  commander/src/utils/convert.ts
Due: prettier --write, eslint

:nail_care: Apply format
  commander/src/bootstrapping/templates/lisk-template-ts/generators/module_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/generators/plugin_generator.ts
  commander/src/commands/generate/plugin.ts
  commander/src/utils/convert.ts
Due: prettier --write, eslint

:recycle: Fix the function name
  commander/src/bootstrapping/templates/lisk-template-ts/generators/asset_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/generators/module_generator.ts
  commander/src/utils/convert.ts
Due: prettier --write, eslint

:bug: Fix camel case regex
  commander/src/commands/generate/asset.ts
  commander/src/commands/generate/module.ts
  commander/src/commands/generate/plugin.ts
Due: prettier --write, eslint

:bug: Fix Dropdown selection and JSON validation for dashboard
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Button/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/SendTransactionWidget.tsx
Due: none

:nail_care: Apply format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Button/index.tsx
Due: none

:recycle: Update variable name
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
Due: none

:bug: Fix JSON text area behavior
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/Input.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextAreaInput.tsx
  yarn.lock
Due: prettier --write

🐛 Add base fee while calculating computeMinFee in api-client
  elements/lisk-api-client/src/transaction.ts
Due: prettier --write, eslint

:nail_care: Fix code styling
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/Input.module.scss
Due: none

♻️ Add numberOfsignatures from signatures in the transaction object
  elements/lisk-api-client/src/transaction.ts
Due: prettier --write, eslint

:bug: Fix selector zindex
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/SelectInput.tsx
Due: none

:bug: Fix exit error on help commands
  commander/package.json
Due: prettier --write

:nail_care: Update yarn.lock
  yarn.lock
Due: none

:arrow_up: Bump version
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package.json
  elements/lisk-api-client/package.json
  elements/lisk-client/package.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

Remove build folder from ignore
  framework-plugins/lisk-framework-dashboard-plugin/.npmignore
  framework-plugins/lisk-framework-faucet-plugin/.npmignore
Due: none

:bug: Remove npm ignore related files in template
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/.gitignore
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/.npmignore
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/.npmrc
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/.nvmrc
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/.npmignore
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/.nvmrc
Due: prettier --write

:bug: Fix bootstrapped lint errors
  commander/src/bootstrapping/templates/lisk-template-ts/generators/init_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/generators/init_plugin_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/generators/plugin_generator.ts
Due: prettier --write, eslint

:bug: Fix commander prepublish
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/generators/init_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/generators/init_plugin_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/generators/plugin_generator.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
Due: prettier --write

:bug: Remove index.html from npmignore
  framework-plugins/lisk-framework-dashboard-plugin/.npmignore
  framework-plugins/lisk-framework-faucet-plugin/.npmignore
Due: none

:bug: Fix npm install for generated app
  commander/src/bootstrapping/generators/init_generator.ts
  commander/src/bootstrapping/generators/init_plugin_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/generators/init_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  commander/src/commands/init.ts
Due: prettier --write, eslint

:nail_care: Apply format
  commander/src/bootstrapping/templates/lisk-template-ts/generators/init_generator.ts
Due: prettier --write, eslint

:nail_care: Fix typo
  commander/src/bootstrapping/generators/init_generator.ts
  commander/src/bootstrapping/generators/init_plugin_generator.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
Due: prettier --write

:bug: Fix readonly display
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/input/TextAreaInput.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:bug: Fix type error for plugin with type error
  framework/src/application.ts
  framework/src/plugins/base_plugin.ts
Due: prettier --write, eslint

:bug: Fix plugin import and asset regex
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/src/plugin.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/plugin/src/app/plugins/plugin.ts
  commander/src/commands/generate/asset.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

:bug: Fix asset file path for bootstrapping
  commander/src/bootstrapping/templates/lisk-template-ts/generators/asset_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/asset/src/app/modules/assets/asset.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/asset/test/unit/modules/assets/asset.spec.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/src/app/plugins.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/module/src/app/modules/module.ts
  commander/src/commands/generate/asset.ts
  commander/src/utils/convert.ts
Due: prettier --write, eslint

:art: Update .gitignore name to include in the bootstrapping
  commander/src/bootstrapping/templates/lisk-template-ts/generators/init_generator.ts
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/.gitignore-template
Due: prettier --write, eslint

:pencil2: Update unwanted string interpolation
  commander/src/commands/network-identifier.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/package-template.json
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init_plugin/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-db/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
  yarn.lock
Due: prettier --write

:bug: Fix faucet config handling and the submit feedback
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.module.scss
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.tsx
Due: prettier --write, eslint

:recycle: Update default account balance
  commander/src/bootstrapping/commands/genesis-block/create.ts
Due: prettier --write, eslint

:recycle: Update success phrase
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.tsx
Due: none

:fire: Remove double module registration
  commander/src/bootstrapping/templates/lisk-template-ts/templates/init/src/commands/genesis-block/create.ts
Due: prettier --write, eslint

:bug: Add empty signature optiuon on calcMinFee for transaction from multi signature account
  elements/lisk-transactions/src/fee.ts
  elements/lisk-transactions/test/fee.spec.ts
Due: prettier --write, eslint

:nail_care: Fix format
  elements/lisk-transactions/src/fee.ts
  elements/lisk-transactions/test/fee.spec.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-client/package.json
  elements/lisk-elements/package.json
  elements/lisk-transactions/package.json
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
