Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update config.json
  config/devnet/config.json
Due: prettier --write

Update transaction.ts
  elements/lisk-api-client/src/transaction.ts
Due: prettier --write, eslint

Update transaction.ts
  elements/lisk-chain/src/transaction.ts
Due: prettier --write, eslint

Update transaction_pool.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, eslint

Update transaction_pool.spec.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
Due: prettier --write, eslint

Update fee.ts
  elements/lisk-transactions/src/fee.ts
Due: prettier --write, eslint

Update fee.spec.ts.snap
  elements/lisk-transactions/test/__snapshots__/fee.spec.ts.snap
Due: none

Update fee.spec.ts
  elements/lisk-transactions/test/fee.spec.ts
Due: prettier --write, eslint

Update config.json
  examples/dpos-mainchain/config/default/config.json
Due: prettier --write

Update MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Update NodeInfoDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/NodeInfoDialog.tsx
Due: none

Update engine.ts
  framework/src/engine/engine.ts
Due: prettier --write, eslint

Update types.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/types.ts
Due: prettier --write, eslint

Update forger_plugin.ts
  framework-plugins/lisk-framework-forger-plugin/src/forger_plugin.ts
Due: prettier --write, eslint

Update types.ts
  framework-plugins/lisk-framework-forger-plugin/src/types.ts
Due: prettier --write, eslint

Update types.ts
  framework/src/modules/fee/types.ts
Due: prettier --write, eslint

Update module.ts
  framework/src/modules/fee/module.ts
Due: prettier --write, eslint

Update generator.ts
  framework/src/engine/generator/generator.ts
Due: prettier --write, eslint

Update application_config_schema.ts
  framework/src/schema/application_config_schema.ts
Due: prettier --write, eslint

Update types.ts
  framework/src/types.ts
Due: prettier --write, eslint

Update config.ts
  framework/src/testing/fixtures/config.ts
Due: prettier --write, eslint

Update fee_module.spec.ts
  framework/test/unit/modules/fee/fee_module.spec.ts
Due: prettier --write, eslint

Update node.ts
  framework/test/fixtures/node.ts
Due: prettier --write, eslint

Update config_constants.ts
  framework/test/utils/configs/config_constants.ts
Due: prettier --write, eslint

Update config_devnet.json
  sdk/src/samples/config_devnet.json
Due: prettier --write

:recycle: Remove browserField
  elements/lisk-client/scripts/build.js
Due: prettier --write, eslint

Update application.spec.ts.snap
  framework/test/unit/__snapshots__/application.spec.ts.snap
Due: none

Update application_config_schema.spec.ts.snap
  framework/test/unit/schema/__snapshots__/application_config_schema.spec.ts.snap
Due: none

Implement command
  commander/src/bootstrapping/commands/keys/create.ts
  commander/src/bootstrapping/commands/keys/encrypt.ts
  commander/src/bootstrapping/commands/keys/export.ts
  commander/src/bootstrapping/commands/keys/import.ts
  commander/src/bootstrapping/commands/keys/index.ts
  commander/src/commands/keys/create.ts
  commander/src/commands/keys/encrypt.ts
  commander/src/commands/keys/export.ts
  commander/src/commands/keys/import.ts
  commander/src/index.ts
  examples/dpos-mainchain/src/commands/keys/create.ts
  examples/dpos-mainchain/src/commands/keys/encrypt.ts
  examples/dpos-mainchain/src/commands/keys/export.ts
  examples/dpos-mainchain/src/commands/keys/import.ts
Due: prettier --write, eslint

Update
  commander/src/bootstrapping/commands/keys/create.ts
  commander/src/bootstrapping/commands/keys/export.ts
  commander/src/bootstrapping/commands/keys/import.ts
Due: prettier --write, eslint

Issue update
  commander/src/bootstrapping/commands/keys/export.ts
  commander/src/bootstrapping/commands/keys/import.ts
Due: prettier --write, eslint

Use file path
  commander/src/bootstrapping/commands/keys/create.ts
  commander/src/bootstrapping/commands/keys/export.ts
Due: prettier --write, eslint

Unit test create.spec
  commander/src/bootstrapping/commands/keys/create.ts
  commander/test/bootstrapping/commands/blskey/create.spec.ts
  commander/test/bootstrapping/commands/keys/create.spec.ts
Due: prettier --write, eslint

Use correct endpoint name
  commander/src/bootstrapping/commands/keys/export.ts
  commander/src/bootstrapping/commands/keys/import.ts
Due: prettier --write, eslint

Add more tests
  commander/src/bootstrapping/commands/keys/create.ts
  commander/src/bootstrapping/commands/keys/encrypt.ts
  commander/src/bootstrapping/commands/keys/export.ts
  commander/src/bootstrapping/commands/keys/import.ts
  commander/test/bootstrapping/commands/keys/create.spec.ts
  commander/test/bootstrapping/commands/keys/encrypt.spec.ts
  commander/test/bootstrapping/commands/keys/export.spec.ts
  commander/test/bootstrapping/commands/keys/import.spec.ts
Due: prettier --write, eslint

Update constants.ts
  framework/src/modules/fee/constants.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
