Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

Update Widget.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widget/Widget.module.scss
Due: none

Create MyAccount.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/MyAccount/MyAccount.module.scss
Due: none

Update MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Delete index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/MyAccount/index.tsx
Due: none

Delete MyAccount.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/MyAccount/MyAccount.module.scss
Due: none

Update index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/index.tsx
Due: none

Create MyAccountWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/MyAccountWidget.tsx
Due: none

Update MyAccountWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/MyAccountWidget.tsx
Due: none

Add call action widget
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Apply format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/CallActionWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:heavy_minus_sign: Remove redux redependency from dashboard
  framework-plugins/lisk-framework-dashboard-plugin/package.json
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/store/dashboard/action.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/store/dashboard/reducer.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/store/index.ts
  yarn.lock
Due: prettier --write, eslint

:recycle: Handle repl clear by initialising context
  commander/src/bootstrapping/commands/console.ts
  commander/test/bootstrapping/commands/console.spec.ts
Due: prettier --write, eslint

:sparkles: Add MessageDialogProvider and useMessageDialog components to show message dialog among other places
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/App.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/providers/MessageDialogProvider.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/providers/useMessageDialog.tsx
Due: none

:seedling: Add recent events widget
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/RecentEventWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/Widgets.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:art: Update existing widgets to use new type structure
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/AccountDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/dialogs/NodeInfoDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/BlockWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/MyAccountWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/TransactionWidget.tsx
Due: none

:sparkles: Add stores objects for different values on main page
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/App.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/providers/MessageDialogProvider.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/providers/useMessageDialog.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/tsconfig.json
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/types.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/useRefState.ts
Due: prettier --write, eslint

:sparkles: Add events state store
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
Due: prettier --write, eslint

:sparkles: Add list of actions to the main page stores
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:art: Update recent events heading responsiveness
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/RecentEventWidget.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/widgets/Widgets.module.scss
Due: none

🌱 Pass application URL to UI from plugin
  framework-plugins/lisk-framework-dashboard-plugin/public/index.html
  framework-plugins/lisk-framework-dashboard-plugin/src/plugin/dashboard_plugin.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/App.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: prettier --write, eslint

💅 Fix format
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/App.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:bug: Fix peer selection to always include fixed peers for sending message
  elements/lisk-p2p/src/utils/select.ts
Due: prettier --write, eslint

:white_check_mark: Add unit tests for peer selection logic
  elements/lisk-p2p/test/unit/utils/select.ts
Due: prettier --write, eslint

♻️ Expose config using express endpoint
  framework-plugins/lisk-framework-dashboard-plugin/public/index.html
  framework-plugins/lisk-framework-dashboard-plugin/src/plugin/dashboard_plugin.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/App.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: prettier --write, eslint

♻️ Run get config effect only once
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:art: Update code as per review
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/tsconfig.json
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/index.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/utils/useRefState.ts
Due: prettier --write, eslint

:seedling: Update dependencies
  commander/package.json
  commander/src/utils/tablify.ts
  elements/lisk-api-client/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-db/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  framework/src/controller/bus.ts
  framework/src/controller/channels/ipc_channel.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

:package: Update ajv package
  elements/lisk-validator/package.json
  yarn.lock
Due: prettier --write

:art: Update the validator to make compatible with ajv 8.1.0
  elements/lisk-validator/src/errors.ts
  elements/lisk-validator/src/keywords/data_type.ts
  elements/lisk-validator/src/keywords/field_number.ts
  elements/lisk-validator/src/lisk_validator.ts
  elements/lisk-validator/src/types.ts
Due: prettier --write, eslint

:white_check_mark: Update tests expectations messages
  elements/lisk-validator/test/lisk_validator.spec.ts
  elements/lisk-validator/test/lisk_validator_errors.spec.ts
  elements/lisk-validator/test/lisk_validator_formats.spec.ts
  elements/lisk-validator/test/lisk_validator_keywords.spec.ts
Due: prettier --write, eslint

:art: Update exports to include legacy error object
  elements/lisk-validator/src/index.ts
Due: prettier --write, eslint

:art: Revert interface change to keep it backward compatible
  elements/lisk-validator/src/lisk_validator.ts
Due: prettier --write, eslint

:bug: Fix invalid schema for transaction protocol spec
  protocol-specs/generator_outputs/lisk_codec/transaction_encodings.json
  protocol-specs/generators/lisk_codec/types_generators/transaction.js
  protocol-specs/package.json
Due: prettier --write, eslint

:art: Update error messages across the packages
  elements/lisk-api-client/test/unit/transaction.spec.ts
  elements/lisk-api-client/test/utils/transaction.ts
  elements/lisk-chain/src/validate.ts
  elements/lisk-chain/test/unit/process.spec.ts
  elements/lisk-validator/src/types.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/transactions.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/src/schema.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/src/defaults/default_config.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/src/schema.ts
  framework/src/controller/jsonrpc/utils.ts
  framework/src/modules/keys/keys_module.ts
  framework/src/schema/application_config_schema.ts
  framework/test/unit/application.spec.ts
  framework/test/unit/controller/channels/base_channel.spec.ts
  framework/test/unit/modules/dpos/delegates.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/register_transaction_asset.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/unlock_transaction_asset.spec.ts
  framework/test/unit/modules/dpos/transaction_assets/vote_transaction_asset.spec.ts
  framework/test/unit/modules/keys/keys_module.spec.ts
  framework/test/unit/modules/keys/register_asset.spec.ts
  framework/test/unit/node/transport/transport.spec.ts
  framework/test/unit/schema/__snapshots__/application_schema.spec.ts.snap
  yarn.lock
Due: prettier --write, eslint
