Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

:recycle: Remove default DPoS module params Enable createGenesisBlock util to be more generic by removing injecting dpos module
  framework/src/testing/create_genesis_block.ts
  framework/test/integration/testing/block_processing_env.spec.ts
  framework/test/unit/modules/keys/keys_module.spec.ts
  framework/test/unit/node/node.spec.ts
  framework/test/unit/testing/create_genesis_block.spec.ts
Due: prettier --write, eslint

:recycle: Remove unwanted dpos module injection Add more tests for block processing
  framework/src/testing/app_env.ts
  framework/src/testing/block_processing_env.ts
  framework/src/testing/create_genesis_block.ts
  framework/src/testing/fixtures/accounts.ts
  framework/test/functional/testing/app_env.spec.ts
  framework/test/integration/testing/block_processing_env.spec.ts
  framework/test/unit/testing/__snapshots__/create_genesis_block.spec.ts.snap
Due: prettier --write, eslint

:recycle: Address review comments
  framework/src/testing/fixtures/accounts.ts
  framework/src/testing/fixtures/config.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

:recycle: Fix linting issues
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Text/Text.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Text/index.tsx
Due: none

:recycle: Update create genesis block Remove unwanted fixtures and config from plugins Update plugins tests to use create genesis block
  framework-plugins/lisk-framework-forger-plugin/test/fixtures/config.json
  framework-plugins/lisk-framework-forger-plugin/test/fixtures/devnet.ts
  framework-plugins/lisk-framework-forger-plugin/test/fixtures/genesis_block.json
  framework-plugins/lisk-framework-forger-plugin/test/fixtures/genesis_delegates.json
  framework-plugins/lisk-framework-forger-plugin/test/functional/__snapshots__/forging_info.spec.ts.snap
  framework-plugins/lisk-framework-forger-plugin/test/functional/__snapshots__/voters.spec.ts.snap
  framework-plugins/lisk-framework-forger-plugin/test/utils/application.ts
  framework-plugins/lisk-framework-forger-plugin/test/utils/genesis_block.ts
  framework-plugins/lisk-framework-forger-plugin/test/utils/transactions.ts
  framework-plugins/lisk-framework-http-api-plugin/test/fixtures/devnet.ts
  framework-plugins/lisk-framework-http-api-plugin/test/fixtures/genesis_delegates.json
  framework-plugins/lisk-framework-http-api-plugin/test/functional/__snapshots__/accounts.spec.ts.snap
  framework-plugins/lisk-framework-http-api-plugin/test/functional/__snapshots__/delegates.spec.ts.snap
  framework-plugins/lisk-framework-http-api-plugin/test/functional/accounts.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/delegates.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/fixtures/config.json
  framework-plugins/lisk-framework-http-api-plugin/test/functional/fixtures/genesis_block.json
  framework-plugins/lisk-framework-http-api-plugin/test/functional/node.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/transactions.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/utils/application.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/utils/transactions.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/fixtures/config.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/fixtures/devnet.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/fixtures/genesis_block.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/integration/cleanup_job.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/__snapshots__/send_pom_transaction.spec.ts.snap
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/unit/send_pom_transaction.spec.ts
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/utils/application.ts
  framework/src/testing/app_env.ts
  framework/src/testing/create_genesis_block.ts
  framework/src/testing/fixtures/config.ts
  framework/test/functional/testing/app_env.spec.ts
  framework/test/unit/testing/__snapshots__/create_genesis_block.spec.ts.snap
Due: prettier --write, eslint

:recycle: Update testing config enable forging by default, enable ipc, update network config remove unwanted config props from plugins remove unwanted tests from monitoring plugin
  framework-plugins/lisk-framework-forger-plugin/test/utils/application.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/utils/application.ts
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/test/functional/index.spec.ts
  framework-plugins/lisk-framework-monitor-plugin/test/functional/jest.config.js
  framework-plugins/lisk-framework-monitor-plugin/test/functional/setup.js
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/utils/application.ts
  framework/src/testing/app_env.ts
  framework/src/testing/fixtures/config.ts
  framework/test/functional/testing/app_env.spec.ts
Due: prettier --write, eslint

Add actions
  framework/src/application.ts
  framework/test/functional/rpc-api/ipc/ipc_client_in_memory.spec.ts
Due: prettier --write, eslint

:sparkles: Add logo component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Logo/Logo.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Logo/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:lipstick: Update letter spacing for the logo text
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Logo/Logo.module.scss
Due: none

:arrow_up: Bump version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
  yarn.lock
Due: prettier --write

🌱 Add copiable text component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopyText/CopyText.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopyText/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:recycle: Apply format
  framework/test/functional/network/transactions.spec.ts
Due: prettier --write, eslint

:recycle: Update framework integration tests use blockProcessingEnv testing util for block processing
  framework/src/testing/block_processing_env.ts
  framework/test/integration/node/processor/delete_block.spec.ts
  framework/test/integration/node/processor/process_block.spec.ts
  framework/test/integration/node/processor/report_misbehavior_transaction.spec.ts
  framework/test/integration/node/processor/transaction_order.spec.ts
  framework/test/integration/node/synchronizer/temp_block.spec.ts
Due: prettier --write, eslint

♻️ Export prop types from Text Icon ♻️ Hide copy icon on copied ♻️ Clear timeout
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopyText/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Icon/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Text/index.tsx
Due: none

♻️ Use text prop for CopiableText
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/CopiableText.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:arrow_up: Update root dependency and lisk-base-eslint
  .gitignore
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-db/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-faucet-plugin/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  package.json
  protocol-specs/package.json
  sdk/package.json
  yarn.lock
Due: prettier --write

♻️ Update height for copiable text span
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/CopiableText.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/CopiableText/index.tsx
Due: none

Add Button component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Button/index.tsx
Due: none

Create Button.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Button/Button.module.scss
Due: none

Create IconButton.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/IconButton/IconButton.module.scss
Due: none

Create IconButton component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/IconButton/index.tsx
Due: none

Update MainPage.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

Update Button.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Button/Button.module.scss
Due: none

Update index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/IconButton/index.tsx
Due: none

Update index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Button/index.tsx
Due: none

Update _constants.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/styles/_constants.scss
Due: none

Update IconButton.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/IconButton/IconButton.module.scss
Due: none
