Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update faucet_plugin.spec.ts.snap
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/__snapshots__/faucet_plugin.spec.ts.snap
Due: none

Add lisk-transactions dependency
  framework-plugins/lisk-framework-faucet-plugin/package.json
Due: prettier --write

Update faucet_plugin.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
Due: prettier --write, eslint

Update app.tsx
  framework-plugins/lisk-framework-faucet-plugin/src/ui/app.tsx
Due: none

Update options
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
Due: prettier --write, eslint

Update config.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/defaults/config.ts
Due: prettier --write, eslint

Update variable
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/defaults/config.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
Due: prettier --write, eslint

Add port and host to config
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/defaults/config.ts
Due: prettier --write, eslint

Update types.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/types.ts
Due: prettier --write, eslint

:recycle: Update names and formats
  framework-plugins/lisk-framework-dashboard-plugin/.prettierignore
  framework-plugins/lisk-framework-dashboard-plugin/README.md
  framework-plugins/lisk-framework-dashboard-plugin/public/index.html
  framework-plugins/lisk-framework-dashboard-plugin/public/manifest.json
  framework-plugins/lisk-framework-dashboard-plugin/scripts/clean.sh
  framework-plugins/lisk-framework-dashboard-plugin/src/plugin/defaults/config.ts
Due: prettier --write, eslint

:fire: Update manifest
  framework-plugins/lisk-framework-dashboard-plugin/public/manifest.json
Due: prettier --write

:recycle: Update snapshot
  framework-plugins/lisk-framework-dashboard-plugin/test/unit/plugin/__snapshots__/faucet_plugin.spec.ts.snap
Due: none

Update auth.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/auth.spec.ts
Due: prettier --write, eslint

Update faucet_plugin.spec.ts
  framework-plugins/lisk-framework-faucet-plugin/test/unit/plugin/faucet_plugin.spec.ts
Due: prettier --write, eslint

Update framework-plugins/lisk-framework-dashboard-plugin/src/plugin/dashboard_plugin.ts
  framework-plugins/lisk-framework-dashboard-plugin/src/plugin/dashboard_plugin.ts
Due: prettier --write, eslint

♻️ Make channel type of apiClient compatible with BaseChannel
  elements/lisk-api-client/src/api_client.ts
  elements/lisk-api-client/src/types.ts
  framework-plugins/lisk-framework-faucet-plugin/src/plugin/faucet_plugin.ts
Due: prettier --write, eslint

:recycle: Update p2p socket message encoding format use base64 instead of binary encoding format update p2p tests
  elements/lisk-p2p/src/constants.ts
  elements/lisk-p2p/src/p2p_request.ts
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/test/functional/actions/request.ts
  elements/lisk-p2p/test/functional/custom_peer_selection.ts
  elements/lisk-p2p/test/unit/p2p_request.ts
  elements/lisk-p2p/test/unit/peer/base.ts
  elements/lisk-p2p/test/unit/peer/outbound.ts
Due: prettier --write, eslint

:truck: Rename variable files as partial
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/styles/_constants.scss
Due: none

:truck: Rename components to capitalize files
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/app.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/text/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/index.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/pages/MainPage.tsx
Due: none

:sparkles: Add icon component
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Icon/Icon.module.scss
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Icon/index.tsx
Due: none

:recycle: Use base64 for data in tests
  elements/lisk-p2p/test/functional/actions/request.ts
  elements/lisk-p2p/test/functional/actions/request_from_peer.ts
  elements/lisk-p2p/test/functional/custom_peer_selection.ts
Due: prettier --write, eslint

:recycle: Update code with feedback
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/App.tsx
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Icon/index.tsx
Due: none

:recycle: Remove unused style
  framework-plugins/lisk-framework-dashboard-plugin/src/ui/components/Icon/Icon.module.scss
Due: none

:recycle: Update integration tests
  framework/src/testing/create_genesis_block.ts
  framework/test/integration/testing/block_processing_env.spec.ts
Due: prettier --write, eslint

:recycle: Refactor createGenesisBlock testing util remove unwanted fixtures and update tests and utils
  framework/src/testing/app_env.ts
  framework/src/testing/block_processing_env.ts
  framework/src/testing/create_contexts.ts
  framework/src/testing/create_genesis_block.ts
  framework/src/testing/fixtures/genesis_block.ts
  framework/src/testing/fixtures/index.ts
  framework/test/unit/modules/dpos/dpos_module.spec.ts
  framework/test/unit/modules/keys/keys_module.spec.ts
  framework/test/unit/node/node.spec.ts
  framework/test/unit/testing/__snapshots__/create_genesis_block.spec.ts.snap
  framework/test/unit/testing/create_block.spec.ts
  framework/test/unit/testing/create_genesis_block.spec.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
