Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

:seedling: Update to allow forge block when seedreveal is used up
  framework/src/application/node/forger/forger.js
  framework/test/jest/unit/specs/application/node/forger/forger.spec.js
Due: prettier --write, eslint

:arrow_up: Update dependency version
  commander/package-lock.json
  commander/package.json
  elements/lisk-api-client/package-lock.json
  elements/lisk-api-client/package.json
  elements/lisk-client/package-lock.json
  elements/lisk-client/package.json
  elements/lisk-constants/package-lock.json
  elements/lisk-constants/package.json
  elements/lisk-cryptography/package-lock.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package-lock.json
  elements/lisk-elements/package.json
  elements/lisk-p2p/package-lock.json
  elements/lisk-p2p/package.json
  elements/lisk-passphrase/package-lock.json
  elements/lisk-passphrase/package.json
  elements/lisk-transaction-pool/package-lock.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package-lock.json
  elements/lisk-transactions/package.json
  elements/lisk-validator/package-lock.json
  elements/lisk-validator/package.json
  framework/package-lock.json
  framework/package.json
Due: prettier --write

:bug: Fix build issue for the sql files
  framework/package.json
  framework/src/controller/bus.js
  framework/src/modules/http_api/init_steps/bootstrap_swagger.js
  framework/test/test_app/app.js
  yarn.lock
Due: prettier --write, eslint

Apply suggestions from code review
  framework/package.json
Due: prettier --write

Add edge case test for pom
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, eslint

:recycle: Exclude dist-node from coverage
  framework/test/mocha/common/lisk-mocha-runner/process_manager.js
Due: prettier --write, eslint

:recycle: Fix the type to be compatible
  elements/lisk-transactions/src/base_transaction.ts
  elements/lisk-transactions/src/transaction_types.ts
Due: prettier --write, eslint

:recycle: Remove eslint rule
  .eslintrc.test.js
Due: prettier --write, eslint

:bug: Fix test
  elements/lisk-transactions/test/utils/verify.spec.ts
Due: prettier --write, eslint

fix: commander/package.json to reduce vulnerabilities
  commander/package.json
Due: prettier --write

:recycle: Update transaction pool to use eslint
  .eslintrc.js
  .eslintrc.test.js
  elements/lisk-transaction-pool/.eslintignore
  elements/lisk-transaction-pool/.eslintrc.js
  elements/lisk-transaction-pool/package.json
  elements/lisk-transaction-pool/src/errors.ts
  elements/lisk-transaction-pool/src/job.ts
  elements/lisk-transaction-pool/src/max_heap.ts
  elements/lisk-transaction-pool/src/min_heap.ts
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
  elements/lisk-transaction-pool/src/types.ts
  elements/lisk-transaction-pool/test/.eslintrc.js
  elements/lisk-transaction-pool/test/tslint.json
  elements/lisk-transaction-pool/test/unit/job.spec.ts
  elements/lisk-transaction-pool/test/unit/max_heap.spec.ts
  elements/lisk-transaction-pool/test/unit/transaction_list.spec.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.spec.ts
  elements/lisk-transaction-pool/test/utils/add_transaction_functions.ts
  elements/lisk-transaction-pool/test/utils/cryptography.ts
  elements/lisk-transaction-pool/tslint.json
Due: prettier --write, eslint

:recycle: Update validator to use eslint
  .eslintrc.js
  elements/lisk-validator/.eslintignore
  elements/lisk-validator/.eslintrc.js
  elements/lisk-validator/package.json
  elements/lisk-validator/src/lisk_validator.ts
  elements/lisk-validator/src/validation.ts
  elements/lisk-validator/test/.eslintrc.js
  elements/lisk-validator/test/lisk_validator.spec.ts
  elements/lisk-validator/test/tslint.json
  elements/lisk-validator/test/validation.spec.ts
  elements/lisk-validator/tslint.json
Due: prettier --write, eslint

:bug: Fix to check additional properties on the p2p message and remove relays
  elements/lisk-p2p/package.json
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/validation.ts
  elements/lisk-p2p/test/unit/validation.ts
  framework/src/modules/chain/transport/transport.js
Due: prettier --write, eslint

:seedling: Add strict rule
  elements/lisk-p2p/src/validation.ts
  framework/src/modules/chain/chain.js
  framework/src/modules/chain/schema/definitions.js
  framework/src/modules/chain/transport/transport.js
  framework/src/modules/network/network.js
Due: prettier --write, eslint

:seedling: Add yarn setup
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

Fix lock after merge
  yarn.lock
Due: none

:seedling: Handle request content validation
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/validation.ts
Due: prettier --write, eslint

:recycle: Improve error message
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, eslint

:recycle: Update dpos to use eslint
  .eslintrc.test.js
  elements/lisk-dpos/.eslintignore
  elements/lisk-dpos/.eslintrc.js
  elements/lisk-dpos/package.json
  elements/lisk-dpos/src/constants.ts
  elements/lisk-dpos/src/delegates_info.ts
  elements/lisk-dpos/src/delegates_list.ts
  elements/lisk-dpos/src/dpos.ts
  elements/lisk-dpos/src/random_seed.ts
  elements/lisk-dpos/src/rounds.ts
  elements/lisk-dpos/src/types.ts
  elements/lisk-dpos/test/.eslintrc.js
  elements/lisk-dpos/test/_setup.js
  elements/lisk-dpos/test/tslint.json
  elements/lisk-dpos/test/unit/apply.spec.ts
  elements/lisk-dpos/test/unit/check_dpos_complaint.spec.ts
  elements/lisk-dpos/test/unit/forgers_list_selection.spec.ts
  elements/lisk-dpos/test/unit/get_forger_addresses_for_round.spec.ts
  elements/lisk-dpos/test/unit/get_min_height_active.spec.ts
  elements/lisk-dpos/test/unit/is_active_delegate.spec.ts
  elements/lisk-dpos/test/unit/is_standby_delegate.spec.ts
  elements/lisk-dpos/test/unit/random_seed.spec.ts
  elements/lisk-dpos/test/unit/rounds.spec.ts
  elements/lisk-dpos/test/unit/shuffled_delegate_list_by_random_seed.spec.ts
  elements/lisk-dpos/test/unit/undo.spec.ts
  elements/lisk-dpos/test/unit/verify_block_forger.spec.ts
  elements/lisk-dpos/test/unit/vote_weight_snapshot.spec.ts
  elements/lisk-dpos/test/utils/deep_freeze.ts
  elements/lisk-dpos/test/utils/random_int.ts
  elements/lisk-dpos/test/utils/round_delegates.ts
  elements/lisk-dpos/test/utils/state_store_mock.ts
  elements/lisk-dpos/tslint.json
Due: prettier --write, eslint

:recycle: Update the type name and add test
  elements/lisk-transaction-pool/src/transaction_list.ts
  elements/lisk-transaction-pool/test/unit/transaction_list.spec.ts
Due: prettier --write, eslint

:recycle: Fix lint error
  elements/lisk-transactions/test/15_pom_transaction.spec.ts
Due: prettier --write, eslint

:recycle: Update bft to use eslint
  .eslintrc.js
  elements/lisk-bft/.eslintignore
  elements/lisk-bft/.eslintrc.js
  elements/lisk-bft/browsertest
  elements/lisk-bft/cypress
  elements/lisk-bft/cypress.json
  elements/lisk-bft/package.json
  elements/lisk-bft/src/bft.ts
  elements/lisk-bft/src/finality_manager.ts
  elements/lisk-bft/src/fork_choice_rule.ts
  elements/lisk-bft/src/types.ts
  elements/lisk-bft/test/.eslintrc.js
  elements/lisk-bft/test/fixtures/accounts.ts
  elements/lisk-bft/test/fixtures/blocks.ts
  elements/lisk-bft/test/protocol_specs/bft_finality_manager_protocol_specs.spec.ts
  elements/lisk-bft/test/protocol_specs/bft_fork_choice_rules_protocol_specs.spec.ts
  elements/lisk-bft/test/protocol_specs/bft_invalid_block_headers_protocol_specs.spec.ts
  elements/lisk-bft/test/tslint.json
  elements/lisk-bft/test/unit/bft.spec.ts
  elements/lisk-bft/test/unit/finality_manager.spec.ts
  elements/lisk-bft/test/unit/fork_choice_rule.spec.ts
  elements/lisk-bft/test/unit/state_store_mock.ts
  elements/lisk-bft/test/unit/utils.spec.ts
  elements/lisk-bft/tsconfig.browsertest.json
  elements/lisk-bft/tslint.json
Due: prettier --write, eslint

:fire: Remove tslint comments
  elements/lisk-chain/src/account.ts
  elements/lisk-chain/src/block_reward.ts
  elements/lisk-chain/src/chain.ts
  elements/lisk-chain/src/data_access/data_access.ts
  elements/lisk-chain/src/data_access/storage.ts
  elements/lisk-chain/src/state_store/consensus_state_store.ts
  elements/lisk-chain/src/transactions/compose_transaction_steps.ts
  elements/lisk-chain/src/types.ts
  elements/lisk-chain/src/utils.ts
  elements/lisk-chain/src/validate.ts
Due: prettier --write, eslint

:recycle: Remove duplicate
  commander/test/.eslintrc.js
Due: prettier --write, eslint

:arrow_up: Bump version
  elements/lisk-elements/package.json
  elements/lisk-p2p/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

:fire: Remove environment dependent tests
  elements/lisk-cryptography/test/encrypt.ts
Due: prettier --write, eslint

:arrow_up: Update nvmrc
  .nvmrc
Due: none

:recycle: Comment on outdated tests
  elements/lisk-p2p/test/unit/peer/base.ts
  elements/lisk-p2p/test/unit/peer_pool.ts
Due: prettier --write, eslint

:bug: Fix invalid nullish check
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/peer/inbound.ts
  elements/lisk-p2p/src/peer/outbound.ts
Due: prettier --write, eslint

:recycle: Update framework eslint from off to warn
  framework/.eslintrc.js
Due: prettier --write, eslint

:seedling: Update framework/utils to be typescript
  framework/.eslintignore
  framework/package.json
  framework/src/application/node/node.js
  framework/src/application/node/utils/error_handlers.ts
  framework/src/application/node/utils/jobs_queue.js
  framework/src/application/node/utils/jobs_queue.ts
  framework/src/application/node/utils/regexp_tester.js
  framework/src/application/node/utils/sequence.js
  framework/src/application/node/utils/sequence.ts
  framework/test/jest/.eslintrc.js
  framework/test/jest/config/jest.config.base.js
  framework/test/jest/unit/jest.config.js
  framework/test/jest/unit/specs/application/node/utils/jobs_queue.spec.js
  framework/test/jest/unit/specs/application/node/utils/jobs_queue.spec.ts
  framework/test/jest/unit/specs/application/node/utils/regexp_tester.spec.js
  framework/test/jest/unit/specs/application/node/utils/sequence.spec.ts
Due: prettier --write, eslint

:recycle: Fix mock order
  framework/test/jest/unit/specs/application/application.spec.js
  framework/test/jest/unit/specs/application/application_state.spec.js
  framework/test/jest/unit/specs/application/validator/keywords/arg.spec.js
  framework/test/jest/unit/specs/application/validator/keywords/env.spec.js
  framework/test/jest/unit/specs/controller/bus.spec.js
  framework/test/jest/unit/specs/controller/channels/base_channel.spec.js
  framework/test/jest/unit/specs/controller/channels/child_process_channel.spec.js
  framework/test/jest/unit/specs/controller/channels/in_memory_channel.spec.js
  framework/test/jest/unit/specs/controller/controller.spec.js
Due: prettier --write, eslint

:recycle: Fix job queues test
  framework/test/jest/unit/specs/application/node/node.spec.js
  framework/test/jest/unit/specs/application/transport/transport.spec.js
  framework/test/jest/unit/specs/jest.config/__snapshots__/jest.config.unit.spec.js.snap
Due: prettier --write, eslint

:fire: Remove duplicate code
  elements/lisk-transaction-pool/src/index.ts
  framework/src/application/node/node.js
  framework/src/application/node/utils/jobs_queue.ts
  framework/test/jest/unit/specs/application/node/node.spec.js
  framework/test/jest/unit/specs/application/node/transport/transport.spec.js
  framework/test/jest/unit/specs/application/node/utils/jobs_queue.spec.ts
  framework/test/utils/legacy/modules_loader.js
Due: prettier --write, eslint
