Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
	"*.{js,ts}": ["prettier --write", "eslint"],
	"*.{json,md}": ["prettier --write"]
}

:art: Fix consistent return promise issue
  elements/lisk-api-client/src/ws_channel.ts
Due: prettier --write, eslint

:white_check_mark: Update ws server startup file to wait for server listening
  elements/lisk-api-client/src/ws_channel.ts
  elements/lisk-client/cypress/ws_server.js
Due: prettier --write, eslint

:art: Update the ws sever port for e2e tests
  elements/lisk-client/cypress/ws_server.js
  elements/lisk-client/package.json
  elements/lisk-client/test/lisk-api-client/ws_client.spec.ts
Due: prettier --write, eslint

:green_heart: Update ci test script to start the ws server
  elements/lisk-client/package.json
Due: prettier --write

Apply PR feedback
  framework/src/system_dirs.ts
Due: prettier --write, eslint

:art: Remove acknowledmgent timeout on sending requests
  elements/lisk-api-client/src/ws_channel.ts
Due: prettier --write, eslint

Move tilde resolution from application constructor to inside system directories
  framework/src/application.ts
  framework/src/system_dirs.ts
Due: prettier --write, eslint

Add unit tests & improve readability
  framework/src/system_dirs.ts
  framework/test/unit/application.spec.ts
  framework/test/unit/controller/controller.spec.ts
  framework/test/unit/system_dirs.spec.ts
Due: prettier --write, eslint

Fix functional tests
  framework-plugins/lisk-framework-forger-plugin/test/functional/forging_info.spec.ts
  framework-plugins/lisk-framework-forger-plugin/test/functional/voters.spec.ts
Due: prettier --write, eslint

Handle error status response
  framework-plugins/lisk-framework-http-api-plugin/src/middlewares/errors.ts
  framework-plugins/lisk-framework-monitor-plugin/src/middlewares/errors.ts
Due: prettier --write, eslint

Add logic to check whitelist error by status code
  framework-plugins/lisk-framework-http-api-plugin/src/middlewares/errors.ts
  framework-plugins/lisk-framework-http-api-plugin/src/middlewares/whitelist.ts
Due: prettier --write, eslint

Repeat for monitor plugin
  framework-plugins/lisk-framework-monitor-plugin/src/middlewares/errors.ts
  framework-plugins/lisk-framework-monitor-plugin/src/middlewares/whitelist.ts
Due: prettier --write, eslint

Apply feedback
  framework-plugins/lisk-framework-http-api-plugin/src/middlewares/errors.ts
  framework-plugins/lisk-framework-monitor-plugin/src/middlewares/errors.ts
Due: prettier --write, eslint

Remove duplicated status code from error response
  framework-plugins/lisk-framework-http-api-plugin/src/middlewares/errors.ts
  framework-plugins/lisk-framework-monitor-plugin/src/middlewares/errors.ts
Due: prettier --write, eslint

:arrow_up: Bump version
  elements/lisk-api-client/package.json
  elements/lisk-client/package.json
  elements/lisk-elements/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

:bug: Fix the compliance check when the maxHeightPreviouslyForged is not in the cache
  elements/lisk-bft/src/bft.ts
  elements/lisk-bft/test/unit/bft.spec.ts
Due: prettier --write, eslint

:recycle: Update condition to check the height difference first
  elements/lisk-bft/src/bft.ts
Due: prettier --write, eslint

:recycle: Fix to use the constant defined
  elements/lisk-bft/src/bft.ts
Due: prettier --write, eslint

:sparkles: Add conditional exports and types support in package
  elements/lisk-client/package.json
Due: prettier --write

:arrow_up: Bump version
  elements/lisk-bft/package.json
  elements/lisk-client/package.json
  elements/lisk-elements/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  sdk/package.json
Due: prettier --write

Add autocomplete plugin for oclif
  commander/package.json
Due: prettier --write

Update readme & add instructions for autocomplete
  commander/README.md
Due: prettier --write

Include yarn lock
  yarn.lock
Due: none

Update readme
  commander/README.md
Due: prettier --write

Add missing descriptions
  commander/package.json
Due: prettier --write

Update commander/package.json
  commander/package.json
Due: prettier --write

Resolve tilde
  elements/lisk-api-client/src/ipc_channel.ts
Due: prettier --write, eslint

:recycle: Expose getBytes function
  elements/lisk-transactions/src/index.ts
Due: prettier --write, eslint

:bug: Fix post transaction type
  elements/lisk-api-client/src/transaction.ts
  framework-plugins/lisk-framework-http-api-plugin/src/controllers/transactions.ts
  framework/src/node/transport/transport.ts
Due: prettier --write, eslint

:recycle: Add unit test for post transaction
  elements/lisk-api-client/test/unit/transaction.spec.ts
Due: prettier --write, eslint

:arrow_up: Bump node.js Version
  .nvmrc
Due: none
