Repository LiskArchive/lisk-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Add fromJSON and toJSON methods to account namespace in lisk-api-client
  elements/lisk-api-client/src/account.ts
  elements/lisk-api-client/test/unit/account.spec.ts
Due: prettier --write, eslint

:art: Update naming convention for ws channel
  elements/lisk-api-client/src/client.ts
  elements/lisk-api-client/src/create_clients.ts
  elements/lisk-api-client/src/create_ws_client.ts
  elements/lisk-api-client/src/index.ts
  elements/lisk-api-client/src/ws_channel.ts
  elements/lisk-api-client/test/integration/ws_channel.spec.ts
  elements/lisk-api-client/test/unit/ws_channel.spec.ts
Due: prettier --write, eslint

Add fromJSON and toJSON methods to block namespace in lisk-api-client
  elements/lisk-api-client/src/block.ts
  elements/lisk-api-client/src/types.ts
  elements/lisk-api-client/test/unit/block.spec.ts
Due: prettier --write, eslint

Add fromJSON and toJSON methods to transaction namespace in lisk-api-client
  elements/lisk-api-client/src/transaction.ts
  elements/lisk-api-client/test/unit/transaction.spec.ts
Due: prettier --write, eslint

remove unsued type import
  elements/lisk-api-client/src/types.ts
Due: prettier --write, eslint

:speech_balloon: Fix spelling for exported function
  elements/lisk-api-client/src/create_clients.ts
  elements/lisk-api-client/src/index.ts
Due: prettier --write, eslint

:white_check_mark: Fix broken funtional test
  framework/test/functional/utils/application.ts
Due: prettier --write, eslint

Solves PR feedback
  elements/lisk-api-client/src/block.ts
  elements/lisk-api-client/src/transaction.ts
  elements/lisk-api-client/src/types.ts
  elements/lisk-api-client/test/unit/block.spec.ts
  elements/lisk-api-client/test/unit/transaction.spec.ts
Due: prettier --write, eslint

:seedling: Export api client from sdk, elements and client
  elements/README.md
  elements/lisk-client/README.md
  elements/lisk-client/package.json
  elements/lisk-client/src/index.ts
  elements/lisk-elements/README.md
  elements/lisk-elements/package.json
  elements/lisk-elements/src/index.ts
  sdk/package.json
  sdk/src/index.ts
Due: prettier --write, eslint

:recycle: Update test
  elements/lisk-client/test/__snapshots__/index.spec.ts.snap
  elements/lisk-elements/test/__snapshots__/index.spec.ts.snap
Due: none

:recycle: Move globally scoped variables framework
  framework/test/integration/controller/in_memory_channel.spec.ts
  framework/test/integration/controller/ipc/ipc_client.spec.ts
  framework/test/integration/controller/ipc/ipc_server.spec.ts
  framework/test/integration/controller/ipc_channel.spec.ts
  framework/test/integration/controller/ipc_channel_without_bus.spec.ts
  framework/test/unit/application.spec.ts
  framework/test/unit/controller/channels/ipc_channel.spec.ts
  framework/test/unit/modules/dpos/delegates.spec.ts
  framework/test/unit/modules/dpos/dpos_module.spec.ts
  framework/test/unit/node/network/lookup_peers_ips.spec.ts
Due: prettier --write, eslint

:recycle: Fix failing test
  framework/test/unit/controller/channels/ipc_channel.spec.ts
Due: prettier --write, eslint

:recycle: Move rest of globally scoped variables
  elements/lisk-bft/test/protocol_specs/bft_finality_manager_protocol_specs.spec.ts
  elements/lisk-bft/test/protocol_specs/bft_fork_choice_rules_protocol_specs.spec.ts
  elements/lisk-chain/test/unit/slots.spec.ts
  elements/lisk-codec/test/add_schema.spec.ts
  elements/lisk-transactions/test/sign.spec.ts
  elements/lisk-transactions/test/validate.spec.ts
  elements/lisk-validator/test/lisk_validator_errors.spec.ts
  elements/lisk-validator/test/lisk_validator_keywords.spec.ts
  framework-plugins/lisk-framework-http-api-plugin/test/functional/transactions.spec.ts
Due: prettier --write, eslint

Update node action getvalidators to return additional properties
  framework/src/node/node.ts
Due: prettier --write, eslint

Add functional test for action getForgers
  framework/test/functional/actions/application.spec.ts
Due: prettier --write, eslint

Improve validator property mapping
  framework/src/node/node.ts
Due: prettier --write, eslint

Fix test & cleanup
  framework/src/node/node.ts
  framework/test/functional/actions/application.spec.ts
Due: prettier --write, eslint

:bug: Fix IPC client implementation
  elements/lisk-api-client/src/api_client.ts
  elements/lisk-api-client/src/ipc_channel.ts
  elements/lisk-api-client/src/types.ts
  elements/lisk-api-client/src/ws_channel.ts
  elements/lisk-api-client/test/integration/ipc_channel.spec.ts
Due: prettier --write, eslint

:bug: Fix transaction id format
  elements/lisk-api-client/src/transaction.ts
Due: prettier --write, eslint

Remove mock functional tests & cleanup
  framework-plugins/lisk-framework-http-api-plugin/test/functional/peers.spec.ts
Due: prettier --write, eslint

Cleanup test from PR review feedback
  framework-plugins/lisk-framework-http-api-plugin/test/functional/peers.spec.ts
Due: prettier --write, eslint

Increase timeout in integration test
  framework-plugins/lisk-framework-report-misbehavior-plugin/test/integration/cleanup_job.spec.ts
Due: prettier --write, eslint

:sparkles: Add support for cypress to lisk-client
  elements/lisk-client/cypress.json
  elements/lisk-client/cypress/plugins/index.js
  elements/lisk-client/cypress/support/commands.js
  elements/lisk-client/cypress/support/index.js
  elements/lisk-client/package.json
Due: prettier --write, eslint

:arrow_up: Bump version
  commander/package.json
  elements/lisk-api-client/package.json
  elements/lisk-bft/package.json
  elements/lisk-chain/package.json
  elements/lisk-client/package.json
  elements/lisk-codec/package.json
  elements/lisk-cryptography/package.json
  elements/lisk-elements/package.json
  elements/lisk-genesis/package.json
  elements/lisk-p2p/package.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transactions/package.json
  elements/lisk-tree/package.json
  elements/lisk-utils/package.json
  elements/lisk-validator/package.json
  framework-plugins/lisk-framework-forger-plugin/package.json
  framework-plugins/lisk-framework-http-api-plugin/package.json
  framework-plugins/lisk-framework-monitor-plugin/package.json
  framework-plugins/lisk-framework-report-misbehavior-plugin/package.json
  framework/package.json
  protocol-specs/package.json
  sdk/package.json
Due: prettier --write

:art: Update cypress configuration to use jest
  elements/lisk-client/cypress/plugins/index.js
  elements/lisk-client/cypress/support/commands.js
  elements/lisk-client/cypress/support/index.js
  elements/lisk-client/package.json
Due: prettier --write, eslint

:white_check_mark: Add lisk-cryptography tests for lisk-client
  elements/lisk-client/test/lisk-cryptograph/buffer.spec.ts
  elements/lisk-client/test/lisk-cryptograph/convert.spec.ts
  elements/lisk-client/test/lisk-cryptograph/encrypt.spec.ts
  elements/lisk-client/test/lisk-cryptograph/hash.spec.ts
  elements/lisk-client/test/lisk-cryptograph/hash_onion.spec.ts
  elements/lisk-client/test/lisk-cryptograph/keys.spec.ts
  elements/lisk-client/test/lisk-cryptograph/legacy_address.spec.ts
  elements/lisk-client/test/lisk-cryptograph/sign.spec.ts
Due: prettier --write, eslint

:mute: Update missing spec extension for one test file in cryptography
  elements/lisk-cryptography/test/legacy_address.spec.ts
Due: prettier --write, eslint

:package: Add script to patch cypress runtime to overcome the buffer issue
  elements/lisk-client/cypress/scripts/patch_buffer_package.sh
  elements/lisk-client/package.json
  elements/lisk-client/test/lisk-cryptograph/hash_onion.spec.ts
  elements/lisk-client/test/lisk-cryptograph/keys.spec.ts
  elements/lisk-client/test/lisk-cryptograph/legacy_address.spec.ts
Due: prettier --write, eslint

:arrow_up: Update cypress patch to be compatible with Linux enviornment
  elements/lisk-client/cypress/scripts/patch_buffer_package.sh
Due: none

:art: Update packages and config for cypress
  elements/lisk-client/.eslintignore
  elements/lisk-client/test/tsconfig.json
  yarn.lock
Due: prettier --write

:rotating_light: Update the prettier formatting for ignored files
  elements/lisk-client/cypress.json
  elements/lisk-client/cypress/plugins/index.js
  elements/lisk-client/cypress/support/index.js
  elements/lisk-client/test/lisk-cryptograph/encrypt.spec.ts
  elements/lisk-client/test/tsconfig.json
Due: prettier --write, eslint

:sparkles: Add Jenkins pipeline for end-to-end tests
  Jenkinsfile.sdk
Due: none

:art: Add cypress install step befor e2e tests
  elements/lisk-client/package.json
Due: prettier --write

:art: Update jenkins script to run e2e tests
  Jenkinsfile.sdk
  elements/lisk-client/package.json
Due: prettier --write

:art: Fix relative path issue in bash script
  elements/lisk-client/cypress/scripts/patch_buffer_package.sh
Due: none

Fix nonce validation
  elements/lisk-api-client/src/transaction.ts
Due: prettier --write, eslint

Add unit test for zero nonce as input to create transaction
  elements/lisk-api-client/test/unit/__snapshots__/transaction.spec.ts.snap
  elements/lisk-api-client/test/unit/transaction.spec.ts
Due: prettier --write, eslint

🌱 Add sample hello_plugin
  framework/test/functional/utils/hello_plugin.ts
Due: prettier --write, eslint

♻️ Add util CreateApplicationWithPlugin
  framework/test/functional/utils/application.ts
Due: prettier --write, eslint

✅ Add ws client test
  framework/package.json
  framework/test/functional/api-client-testing/ws/ws_client.spec.ts
  framework/test/functional/api-client-testing/ws/ws_client_child_process.spec.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint: any of: *.{js,ts}
